footer.footer
  .container
    .footer-wrap
      .copy © 2018. All rights reserved by Filancy.
      .social
        a(href="https://www.facebook.com" target="blank")
          .icon
            img(src="img/facebook_logo.png", alt="facebook")
        a(href="https://www.linkedin.com/" target="blank")
          .icon
            img(src="img/linkedin_logo.png", alt="linkedIn")

      .mail
        a(href="mailto:info@filancy.com") info@filancy.com