footer.footer
  .container
    .footer-nav
      .row
        .col-md-4
          ul
            li Israel 
              a(href="tel:+972 3375 11 34") +972 3375 11 34
            li USA  
              a(href="tel:+1 929 322 8811") +1 929 322 8811
            li Great Britain  
              a(href="tel:+44 20 4577 1146") +44 20 4577 1146
            li Ukraine  
              a(href="tel:+380 95 687 29 07") +380 95 687 29 07

    .footer-wrap
      .copy © 2018. All rights reserved by Filancy.
      .social
        a(href="https://www.facebook.com/acalistagroup" target="blank")
          .icon
            img(src="img/facebook_logo.png", alt="facebook")
        a(href="https://www.instagram.com/acalistagroup/" target="blank")
          .icon
            img(src="img/instagram-brands.png", alt="instagram")
        a(href="https://www.linkedin.com/company/acalista-group/" target="blank")
          .icon
            img(src="img/linkedin_logo.png", alt="linkedIn")
        a(href="https://twitter.com/AcalistaGroup" target="blank")
          .icon
            img(src="img/twitter-brands.png", alt="linkedIn")


      .mail
        a(href="mailto:info@filancy.com") info@filancy.com