.header
  .container
    .header-wrap
      .logo
        img(src="img/logo.png", alt="logo")
      ul.header-menu
        li
          a(href="index.html")
            .text Consulting
            .line
            .number 01
        li
          a(href="index.html")
            .text Marketing
            .line
            .number 02
        li
          a(href="index.html")
            .text Development
            .line
            .number 03
        li
          a(href="index.html")
            .text Cryptocurrency
            .line
            .number 04
        li
          a(href="index.html")
            .text Legal services
            .line
            .number 05
        li
          a(href="index.html")
            .text Real estate
            .line
            .number 06

                