@font-face
  font-family: "ProximaNova"
  src: url('~@fonts/ProximaNova/ProximaNova-Regular.woff2') format('woff2'), url('fonts/ProximaNova/ProximaNova-Regular.woff') format('woff')

@font-face
  font-family: "ProximaNova"
  src: url('fonts/ProximaNova/ProximaNova-Bold.woff2') format('woff2'), url('fonts/ProximaNova/ProximaNova-Bold.woff') format('woff')
  font-weight: bold

@font-face
  font-family: "ProximaNova"
  src: url('fonts/ProximaNova/ProximaNova-Light.woff2') format('woff2'), url('fonts/ProximaNova/ProximaNova-Light.woff') format('woff')
  font-weight: lighter

@font-face
  font-family: "ProximaNova"
  src: url('fonts/ProximaNova/ProximaNova-Regular.woff2') format('woff2'), url('fonts/ProximaNova/ProximaNova-Regular.woff') format('woff')
  font-weight: 500

body
  font-family: 'ProximaNova'
  background-color: #dfdfdf
  opacity: 0
a
  color: inherit
  text-decoration: none
  &:hover
    text-decoration: none
    color: inherit
h3
  font-size: 36px
  text-align: center
  color: #000000
  font-weight: 700
  &.letter
    &::first-letter
      color: #1e4ea7
.container
  @media (min-width:1100px)
    max-width: 1980px
  @media (min-width:1200px)
    max-width: 1180px
  @media (min-width:1300px)
    max-width: 1280px
  @media (min-width:1400px)
    max-width: 1380px
  @media (min-width:1500px)
    max-width: 1480px
  @media (min-width:1600px)
    max-width: 1580px
  @media (min-width:1700px)
    max-width: 1680px
  @media (min-width:1800px)
    max-width: 1780px
    


@import './layout/header'
@import './layout/footer'
// @import './components/cube'

.main-section
  padding: 50px 0
  min-height: 100vh
  .container
    position: relative
    .row
      .col-md-6:last-child
        display: flex
        align-items: center
        justify-content: center
    @media (min-width: 1850px)
      max-width: 1800px
  .title
    font-weight: bold
    font-size: 110px
    color: #151515
    display: flex
    align-items: center
    margin-top: 250px
    span
      display: inline-block
      &:first-child
        font-size: 95px
        margin-right: 60px
      &:last-child
        font-size: 110px
        &::first-letter
          color: #1e4ea7
  .sub-title
    display: flex
    padding-left: 50px
    .arrow
      margin-right: 75px
  .video-link
    margin-top: 266px
    margin-left: -18px
    display: flex
    width: fit-content
    .text
      text-align: right
      margin-right: 32px
      color: #050505
      font-size: 21px
      line-height: 30px
      font-weight: bold
    .button
      display: flex
      justify-content: center
      align-items: center
      border: 2px solid #cf093c
      width: 71px
      height: 71px
      border-radius: 50%
      transition: .3s
    &:hover
      .button
        transform: scale(1.1)
  &.consulting
    background-image: url('../img/consulting_main.png')
    background-repeat: no-repeat

.title-cube
  color: #ffffff
  background-color: #1e4ea7
  width: 200px
  height: 200px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  margin-top: 45px
  margin-left: 22px
  margin-right: 48px
  p
    font-size: 18px
    letter-spacing: 4px
    margin-top: 25px
  img
    margin-top: 30px

.check-list
  list-style: none
  color: #848484
  font-size: 16px
  padding: 0
  margin: 0
  padding-left: 50px
  li
    position: relative
    padding-left: 25px
    margin-bottom: 25px
    &::before
      content: ''
      position: absolute
      top: 5px
      left: -10px
      width: 20px
      height: 14px
      background-image: url('../img/check.png')

.section
  .section-title
    display: flex
    align-items: flex-end
  h2
    font-size: 36px
    font-weight: 700
    color: #151515
    span
      color: #1e4ea7
  &.consulting-1
    padding-top: 18px
    .container
      background-image: url('../img/consulting_1.png')
      background-repeat: no-repeat
      background-size: 96%
      background-position: 64px 0
      padding-bottom: 239px
      @media (min-width: 1850px)
        max-width: 1805px
    .check-list
      margin-top: 63px
      &.left
        margin-left: 128px
      &.top
        margin-top: -10px
        margin-left: 13px
        li
          margin-bottom: 21px
          @media (min-width: 1700px)
            max-width: 600px

  &.consulting-2
    h3
      margin-bottom: 33px
    .container
      @media (min-width: 1450px)
        max-width: 1315px
    .tabs
      .nav
        justify-content: center
        a
          border: 1px solid #c7c7c8
          font-size: 16px
          color: #1e4ea7
          transition: .3s
          padding: 7px 18px
          margin-left: 5px
          margin-bottom: 15px
          &:hover
            color: #ffffff
            background-color: #1e4ea7
    .tab-content
      .container
        @media (min-width: 1500px)
          max-width: 1455px
      .table
        margin-top: 17px
        .row
          &>div
            padding: 0
            border-top: 1px solid #c7c7c8
            border-left: 1px solid #c7c7c8
            &:last-child
              border-right: 1px solid #c7c7c8
            .table-item
              border-bottom: 1px solid #c7c7c8
              color: #151515
              font-size: 16px
              padding: 7px 38px
              font-weight: 600