@font-face
  font-family: "ProximaNova"
  src: url('~@fonts/ProximaNova/ProximaNova-Regular.woff2') format('woff2'), url('fonts/ProximaNova/ProximaNova-Regular.woff') format('woff')

@font-face
  font-family: "ProximaNova"
  src: url('fonts/ProximaNova/ProximaNova-Bold.woff2') format('woff2'), url('fonts/ProximaNova/ProximaNova-Bold.woff') format('woff')
  font-weight: bold

@font-face
  font-family: "ProximaNova"
  src: url('fonts/ProximaNova/ProximaNova-Light.woff2') format('woff2'), url('fonts/ProximaNova/ProximaNova-Light.woff') format('woff')
  font-weight: lighter

@font-face
  font-family: "ProximaNova"
  src: url('fonts/ProximaNova/ProximaNova-Regular.woff2') format('woff2'), url('fonts/ProximaNova/ProximaNova-Regular.woff') format('woff')
  font-weight: 500

@font-face
  font-family: "ProximaNova"
  src: url('fonts/ProximaNova/ProximaNova-Semibold.woff2') format('woff2'), url('fonts/ProximaNova/ProximaNova-Semibold.woff') format('woff')
  font-weight: 600

body
  font-family: 'ProximaNova'
  background-image: url('../img/body_bg.png')
  background-size: cover
  opacity: 0
a
  color: inherit
  text-decoration: none
  &:hover
    text-decoration: none
    color: inherit
h3
  font-size: 36px
  text-align: center
  color: #000000
  font-weight: 700
  &.letter
    &::first-letter
      color: #1e4ea7
  &.word
    span
      color: #1e4ea7
.container
  @media (min-width:1100px)
    max-width: 1980px
  @media (min-width:1200px)
    max-width: 1180px
  @media (min-width:1300px)
    max-width: 1280px
  @media (min-width:1400px)
    max-width: 1380px
  @media (min-width:1500px)
    max-width: 1480px
  @media (min-width:1600px)
    max-width: 1580px
  @media (min-width:1700px)
    max-width: 1680px
  @media (min-width:1800px)
    max-width: 1780px
    


@import './layout/header'
@import './layout/footer'
// @import './components/cube'

.main-section
  padding: 50px 0
  min-height: 100vh
  .container
    position: relative
    .row
      .col-md-6:last-child
        display: flex
        align-items: center
        justify-content: center
    @media (min-width: 1850px)
      max-width: 1800px
  .title
    font-weight: bold
    font-size: 110px
    color: #151515
    display: flex
    align-items: center
    margin-top: 250px
    span
      display: inline-block
      &:first-child
        font-size: 95px
        margin-right: 60px
      &:last-child
        font-size: 110px
        &::first-letter
          color: #1e4ea7
  .sub-title
    display: flex
    padding-left: 50px
    .arrow
      margin-right: 75px
  .video-link
    margin-top: 266px
    margin-left: -18px
    display: flex
    width: fit-content
    .text
      text-align: right
      margin-right: 32px
      color: #050505
      font-size: 21px
      line-height: 30px
      font-weight: bold
    .button
      display: flex
      justify-content: center
      align-items: center
      border: 2px solid #cf093c
      width: 71px
      height: 71px
      border-radius: 50%
      transition: .3s
    &:hover
      .button
        transform: scale(1.1)
  &.consulting
    background-image: url('../img/consulting_main.png')
    background-repeat: no-repeat

.title-cube
  color: #ffffff
  background-color: #1e4ea7
  width: 200px
  height: 200px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  margin-top: 45px
  margin-left: 22px
  margin-right: 48px
  p
    font-size: 18px
    letter-spacing: 4px
    margin-top: 25px
  img
    margin-top: 30px

.check-list
  list-style: none
  color: #848484
  font-size: 16px
  padding: 0
  margin: 0
  padding-left: 50px
  li
    position: relative
    padding-left: 25px
    margin-bottom: 25px
    &::before
      content: ''
      position: absolute
      top: 5px
      left: -10px
      width: 20px
      height: 14px
      background-image: url('../img/check.png')

.color-block
  color: #ffffff
  span
    font-weight: 600
  p.small
    font-size: 24px
  p.big
    font-size: 36px
  p.red
    color: #cf093c
    text-align: center
    letter-spacing: 24px
    line-height: 36px
    margin-top: 133px
    font-size: 24px
    margin-left: 407px
    font-weight: 500
    span
      font-weight: 500
      margin-left: 40px

.button
  width: 334px
  height: 67px
  color: #ffffff
  display: flex
  align-items: center
  justify-content: flex-end
  padding-right: 54px
  position: relative
  transition: all 0.3s
  font-size: 22px
  font-weight: 600
  letter-spacing: 1px
  &:before
    content: ''
    position: absolute
    transition: all 0.2s
    bottom: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 1
    opacity: 0
    background: rgba(255, 255, 255, 0.4)
    transform: scale(1, 0.1)
  &:hover:before
    opacity: 1
    transform: scale(1, 1)
  &:after
    content: ''
    position: absolute
    transition: all 0.3s
    bottom: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 1
    transition: all 0.2s
  &:hover:after
    transform: scale(1, .1)
    opacity: 0    
  &.red
    background-color: #cf093c

.section
  .section-title
    display: flex
    align-items: flex-end
  h2
    font-size: 36px
    font-weight: 700
    color: #151515
    span
      color: #1e4ea7
  &.consulting-1
    padding-top: 18px
    .container
      background-image: url('../img/consulting_1.png')
      background-repeat: no-repeat
      background-size: 96%
      background-position: 64px 0
      padding-bottom: 239px
      @media (min-width: 1850px)
        max-width: 1805px
    .check-list
      margin-top: 63px
      &.left
        margin-left: 128px
      &.top
        margin-top: -10px
        margin-left: 13px
        li
          margin-bottom: 21px
          @media (min-width: 1700px)
            max-width: 600px

  &.consulting-2
    h3
      margin-bottom: 33px
    .container
      @media (min-width: 1450px)
        max-width: 1315px
    .tabs
      .nav
        justify-content: center
        a
          border: 1px solid #c7c7c8
          font-size: 16px
          color: #1e4ea7
          transition: .3s
          padding: 7px 18px
          margin-left: 5px
          margin-bottom: 15px
          &:hover, &.active
            color: #ffffff
            background-color: #1e4ea7
    .tab-content
      background-image: url('../img/map.png')
      background-repeat: no-repeat
      padding-bottom: 1325px
      background-position: center
      background-size: 85%
      .container
        position: relative
        @media (min-width: 1500px)
          max-width: 1425px
      .table
        margin-top: 17px
        .row
          &>div
            padding: 0
            border-top: 1px solid #c7c7c8
            border-left: 1px solid #c7c7c8
            &:last-child
              border-right: 1px solid #c7c7c8
            .table-item
              border-bottom: 1px solid #c7c7c8
              color: #151515
              font-size: 16px
              padding: 7px 38px
              font-weight: 600
      .tab-pane
        position: absolute
        width: 100%
        top: 0
        left: 0

  &.consulting-3
    margin-top: -133px
    padding-bottom: 120px
    .container
      background-image: url('../img/law.png')
      background-repeat: no-repeat
      background-position: left
      @media (min-width: 1500px)
        max-width: 1485px
    h3
      text-align: left
      position: relative
      padding-left: 10px
      line-height: 45px
      margin-bottom: 43px
      &::before
        content: ''
        position: absolute
        left: -30px
        top: 0
        width: 32px
        height: 38px
        background-image: url('../img/file.png')
        background-repeat: no-repeat
    .consulting-3-list
      margin-left: -50px
      li
        color: #848484
        font-size: 16px
        padding-left: 19px

  &.consulting-4
    .container
      background-image: url('../img/consulting_4.png')
      background-repeat: no-repeat
      background-size: cover
      border-right: 17px solid #1e4ea7
      padding: 46px 0 27px
      @media (min-width: 1700px)
        max-width: 1667px
    h3
      text-align: left
      position: relative
      padding-left: 10px
      line-height: 45px
      margin: 0 0 40px 144px
      &::before
        content: ''
        position: absolute
        left: -39px
        top: 5px
        width: 36px
        height: 36px
        background-image: url('../img/tag.png')
        background-repeat: no-repeat
    .consulting-4-list
      margin-left: 111px
      list-style: none
      li
        color: #848484
        font-size: 16px
        padding-left: 0
        position: relative
        margin-bottom: 6px
        max-width: 800px
        &::before
          content: ''
          position: absolute
          left: -43px
          top: 13px
          width: 30px
          height: 1px
          background-color: #1e4ea7

  &.consulting-5
    padding: 30px 0 108px
    .container
      background-image: url('../img/consulting_5.png')
      background-repeat: no-repeat
      background-position: 87% 46px
      padding: 46px 0 27px
      @media (min-width: 1700px)
        max-width: 1667px
    h3
      text-align: center
      line-height: 45px
      margin-bottom: 73px
    .consulting-5-list
      list-style: none
      &.left
        margin-left: 46px
      &.right
        margin-left: 72px
      li
        color: #848484
        font-size: 16px
        padding-left: 0
        position: relative
        max-width: 550px
        margin-bottom: 25px
        span
          font-weight: 600
          color: #000000
        &::before
          content: ''
          position: absolute
          left: -50px
          top: 0
          width: 30px
          height: 37px
          background-image: url('../img/reward.png')

  &.consulting-6
    padding: 55px 0 37px
    background-image: url('../img/consulting_6.png')
    background-repeat: no-repeat
    background-size: cover
    .container
      @media (min-width: 1610px)
        max-width: 1590px
    .color-block
      p
        &.small
          max-width: 700px
        &.big
          margin-top: 33px
          max-width: 620px
          line-height: 49px
      .button
        margin-top: 47px
        margin-left: 94px

  &.consulting-7
    padding-top: 28px
    .title-cube
      margin-top: 58px
    .sub-text
      font-size: 16px
      color: #151515
      margin-left: 165px
      margin-top: 20px
      &.center
        text-align: center
        margin: 120px auto 0
        max-width: 980px
      &.bottom
        text-align: center
        margin: 54px auto 43px
        max-width: 1000px
    &>.container
      background-image: url('../img/consulting_7.png')
      background-repeat: no-repeat
      background-size: 100%
      background-position: 67px -39px
      @media (min-width: 1850px)
        max-width: 1805px
    .check-list
      margin-top: 25px
      margin-left: 128px
      li
        margin-bottom: 6px
    .small-tabs
      margin-top: 63px
      .container
        @media (min-width: 1500px)
          max-width: 1442px
      .nav
        list-style: inherit
        display: block
        border-right: 1px solid #C2C2C2
        max-width: 518px
        li
          margin-bottom: 19px
          padding-left: 18px
          a
            color: #151515
            font-size: 21px
            font-weight: 600
            &.active, &:hover
              color: #1e4ea7
      .tab-pane
        font-size: 16px
        color: #848484
        list-style: none
        margin-top: 21px
        margin-left: -34px
        padding: 0
        transition: all 0.2s
        transform: translateX(2rem)
        position: absolute
        &.show
          transform: translateX(0rem)
        li
          margin-bottom: 6px

  &.consulting-8
    padding: 63px 0 82px
    background-image: url('../img/consulting_8.png')
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    .container
      @media (min-width: 1610px)
        max-width: 1590px
    .color-block
      p
        &.small
          max-width: 700px
          margin-top: 33px
        &.big
          max-width: 710px
          line-height: 49px
          font-size: 37px
          span
            font-size: 47px
        &.red
          margin-left: 318px
          font-size: 25px
          margin-top: 130px
          letter-spacing: 47px
      .button
        margin-top: 78px
        margin-left: 94px


  &.consulting-9
    padding-top: 28px
    .title-cube
      margin-top: 11px
    h2
      transform: translateY(-29px)
    .sub-text
      font-size: 16px
      color: #151515
      margin-left: 165px
      margin-top: 27px
      max-width: 940px
    &>.container
      background-image: url('../img/consulting_9.png')
      background-repeat: no-repeat
      background-size: 100%
      background-position: 58px 39px
      padding-bottom: 119px
      @media (min-width: 1850px)
        max-width: 1805px