body.rtl
  font-family: sans-serif
  .header 
    .container 
      .header-menu li a .number
        text-align: right
      .logo
        margin-right: 0
        margin-left: 187px
        @media (max-width:1699px)
          margin-left: 85px
    .langs
      margin-left: 0
      margin-right: 201px
      @media (max-width:1399px)
        margin-right: 40px
      @media (max-width:992px)
        margin-right: auto
        margin-left: 20px
      .current 
        .arrow
          margin-left: 0
          margin-right: 10px
  .section
    &.about-1
      background-image: url(../img/rtl/about-1.png)
      text-align: right