body.rtl
  font-family: sans-serif
  .header 
    .container 
      .header-menu li a .number
        text-align: right
      .logo
        margin-right: 0
        margin-left: 187px
        @media (max-width:1699px)
          margin-left: 85px
    .langs
      margin-left: 0
      margin-right: 201px
      @media (max-width:1399px)
        margin-right: 40px
      @media (max-width:992px)
        margin-right: auto
        margin-left: 20px
      .current 
        .arrow
          margin-left: 0
          margin-right: 10px
  main
    overflow: hidden
  .section
    &.about-1
      background-image: url(../img/rtl/about-1.png)
      text-align: right
    &.about-2
      direction: ltr
      text-align: right
      h2
        margin-right: 99px
        margin-left: 0
        @media (max-width: 1150px)
          margin-right: 0
      ul
        margin-right: 84px
        margin-left: 0
        @media (max-width: 1150px)
          margin-right: 0
        li
          padding-right: 30px
          padding-left: 0
          &:before
            right: -10px
            left: auto
      p
        margin-right: 107px
        margin-left: 0
        @media (max-width: 1150px)
          margin-right: 0
      .out
        @media (max-width: 1620px)
          right: -15px
    &.about-3
      direction: ltr
