<!DOCTYPE html>
html(lang="ar", dir="rtl")
    head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
      title عملة مشفرة
      link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
      link(rel="stylesheet preload", as="style" href="css/bootstrap.min.css")
      link(rel="stylesheet", href="css/aos.css")
      link(rel="stylesheet preload", as="style" href="css/main.css")
      link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
      link(rel="stylesheet preload", as="style" href="css/rtl.css")
    body.rtl
      header.header
        .container
          .header-wrap
            .logo
              a(href="index.html")
                img(src="img/logo.svg", alt="logo")
            ul.header-menu.collapse#navbar
              li
                a(href="index-ar.html")
                  .text معلومات عنا
                  .line
                  .number 00
              li
                a(href="consulting-ar.html")
                  .text الاستشارة
                  .line
                  .number 01
              li
                a(href="marketing-ar.html")
                  .text التسويق
                  .line
                  .number 02
              li
                a(href="development-ar.html")
                  .text التطوير
                  .line
                  .number 03
              li
                a.active(href="cryptocurrency-ar.html")
                  .text عملة مشفرة
                  .line
                  .number 04
              li
                a(href="legal-ar.html")
                  .text خدمات قانونية
                  .line
                  .number 05
              li
                a(href="realestate-ar.html")
                  .text العقارات
                  .line
                  .number 06
            .langs
              .current
                span
                  img(src="/img/ar.png")
                .arrow
              .list
                a(href="./cryptocurrency.html")
                  img(src="/img/en.png")
                a(href="./cryptocurrency-ru.html")
                  img(src="/img/ru.png")
                a(href="./cryptocurrency-es.html")
                  img(src="/img/es.png")
            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation")
              span(class="line line-1")
              span(class="line line-2")
              span(class="line line-3")
      main
        section.main-section.cryptocurrency
          .container
            .row
              .col-lg-6                  
                h1.title
                  span(data-aos="fade" data-aos-delay="100") 04
                  span.text-animate.crypto عملة مشفرة
                    //- span C
                    //- span r
                    //- span y
                    //- span p
                    //- span t
                    //- span o
                    //- span c
                    //- span u
                    //- span r
                    //- span r
                    //- span e
                    //- span n
                    //- span c
                    //- span y
                .sub-title
                  .arrow(data-aos="fade-right" data-aos-delay="1000")
                    img(src="img/yellow-arrow.png", alt="arrow")
                  .text(data-aos="fade-left" data-aos-delay="1000") توفير سيولة عالية في بيئة تجارية شديدة التنافسية. دعم احترافي في عملية الحصول على ترخيص للأنشطة المتعلقة بالعملة المشفرة في جميع المراحل. الاستشارات القانونية بشأن الوضع القانوني للنقود الإلكترونية.
                a.video-link(href="index.html")
                  .text مشاهدة المقدمة الخاصة بنا
                  .link-img
                    img(src="img/play_button.png", alt="play")
              .col-lg-6
                //- a.cube-link.crypto.cube-link-1(href="#cryptocurrency-1") Trading
                //- a.cube-link.crypto.cube-link-2(href="#cryptocurrency-2") About
                //- a.cube-link.crypto.cube-link-3(href="#cryptocurrency-3") Currency
                //- a.button.red.cube-button(href="#form" data-toggle="modal" data-target="#form") START TODAY
                #cube(data-lang="ar")
        section#cryptocurrency-1.section.cryptocurrency-1
          .container
            .row
              .col-xl-5
                h2 توريد سيولة العملة المشفرة
                img.cubes.lazy(data-src="img/cryptocurrency_1_cubes.png")
              .col-xl-7
                .images
                  img(src="img/cryptocurrency_1-1.png")
                  .text-block.lazy(data-src="../img/cryptocurrency_1-2.png")
                    p يناسب بشكل مثالي:
                    ul
                      li المبادلات
                      li كبار المستثمرين
                      li وسطاء العملات الرقمية
                      li صناديق العملات الرقمية
                h2.right(data-aos="fade") تداول مع تسليم الأصول المادية
                ul.section-list
                  li العملات المشفرة مقابل عملات عادية، العملات المشفرة مقابل اخرى مشفرة
                  li أي عملات مشفرة شائعة
                  li الحد الأدنى للرسوم
                  li 24/7 دعم
                p.text(data-aos="fade") يسمح لنا التواجد الوثيق على جميع خوادم التداول المركزية للبورصات الرئيسية ومقدمي السيولة والبنوك والمؤسسات المالية الأخرى بتقليل وقت الطلب قدر الإمكان ، إلى مئات من المللي ثانية.
        section#cryptocurrency-2.section.cryptocurrency-2
          .container-fluid
            .row
              .col-lg-6.order-lg-2
                h2.right(data-aos="fade")
                  span تراخيص صرف العملات المشفرة
                .line.right
                img.lazy.image(data-src="img/cryptocurrency_2-1.png")
              .col-lg-6.p-0
                .color-text-block
                  p تعتبر عملية الحصول على تراخيص لتشغيل أنشطة تبادل العملات المشفرة عملية معقدة تتطلب وقتًا وتحضيرًا جادًا. تسمح العديد من الولايات القضائية فقط بالحصول على ترخيص للمشاركة في الأنشطة المتعلقة بالعملات المشفرة وتكنولوجيا بلوكتشين.
                  p يعد الحصول على إذن لتبادل العملات المشفرة عملية طويلة ومعقدة.
                .line.left
                h2.black
                  strong دعم احترافي
                  br.d-none.d-lg-block
                  | هو مفتاح النجاح في حل هذه المشكلة.
        section#cryptocurrency-3.section.cryptocurrency-3.lazy(data-src="../img/cryptocurrency_3_bg.png")
          .container
            .row
              .col-lg-5
                h2 الوضع القانوني للعملات المشفرة
                img.cubes.lazy(data-src="img/cryptocurrency_3_cubes.png")
              .col-lg-7
                .text-1
                  p اليوم ، لا تمتلك معظم البلدان إطارًا قانونيًا عالميًا وممارسة موحدة للتحكم في العملات المشفرة.
                  p تحاول بعض الولايات القضائية تلبية شروط صناعة سريعة التغير وتطوير تشريعات للأموال الافتراضية ، بينما تحاول الولايات القضائية الأخرى فرض تدابير صارمة للتحكم في الأنشطة المتعلقة بالعملات المشفرة وتعدينها وحظرها.
                .text-2
                  p تواصل معنا إذا كنت تخطط للانضمام إلى عالم النقود الإلكترونية.
                  p
                    strong محامونا ومستشارونا متخصصون من الدرجة الأولى!
          .bottom
            .container
              ul
                li(data-aos="fade-down").left
                  .head
                    .left
                      img(src="img/cryptocurrency-3-list-img-1.png")
                    .right
                      .title استشارات العملات المشفرة
                      img(src="img/cryptocurrency-3-list-icon-1.png")
                  .text
                    p فريقنا متخصص في تطوير الاستراتيجيات وإعداد الوثائق والاستشارات القانونية المعقدة ودعم المشاريع المتعلقة بالعملات المشفرة.
                    p نحن نقدم حلولًا لكل من المتخصصين في الصناعة ورجال الأعمال الطموحين الذين يرغبون في تنفيذ حلول بلوكتشين في عملياتهم التجارية.
                li(data-aos="fade-down").right
                  .head
                    .left
                      img(src="img/cryptocurrency-3-list-img-2.png")
                    .right
                      .title تنظيم العملات المشفرة
                      img(src="img/cryptocurrency-3-list-icon-2.png")
                  .text
                    p ستقدم اكاليستا النصح والتحليل واختيار ولاية قضائية خاصة بمتطلباتك وتقديم الدعم القانوني لمشاريع بلوكتشين لتحقيق أفضل النتائج.
        .modal.form.crypto.fade(id="form" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title اتصل بنا
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-form.png" alt="close")
              .modal-body
                .main-info
                  .container
                    form
                      .form-group
                        input#name.form-control(type='text' required placeholder='اسم الشخص *')
                      .form-group
                        input#email.form-control(type='email' required placeholder='البريد الالكتروني *')
                      .form-group
                        input#phone.form-control(type='tel' required placeholder='الهاتف *')
                      .form-group
                        textarea#msg.form-control(type='text' cols="30", rows="5" placeholder='الرسالة')
                      .response-message
                      button(type="submit" id="contactSubmit") ارسال الطلب
                    
      footer.footer
        .container
          .footer-nav
            .row
              .col-md-4
                ul
                  li
                    img.lazy(data-src="img/israel-flag.png")
                    | إسرائيل 
                    a(href="tel:+972 3375 11 34") +972 3375 11 34
                  li
                    img.lazy(data-src="img/usa-flag.png")
                    | الولايات المتحدة الأمريكية 
                    a(href="tel:+1 929 322 8811") +1 929 322 8811
                  li
                    img.lazy(data-src="img/uk-flag.png")
                    | المملكة المتحدة 
                    a(href="tel:+44 20 4577 1146") +44 20 4577 1146
                  li
                    img.lazy(data-src="img/ukraine-flag.png")
                    | أوكرانيا 
                    a(href="tel:+380 95 687 29 07") +380 95 687 29 07
          .footer-wrap
            .copy جميع الحقوق محفوظة من قبل أكاليستا.
            .social
              a(href="https://www.facebook.com/acalistagroup" target="blank")
                .icon
                  img(src="img/facebook_logo.png", alt="facebook")
              a(href="https://www.instagram.com/acalista.group/" target="blank")
                .icon
                  img(src="img/instagram-brands.png", alt="instagram")
              a(href="https://www.linkedin.com/company/acalista-group/" target="blank")
                .icon
                  img(src="img/linkedin_logo.png", alt="linkedIn")
              a(href="https://twitter.com/AcalistaGroup" target="blank")
                .icon
                  img(src="img/twitter-brands.png", alt="linkedIn")
            .mail
              a(href="mailto:info@acalista.com") info@acalista.com
      script(src="js/jquery.min.js")
      script(src="js/bootstrap.min.js")
      script(src="js/lazy-load.js")
      script(src="js/aos.js")
      script(src="js/three.min.js")
      script(src="js/OrbitControls.js")
      script(src="js/Tween.js")
      script(src="//unpkg.com/three-spritetext")
      script(src="js/cube4.js")
      script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
      script(src="js/script.js")