<!DOCTYPE html>
html(lang="ru")
    head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
      title Криптовалюта
      link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
      link(rel="stylesheet preload", as="style" href="css/bootstrap.min.css")
      link(rel="stylesheet", href="css/aos.css")
      link(rel="stylesheet preload", as="style" href="css/main.css")
      link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
    body
      header.header
        .container
          .header-wrap
            .logo
              a(href="index.html")
                img(src="img/logo.svg", alt="logo")
            ul.header-menu.collapse#navbar
              li
                a(href="index.html")
                  .text О нас
                  .line
                  .number 00
              li
                a(href="consulting.html")
                  .text Консалтинг
                  .line
                  .number 01
              li
                a(href="marketing.html")
                  .text Маркетинг
                  .line
                  .number 02
              li
                a(href="development.html")
                  .text Веб разработка
                  .line
                  .number 03
              li
                a.active(href="cryptocurrency.html")
                  .text Криптовалюта
                  .line
                  .number 04
              li
                a(href="legal.html")
                  .text Юридические услуги
                  .line
                  .number 05
              li
                a(href="realestate.html")
                  .text Недвижимость
                  .line
                  .number 06
            .langs
              .current
                span RU
                .arrow
              .list
                a(href="./cryptocurrency.html") EN
            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation")
              span(class="line line-1")
              span(class="line line-2")
              span(class="line line-3")
      main
        section.main-section.cryptocurrency
          .container
            .row
              .col-lg-6                  
                h1.title
                  span(data-aos="fade" data-aos-delay="100") 04
                  span.text-animate.crypto
                    span К
                    span р
                    span и
                    span п
                    span т
                    span о
                    span в
                    span а
                    span л
                    span ю
                    span т
                    span а
                .sub-title
                  .arrow(data-aos="fade-right" data-aos-delay="1000")
                    img(src="img/yellow-arrow.png", alt="arrow")
                  .text(data-aos="fade-left" data-aos-delay="1000") Lorem ipsum dolor sit amet, consectetur adipisicing
                    br.d-none.d-lg-block
                    | elit, sed do eiusmod tempor incididunt ut labore et
                a.video-link(href="index.html")
                  .text Посмотреть 
                    br
                    | наш ролик
                  .link-img
                    img(src="img/play_button.png", alt="play")
              .col-lg-6
                //- a.cube-link.crypto.cube-link-1(href="#cryptocurrency-1") Trading
                //- a.cube-link.crypto.cube-link-2(href="#cryptocurrency-2") About
                //- a.cube-link.crypto.cube-link-3(href="#cryptocurrency-3") Currency
                //- a.button.red.cube-button(href="#form" data-toggle="modal" data-target="#form") START TODAY
                #cube(data-lang="ru")
        section#cryptocurrency-1.section.cryptocurrency-1
          .container
            .row
              .col-xl-5
                h2 Поставочная 
                  span ликвидность
                img.cubes.lazy(data-src="img/cryptocurrency_1_cubes.png")
              .col-xl-7
                .images
                  img(src="img/cryptocurrency_1-1.png")
                  .text-block.lazy(data-src="../img/cryptocurrency_1-2.png")
                    p Идеально подходит для:
                    ul
                      li Обменников
                      li Крупных инвесторов
                      li Криптоброкеров
                      li Криптофондов
                h2.right(data-aos="fade")
                  span Торговля 
                  | с физической поставкой актива
                ul.section-list
                  li Крипто-крипто, фиат- крипто
                  li Любые популярные криптовалюты
                  li Минимальные комиссии
                  li Круглосуточная поддержка
                p.text(data-aos="fade") Близкое расположение со всеми центральными торговыми серверами основных бирж, поставщиков ликвидности, банков и других финансовых институтов, позволяет нам максимально сокращать время запроса на заявку, до сотых миллисекунд.
        section#cryptocurrency-2.section.cryptocurrency-2
          .container-fluid
            .row
              .col-lg-6.order-lg-2
                h2.right(data-aos="fade")
                  span Лицензии 
                  br
                  | на обмен криптовалют
                .line.right
                img.lazy.image(data-src="img/cryptocurrency_2-1.png")
              .col-lg-6.p-0
                .color-text-block
                  p 
                    strong Процесс получения лицензий, 
                    | позволяющих заниматься деятельностью, связанной с обменом криптовалют — это трудоёмкий процесс, требующий времени и серьезной подготовки. Всего в нескольких юрисдикциях есть возможность получения лицензии на деятельность, связанную с криптовалютами и технологией блокчейна.
                  p Получение разрешения для обмена криптовалют — долгий и сложный процесс.
                .line.left
                h2.black
                  strong Профессиональное сопровождение — 
                  br.d-none.d-lg-block
                  | залог успеха в решении данного вопроса.
        section#cryptocurrency-3.section.cryptocurrency-3.lazy(data-src="../img/cryptocurrency_3_bg.png")
          .container
            .row
              .col-lg-5
                h2
                  span Правовой статус
                  br
                  | криптовалют
                img.cubes.lazy(data-src="img/cryptocurrency_3_cubes.png")
              .col-lg-7
                .text-1
                  p На сегодня, в большинстве стран нет единой мировой правовой базы и практики, регулирующей криптовалюты.
                  p Некоторые юрисдикции пытаются соответствовать условиям быстро меняющейся индустрии разрабатывают нормативно-правовую базу для виртуальных денег, в то время как другие юрисдикции пытаются ввести жесткие меры по строгому регулированию и запрету деятельности, связанной с криптовалютами и их приобретением.
                .text-2
                  p Если Вы планируете погрузиться в сферу электронных денег — 
                    strong обращайтесь к нам.
                  p
                    strong Наши юристы и консультанты —
                    br.d-none.d-lg-block
                    | специалисты высочайшего класса!
          .bottom
            .container
              ul
                li(data-aos="fade-down").left
                  .head
                    .left
                      img(src="img/cryptocurrency-3-list-img-1.png")
                    .right
                      .title Консультация 
                        br.d-none.d-block
                        | по криптовалютам
                      img(src="img/cryptocurrency-3-list-icon-1.png")
                  .text
                    p Наша команда специализируется на разработке стратегий, подготовке документов, комплексном юридическом консалтинге и сопровождении проектов, связанных с криптовалютами.
                    p Мы предлагаем решения как для профессионалов индустрии, так и для начинающих предпринимателей, желающих внедрить блокчейн решения в свои бизнес процессы.
                li(data-aos="fade-down").right
                  .head
                    .left
                      img(src="img/cryptocurrency-3-list-img-2.png")
                    .right
                      .title Регулирование 
                        br.d-none.d-block
                        | криптовалют
                      img(src="img/cryptocurrency-3-list-icon-2.png")
                  .text
                    p Acalista group проконсультирует, проанализирует, подберет юрисдикцию индивидуально под ваши требования и займется правовым сопровождением блокчейн проектов для достижения наилучших результатов.
        .modal.form.crypto.fade(id="form" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title C
                    span ontact us
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-form.png" alt="close")
              .modal-body
                .main-info
                  .container
                    form
                      .form-group
                        input#name.form-control(type='text' required placeholder='Name person *')
                      .form-group
                        input#email.form-control(type='email' required placeholder='Email *')
                      .form-group
                        input#phone.form-control(type='tel' required placeholder='Phone *')
                      .form-group
                        textarea#msg.form-control(type='text' cols="30", rows="5" placeholder='Message')
                      button(type="submit") SEND A REQUEST
                    
      include layout/footer.pug
      script(src="js/jquery.min.js")
      script(src="js/bootstrap.min.js")
      script(src="js/lazy-load.js")
      script(src="js/aos.js")
      script(src="js/three.min.js")
      script(src="js/OrbitControls.js")
      script(src="js/Tween.js")
      script(src="//unpkg.com/three-spritetext")
      script(src="js/cube4.js")
      script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
      script(src="js/script.js")