<!DOCTYPE html>
html(lang="ar", dir="rtl")
    head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
      title التطوير
      link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
      link(rel="stylesheet preload", as="style" href="css/bootstrap.min.css")
      link(rel="stylesheet", href="css/aos.css")
      link(rel="stylesheet preload", as="style" href="css/main.css")
      link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
    body.rtl
      header.header
        .container
          .header-wrap
            .logo
              a(href="index.html")
                img(src="img/logo.svg", alt="logo")
            ul.header-menu.collapse#navbar
              li
                a(href="index-ar.html")
                  .text معلومات عنا
                  .line
                  .number 00
              li
                a(href="consulting-ar.html")
                  .text الاستشارة
                  .line
                  .number 01
              li
                a(href="marketing-ar.html")
                  .text التسويق
                  .line
                  .number 02
              li
                a.active(href="development-ar.html")
                  .text التطوير
                  .line
                  .number 03
              li
                a(href="cryptocurrency-ar.html")
                  .text عملة مشفرة
                  .line
                  .number 04
              li
                a(href="legal-ar.html")
                  .text خدمات قانونية
                  .line
                  .number 05
              li
                a(href="realestate-ar.html")
                  .text العقارات
                  .line
                  .number 06
            .langs
              .current
                span AR
                .arrow
              .list
                a(href="./development-en.html") EN
                a(href="./development-ru.html") RU
            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation")
              span(class="line line-1")
              span(class="line line-2")
              span(class="line line-3")
      main
        section.main-section.development
          .container
            .row
              .col-lg-6                  
                h1.title
                  span(data-aos="fade" data-aos-delay="100") 03
                  span.text-animate.dev التطوير
                    //- span W
                    //- span e
                    //- span b
                    //- span &nbsp;
                    //- span d
                    //- span e
                    //- span v
                    //- span e
                    //- span l
                    //- span o
                    //- span p
                    //- span m
                    //- span e
                    //- span n
                    //- span t
                .sub-title
                  .arrow(data-aos="fade-right" data-aos-delay="1000")
                    img(src="img/green_arrow.png", alt="arrow")
                  .text(data-aos="fade-left" data-aos-delay="1000") Creation of websites for businesses of different sizes and spheres. Implementation of a design focused on a favorable user experience – 
                    span(style="white-space:nowrap") UX-design. 
                    | Development of mobile applications for the site.
                a.video-link(href="index.html")
                  .text مشاهدة المقدمة الخاصة بنا
                  .link-img
                    img(src="img/play_button.png", alt="play")
              .col-lg-6
                //- a.cube-link.dev.cube-link-1(href="#development-2") Portfolio
                //- a.cube-link.dev.cube-link-2(href="#development-1") Skills
                //- a.cube-link.dev.cube-link-3(href="#development-1") Mobile App
                //- a.button.red.cube-button(href="#form" data-toggle="modal" data-target="#form") START TODAY
                #cube(data-lang="en")
        section.section.development-1#development-1
          .container
            .row
              .col-xl-4
                h2 مهاراتناills
                .line
                img.cubes.lazy(data-src="img/development_1_cubes.png")
              .col-xl-8
                ul.skills-items
                  li(data-aos="fade-down")
                    ul
                      li تطبيق الهاتف المحمول
                      li UX / UI على الويب
                      li UX / UI للجوال
                      li العلامة التجارية / الشعار
                    .image
                      img(src="img/skill-1-img-green.png")
                      img.hover(src="img/skill-1-img-white.png")
                  li(data-aos="fade-down" data-aos-delay="100")
                    ul
                      li الشبكات
                      li المدونات
                      li LPs / مسارات التحويل
                      li التجارة الإلكترونية
                      li منصات B2B
                      li الشركات الناشئة
                      li CRM
                      li القمار
                      li الرهان
                    .image
                      img(src="img/skill-2-img-green.png")
                      img.hover(src="img/skill-2-img-white.png")
                  li(data-aos="fade-down" data-aos-delay="200")
                    ul
                      li PHP
                      li YII
                      li لارافيل
                      li سيمفوني
                      li Codelgniter
                      li ووربريس
                      li OpenCart
                      li متجر بريستا
                      li ماجنتو 1/2
                    .image
                      img(src="img/skill-3-img-green.png")
                      img.hover(src="img/skill-3-img-white.png")
                  li(data-aos="fade-down" data-aos-delay="300")
                    ul
                      li جافا
                      li C ++ / C #
                      li سبرينج
                      li سبرينج بوت
                      li سبات
                      li مافين
                      li جينكينز
                      li GIT
                      li Cloud/AWS
                      li خدمات مصغرة
                    .image
                      img(src="img/skill-4-img-green.png")
                      img.hover(src="img/skill-4-img-white.png")
                  li(data-aos="fade-down" data-aos-delay="400")
                    ul
                      li HTML5
                      li CSS3
                      li جافا سكريبت
                      li Node JS
                      li Angular JS
                      li React Native
                      li React JS
                      li VUE JS
                      li Next JS
                      li كوردوفا
                    .image
                      img(src="img/skill-5-img-green.png")
                      img.hover(src="img/skill-5-img-white.png")
                h2.right(data-aos="fade")
                  span نحن نوفر
                  br
                  | جودة التنفيذ لأفكارك الكبيرة والمهام الصغيرة
                p.text(data-aos="fade") تتمتع مجموعة أكاليستا بخبرة جيدة في إنشاء مواقع الويب للشركات ذات الأحجام والمجالات المختلفة. لا يهم نوع العمل الذي تبدأه أو ترغب في تحسينه - ستجد مجموعة كاملة من التقنيات التي تلبي متطلباتك. بالنسبة إلى المدونات وحافظات الأعمال ومواقع بطاقات العمل ومواقع الكتالوجات ، يمكننا إيجاد حل مع تطوير WordPress. عندما يتعلق الأمر بمواقع التجارة الإلكترونية ، والمقامرة ، والمراهنة - سيُنشئ خبراؤنا منصة ضخمة بمساعدة أطر العمل.
                p.text(data-aos="fade") نحن نوفر أيضًا تطويرًا لتطبيق الجوّال لموقعك على الويب. يمكن أن يتفاعل التطبيق الأصلي مع ميزات الجهاز والأجهزة ، مثل الكاميرا وموقع GPS وما إلى ذلك. ويمكن تشغيله بدون اتصال بالإنترنت وهذا هو السبب في أن عملائك سوف تشارك في خدمات شركتك في كل وقت. هدفنا الرئيسي هو مساعدة ويب كاملة لعملك.
        section.section.development-2#development-2
          .slider-wrap
            .container-fluid
              .row
                .col-xl-4.order-xl-2
                  h2 لدينا حافظة أعمال
                  .line
                  .text مشاريعنا السابقة والجارية
                  img.cubes.lazy(data-src="img/development_2_cubes.png")

                .col-xl-8
                  .slider.portfolio
                    .slide
                      .top
                        img(src="img/slide-dev-1.png", alt="slide")
                      .bottom
                        .title Andam
                        p.text موقع الكتروني
                        p.text العرض التقديمي
                    .slide
                      .top
                        img(src="img/slide-dev-2.png", alt="slide")
                      .bottom
                        .title Yerushalmi Br. Diamonds
                        p.text موقع الكتروني
                        p.text العرض التقديمي
                    .slide
                      .top
                        img(src="img/slide-dev-3.png", alt="slide")
                      .bottom
                        .title SPS
                        p.text موقع الكتروني
                        p.text العرض التقديمي
                    .slide
                      .top
                        img(src="img/slide-dev-4.png", alt="slide")
                      .bottom
                        .title Frank Meisler
                        p.text موقع الكتروني
                        p.text العرض التقديمي
                    .slide
                      .top
                        img(src="img/slide-dev-1.png", alt="slide")
                      .bottom
                        .title Andam
                        p.text موقع الكتروني
                        p.text العرض التقديمي
                  .slider-navigation
                    .prev
                      img(src="img/slide-prev.png", alt="prev")
                    .next
                      img(src="img/slide-next.png", alt="next")
        .modal.form.dev.fade(id="form" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title C
                    span ontact us
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-form.png" alt="close")
              .modal-body
                .main-info
                  .container
                    form
                      .form-group
                        input#name.form-control(type='text' required placeholder='Name person *')
                      .form-group
                        input#email.form-control(type='email' required placeholder='Email *')
                      .form-group
                        input#phone.form-control(type='tel' required placeholder='Phone *')
                      .form-group
                        textarea#msg.form-control(type='text' cols="30", rows="5" placeholder='Message')
                      button(type="submit") SEND A REQUEST

      include layout/footer.pug
      script(src="js/jquery.min.js")
      script(src="js/bootstrap.min.js")
      script(src="js/lazy-load.js")
      script(src="js/aos.js")
      script(src="js/three.min.js")
      script(src="js/OrbitControls.js")
      script(src="js/Tween.js")
      script(src="//unpkg.com/three-spritetext")
      script(src="js/cube3.js")
      script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
      script(src="js/script.js")