<!DOCTYPE html>
html(lang="es")
    head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
      title Desarrollo web
      link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
      link(rel="stylesheet preload", as="style" href="css/bootstrap.min.css")
      link(rel="stylesheet", href="css/aos.css")
      link(rel="stylesheet preload", as="style" href="css/main.css")
      link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
    body
      header.header
        .container
          .header-wrap
            .logo
              a(href="index-es.html")
                img(src="img/logo.svg", alt="logo")
            ul.header-menu.collapse#navbar
              li
                a(href="index-es.html")
                  .text Sobre nosotros
                  .line
                  .number 00
              li
                a(href="consulting-es.html")
                  .text Consultoría
                  .line
                  .number 01
              li
                a(href="marketing-es.html")
                  .text Marketing
                  .line
                  .number 02
              li
                a.active(href="development-es.html")
                  .text Desarrollo web
                  .line
                  .number 03
              li
                a(href="cryptocurrency-es.html")
                  .text Criptomoneda
                  .line
                  .number 04
              li
                a(href="legal-es.html")
                  .text Servicios jurídicos
                  .line
                  .number 05
              li
                a(href="realestate-es.html")
                  .text Bienes raíces
                  .line
                  .number 06
            .langs
              .current
                span
                  img(src="/img/es.png")
                .arrow
              .list
                a(href="./development.html")
                  img(src="/img/en.png")
                a(href="./development-ru.html")
                  img(src="/img/ru.png")
                a(href="./development-ar.html")
                  img(src="/img/ar.png")
            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation")
              span(class="line line-1")
              span(class="line line-2")
              span(class="line line-3")
      main
        section.main-section.development
          .container
            .row
              .col-lg-6                  
                h1.title
                  span(data-aos="fade" data-aos-delay="100") 03
                  span.text-animate.dev
                    span D
                    span e
                    span s
                    span a
                    span r
                    span r
                    span o
                    span l
                    span l
                    span o
                    span &nbsp;w
                    span e
                    span b
                .sub-title
                  .arrow(data-aos="fade-right" data-aos-delay="1000")
                    img(src="img/green_arrow.png", alt="arrow")
                  .text(data-aos="fade-left" data-aos-delay="1000") Creación de sitios web para empresas de diferentes tamaños y ámbitos. Implementación de un diseño centrado en una experiencia de usuario favorable  – UX-design.  Desarrollo de aplicaciones móviles para el sitio.
                a.video-link(href="index.html")
                  .text Mira nuestro 
                    br
                    | video
                  .link-img
                    img(src="img/play_button.png", alt="play")
              .col-lg-6
                //- a.cube-link.dev.cube-link-1(href="#development-2") Portfolio
                //- a.cube-link.dev.cube-link-2(href="#development-1") Skills
                //- a.cube-link.dev.cube-link-3(href="#development-1") Mobile App
                //- a.button.red.cube-button(href="#form" data-toggle="modal" data-target="#form") START TODAY
                #cube(data-lang="es")
        section.section.development-1#development-1
          .container
            .row
              .col-xl-4
                h2 Nuestras 
                  span habilidades
                .line
                img.cubes.lazy(data-src="img/development_1_cubes.png")
              .col-xl-8
                ul.skills-items
                  li(data-aos="fade-down")
                    ul
                      li Aplicación móvil
                      li UX/UI Web 
                      li UX/UI móvil
                      li Marca/Logotipo
                    .image
                      img(src="img/skill-1-img-green.png")
                      img.hover(src="img/skill-1-img-white.png")
                  li(data-aos="fade-down" data-aos-delay="100")
                    ul
                      li Redes
                      li Blogs
                      li LPs/Funnels
                      li Comercio electrónico
                      li Plataformas B2B
                      li Startups
                      li ARC
                      li Juegos de azar
                      li Apuestas
                    .image
                      img(src="img/skill-2-img-green.png")
                      img.hover(src="img/skill-2-img-white.png")
                  li(data-aos="fade-down" data-aos-delay="200")
                    ul
                      li PHP
                      li YII
                      li Laravel
                      li Symfony
                      li Codelgniter
                      li WordPress
                      li OpenCart
                      li Presta Shop
                      li Magento 1/2
                    .image
                      img(src="img/skill-3-img-green.png")
                      img.hover(src="img/skill-3-img-white.png")
                  li(data-aos="fade-down" data-aos-delay="300")
                    ul
                      li JAVA
                      li C++/C#
                      li Spring
                      li Spring Boot
                      li Hibernate
                      li Maven
                      li Jenkins
                      li GIT
                      li Nube/AWS
                      li Microservicios
                    .image
                      img(src="img/skill-4-img-green.png")
                      img.hover(src="img/skill-4-img-white.png")
                  li(data-aos="fade-down" data-aos-delay="400")
                    ul
                      li HTML5
                      li CSS3
                      li JavaScript
                      li Node JS
                      li Angular JS
                      li React Native
                      li React JS
                      li VUE JS
                      li Next JS
                      li Cordova
                    .image
                      img(src="img/skill-5-img-green.png")
                      img.hover(src="img/skill-5-img-white.png")
                h2.right(data-aos="fade")
                  span Proporcionamos
                  br
                  | una ejecución de calidad para sus grandes ideas y pequeñas tareas.
                p.text(data-aos="fade") Acalista group tiene una gran experiencia en la creación de sitios web para empresas de diferentes tamaños y ámbitos. No importa el tipo de negocio que usted comience o quiera mejorar – encontraremos una pila perfecta de tecnologías para sus requerimientos. Para los blogs, portafolios, sitios web de tarjetas de presentación, sitios de catálogo, podemos encontrar una solución con el desarrollo de WordPress. Cuando se trata de negocios de comercio electrónico, juegos de azar, sitios web de apuestas –  nuestros expertos crearán una gran plataforma con la ayuda de infraestructuras. 
                p.text(data-aos="fade") También ofrecemos el desarrollo de una aplicación móvil para su sitio web. Una aplicación nativa puede interactuar con las características del dispositivo y el hardware, como la cámara, la ubicación GPS, y así sucesivamente. Puede funcionar sin conexión a Internet, por lo que sus clientes estarán involucrados en los servicios de su empresa todo el tiempo. Nuestro principal objetivo es una asistencia web completa para su negocio.
        section.section.development-2#development-2
          .slider-wrap
            .container-fluid
              .row
                .col-xl-4.order-xl-2
                  h2 Nuestro 
                    span portafolio
                  .line
                  .text Nuestros proyectos anteriores y en curso
                  img.cubes.lazy(data-src="img/development_2_cubes.png")

                .col-xl-8
                  .slider.portfolio.ltr
                    .slide
                      .top
                        img(src="img/slide-prod-1.jpg", alt="slide")
                      .bottom
                        .title Invcenter
                        p.text Financial Markets
                    .slide
                      .top
                        img(src="img/slide-prod-2.jpg", alt="slide")
                      .bottom
                        .title FXLeader
                        p.text Financial Markets
                    .slide
                      .top
                        img(src="img/slide-prod-3.jpg", alt="slide")
                      .bottom
                        .title DMC
                        p.text Diabet Clinic Portal
                    .slide
                      .top
                        img(src="img/slide-prod-4.jpg", alt="slide")
                      .bottom
                        .title Mersedes Benz
                        p.text E-commerce
                  .slider-navigation
                    .prev
                      img(src="img/slide-prev.png", alt="prev")
                    .next
                      img(src="img/slide-next.png", alt="next")
        .modal.form.legal.fade(id="form" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title Contáctenos
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-form.png" alt="close")
              .modal-body
                .main-info
                  .container
                    form
                      .form-group
                        input#name.form-control(type='text' required placeholder='Nombre de la persona  *')
                      .form-group
                        input#email.form-control(type='email' required placeholder='Correo electrónico *')
                      .form-group
                        input#phone.form-control(type='tel' required placeholder='Teléfono *')
                      .form-group
                        textarea#msg.form-control(type='text' cols="30", rows="5" placeholder='Mensaje  ')
                      .response-message
                      button(type="submit" id="contactSubmit") Enviar una solicitud

      footer.footer
        .container
          .footer-nav
            .row
              .col-md-6
                ul.tel-ul
                  li
                    img.lazy(data-src="img/israel-flag.png")
                    a(href="tel:+972 3375 11 34") +972 3375 11 34
                  li
                    img.lazy(data-src="img/usa-flag.png")
                    a(href="tel:+1 929 322 8811") +1 929 322 8811
                  li
                    img.lazy(data-src="img/uk-flag.png")
                    a(href="tel:+44 20 4577 1146") +44 20 4577 1146
                  li
                    img.lazy(data-src="img/ukraine-flag.png")
                    a(href="tel:+380 95 687 29 07") +380 95 687 29 07
              .col-md-6
                ul.payment-ul
                  li.flexed
                    a(href="https://google.com" target="_blank")
                      img.lazy.pay-sys(data-src="img/swift.png")
                    a(href="https://google.com" target="_blank")
                      img.lazy.pay-sys(data-src="img/sepa.jpg")
                  li.flexed
                    a(href="https://google.com" target="_blank")
                      img.lazy.pay-sys(data-src="img/masterCard.jpg")
                    a(href="https://google.com" target="_blank")
                      img.lazy.pay-sys(data-src="img/visa.jpg")
                  li.flexed.btc-flexed
                    a(href="https://google.com" target="_blank")
                      img.lazy.pay-sys(data-src="img/btc.png")

          .footer-wrap
            .copy Todos los derechos reservados por Acalista.
            .social
              a(href="https://www.facebook.com/acalistagroup" target="blank")
                .icon
                  img(src="img/facebook_logo.png", alt="facebook")
              a(href="https://www.instagram.com/acalista.group/" target="blank")
                .icon
                  img(src="img/instagram-brands.png", alt="instagram")
              a(href="https://www.linkedin.com/company/acalista-group/" target="blank")
                .icon
                  img(src="img/linkedin_logo.png", alt="linkedIn")
              a(href="https://twitter.com/AcalistaGroup" target="blank")
                .icon
                  img(src="img/twitter-brands.png", alt="linkedIn")
            .mail
              a(href="mailto:info@acalista.com") info@acalista.com
      script(src="js/jquery.min.js")
      script(src="js/bootstrap.min.js")
      script(src="js/lazy-load.js")
      script(src="js/aos.js")
      script(src="js/three.min.js")
      script(src="js/OrbitControls.js")
      script(src="js/Tween.js")
      script(src="//unpkg.com/three-spritetext")
      script(src="js/cube3.js")
      script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
      script(src="js/script.js")