<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
        title Document
        link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
        link(rel="stylesheet preload", as="style" href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/aos.css")
        link(rel="stylesheet preload", as="style" href="css/main.css")
        link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
    body
      header.header
        .container
          .header-wrap
            .logo
              a(href="index.html")
                img(src="img/logo.svg", alt="logo")
            ul.header-menu.collapse#navbar
              li
                a.active(href="index.html")
                  .text About us
                  .line
                  .number 00
              li
                a(href="consulting.html")
                  .text Consulting
                  .line
                  .number 01
              li
                a(href="marketing.html")
                  .text Marketing
                  .line
                  .number 02
              li
                a(href="development.html")
                  .text Development
                  .line
                  .number 03
              li
                a(href="cryptocurrency.html")
                  .text Cryptocurrency
                  .line
                  .number 04
              li
                a(href="legal.html")
                  .text Legal services
                  .line
                  .number 05
              li
                a(href="realestate.html")
                  .text Real estate
                  .line
                  .number 06
            .langs
              .current
                span EN
                .arrow
              .list
                a(href="/") EN
                a(href="/") EN
                a(href="/") EN
            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation")
              span(class="line line-1")
              span(class="line line-2")
              span(class="line line-3")
              
      main
        section.section.about-1
          .container
            .out about us
            .row
              .col-lg-6
                h1(data-aos="fade-down" data-aos-delay="500") Who are we?
                p.top(data-aos="fade-up" data-aos-delay="1000") We are a group of professional and passionate lawyers, economists, and developers, here to help you start your business from scratch. Our team thoroughly examines all the details of your future business and plans appropriate actions to move forward
                p.center(data-aos="fade-up" data-aos-delay="1500")
                  span Acalista group provides 
                  | you with support in all areas of 
                  strong your business from A to Z 
                  | to make sure everything runs smoothly. 
                p.bottom(data-aos="fade-up" data-aos-delay="2000") All you need to do is to sit back and relax while your business starts running. We’ve helped hundreds of clients to get their businesses up and running
        section.section.about-2
          .container
            .out where are we
            .row
              .col-6
                img(src="../img/about-2.png")
              .col-6
                h2(data-aos="fade-down") Locations
                p Our headquarters are in Israel 
                  br.d-none.d-lg-block
                  | with branches in 
                ul
                  li(data-aos="fade-right" data-aos-delay="0") UK
                  li(data-aos="fade-right" data-aos-delay="200") Latvia
                  li(data-aos="fade-right" data-aos-delay="400") Estonia
                  li(data-aos="fade-right" data-aos-delay="600") Ukraine
        section.section.about-3
          .container
            h2 Our Specialties
            .item.left
              .left
                .title
                  .icon
                    img(src="../img/about-icon-1.png" data-aos="fade-right")
                  a.link(data-aos="fade") Marketing
                  .line-wrap
                    .circle(data-aos="fade")
                    .line.marketing
                .text We develop ads and promote your business on appropriate online and offline channels.
              .right.marketing
                img(src="../img/about-3-1.png" data-aos="fade-left")
            .item.right
              .right
                .title
                  .icon
                    img(src="../img/about-icon-2.png" data-aos="fade-left")
                  a.link(data-aos="fade") Web Development
                  .line-wrap
                    .circle(data-aos="fade")
                    .line.web
                .text Website development of any difficulty level.
              .left.web
                img(src="../img/about-3-2.png" data-aos="fade-right")
            .item.left
              .left
                .title
                  .icon
                    img(src="../img/about-icon-3.png" data-aos="fade-right")
                  a.link(data-aos="fade") Branding
                  .line-wrap
                    .circle(data-aos="fade")
                    .line.branding
                .text As an essential part of your business, we start by developing your brand. We set the tone, the voice, the style of your design, and everything else that’s tied with your brand. 
              .right.branding
                img(src="../img/about-3-3.png" data-aos="fade-left")
            .item.right.width
              .right
                .title
                  .icon
                    img(src="../img/about-icon-4.png" data-aos="fade-left")
                  a.link(data-aos="fade") Administrative and Legal Services
                  .line-wrap
                    .circle(data-aos="fade")
                    .line.admin
                .text Anything from registration of your business to bank selection and tax planning.
              .left.admin
                img(src="../img/about-3-4.png" data-aos="fade-right")
            .item.left.width
              .left
                .title
                  .icon
                    img(src="../img/about-icon-5.png" data-aos="fade-right")
                  a.link(data-aos="fade") Cryptocurrencies
                  .line-wrap
                    .circle(data-aos="fade")
                    .line.crypto
                .text Crypto exchange portal for businesses that want to utilize the tool and offer more opportunities to their customers.
              .right.crypto
                img(src="../img/about-3-5.png" data-aos="fade-left")
            .item.right.width
              .right
                .title
                  .icon
                    img(src="../img/about-icon-6.png" data-aos="fade-left")
                  a.link(data-aos="fade") Real Estate
                  .line-wrap
                    .circle(data-aos="fade")
                    .line.real
                .text From renal to purchase of commercial estates to serve as offices, warehouses, and other commercial purposes. 
              .left.real
                img(src="../img/about-3-6.png" data-aos="fade-right")

      include layout/footer.pug
      script(src="js/jquery.min.js")
      script(src="js/bootstrap.min.js")
      script(src="js/lazy-load.js")
      script(src="js/aos.js")
      script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
      script(src="js/script.js")