<!DOCTYPE html>
html(lang="ar", dir="rtl")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
        title معلومات عنا
        link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
        link(rel="stylesheet preload", as="style" href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/aos.css")
        link(rel="stylesheet preload", as="style" href="css/main.css")
        link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
        link(rel="stylesheet preload", as="style" href="css/rtl.css")
    body.rtl
      header.header
        .container
          .header-wrap
            .logo
              a(href="index-ar.html")
                img(src="img/logo.svg", alt="logo")
            ul.header-menu.collapse#navbar
              li
                a.active(href="index-ar.html")
                  .text معلومات عنا
                  .line
                  .number 00
              li
                a(href="consulting-ar.html")
                  .text الاستشارة
                  .line
                  .number 01
              li
                a(href="marketing-ar.html")
                  .text التسويق
                  .line
                  .number 02
              li
                a(href="development-ar.html")
                  .text التطوير
                  .line
                  .number 03
              li
                a(href="cryptocurrency-ar.html")
                  .text عملة مشفرة
                  .line
                  .number 04
              li
                a(href="legal-ar.html")
                  .text خدمات قانونية
                  .line
                  .number 05
              li
                a(href="realestate-ar.html")
                  .text العقارات
                  .line
                  .number 06
            .langs
              .current
                span
                  img(src="/img/ar.png")
                .arrow
              .list
                a(href="/index.html")
                  img(src="/img/en.png")
                a(href="/index-ru.html")
                  img(src="/img/ru.png")
                a(href="/index-es.html")
                  img(src="/img/es.png")
            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation")
              span(class="line line-1")
              span(class="line line-2")
              span(class="line line-3")
              
      main
        section.section.about-1
          .container
            .out معلومات عنا
            .row
              .col-lg-6
                h1(data-aos="fade-down" data-aos-delay="500") من نحن؟
                p.top(data-aos="fade-up" data-aos-delay="1000") نحن مجموعة من المحامين والاقتصاديين والمطورين المحترفين ، هنا لمساعدتك في بدء عملك من الصفر. يقوم فريقنا بفحص شامل لجميع تفاصيل عملك المستقبلي ويخطط للإجراءات المناسبة للمضي قدمًا
                p.center(data-aos="fade-up" data-aos-delay="1500")
                  span توفر لك مجموعة أكاليستا 
                  | الدعم في جميع مجالات عملك من الألف إلى الياء للتأكد من أن كل شيء يسير بسلاسة.
                p.bottom(data-aos="fade-up" data-aos-delay="2000") كل ما عليك فعله هو الجلوس والاسترخاء أثناء بدء عملك. لقد ساعدنا مئات العملاء في إنشاء أعمالهم وتشغيلها
        section.section.about-2
          .container
            .out أين نحن
            .row
              .col-6
                img(src="../img/about-2.png")
              .col-6
                h2(data-aos="fade-down") المواقع
                p مقرنا الرئيسي في إسرائيل ولنا فروع في
                ul
                  li(data-aos="fade-right" data-aos-delay="0") المملكة المتحدة
                  li(data-aos="fade-right" data-aos-delay="200") لاتفيا
                  li(data-aos="fade-right" data-aos-delay="400") إستونيا
                  li(data-aos="fade-right" data-aos-delay="600") أوكرانيا
        section.section.about-3
          .container
            h2 تخصصاتنا
            .item.left
              .left
                .title
                  .icon
                    img(src="../img/about-icon-1.png" data-aos="fade-right")
                  a.link(data-aos="fade") التسويق
                  .line-wrap
                    .circle(data-aos="fade")
                    .line.marketing
                .text نقوم بتطوير الإعلانات والترويج لعملك على القنوات المناسبة عبر الإنترنت وخارج الانترنت.
              .right.marketing
                img(src="../img/about-3-1.png" data-aos="fade-left")
            .item.right
              .right
                .title
                  .icon
                    img(src="../img/about-icon-2.png" data-aos="fade-left")
                  a.link(data-aos="fade") تطوير الشبكة
                  .line-wrap
                    .circle(data-aos="fade")
                    .line.web
                .text تطوير الموقع من أي مستوى صعوبة.
              .left.web
                img(src="../img/about-3-2.png" data-aos="fade-right")
            .item.left
              .left
                .title
                  .icon
                    img(src="../img/about-icon-3.png" data-aos="fade-right")
                  a.link(data-aos="fade") العلامة التجارية
                  .line-wrap
                    .circle(data-aos="fade")
                    .line.branding
                .text كجزء أساسي من عملك ، نبدأ بتطوير علامتك التجارية. نحدد النغمة والصوت وأسلوب تصميمك وكل شيء آخر متعلق بعلامتك التجارية.
              .right.branding
                img(src="../img/about-3-3.png" data-aos="fade-left")
            .item.right.width
              .right
                .title
                  .icon
                    img(src="../img/about-icon-4.png" data-aos="fade-left")
                  a.link(data-aos="fade") الخدمات الإدارية والقانونية
                  .line-wrap
                    .circle(data-aos="fade")
                    .line.admin
                .text كل شيء - من تسجيل عملك إلى اختيار البنك والتخطيط الضريبي.
              .left.admin
                img(src="../img/about-3-4.png" data-aos="fade-right")
            .item.left.width
              .left
                .title
                  .icon
                    img(src="../img/about-icon-5.png" data-aos="fade-right")
                  a.link(data-aos="fade") العملات الرقمية
                  .line-wrap
                    .circle(data-aos="fade")
                    .line.crypto
                .text بوابة تبادل العملات المشفرة للشركات التي ترغب في استخدام هذه الأداة وتوفر المزيد من الفرص لعملائها.
              .right.crypto
                img(src="../img/about-3-5.png" data-aos="fade-left")
            .item.right.width
              .right
                .title
                  .icon
                    img(src="../img/about-icon-6.png" data-aos="fade-left")
                  a.link(data-aos="fade") العقارات
                  .line-wrap
                    .circle(data-aos="fade")
                    .line.real
                .text من الايجار إلى شراء العقارات التجارية لتكون بمثابة مكاتب ومستودعات وأغراض تجارية أخرى.
              .left.real
                img(src="../img/about-3-6.png" data-aos="fade-right")

      footer.footer
        .container
          .footer-nav
            .row
              .col-md-6
                ul.tel-ul
                  li
                    img.lazy(data-src="img/israel-flag.png")
                    a(href="tel:+972 3375 11 34") +972 3375 11 34
                  li
                    img.lazy(data-src="img/usa-flag.png")
                    a(href="tel:+1 929 322 8811") +1 929 322 8811
                  li
                    img.lazy(data-src="img/uk-flag.png")
                    a(href="tel:+44 20 4577 1146") +44 20 4577 1146
                  li
                    img.lazy(data-src="img/ukraine-flag.png")
                    a(href="tel:+380 95 687 29 07") +380 95 687 29 07
              .col-md-6
                ul.payment-ul
                  li.flexed
                    a(href="https://google.com" target="_blank")
                      img.lazy.pay-sys(data-src="img/swift.png")
                    a(href="https://google.com" target="_blank")
                      img.lazy.pay-sys(data-src="img/sepa.jpg")
                  li.flexed
                    a(href="https://google.com" target="_blank")
                      img.lazy.pay-sys(data-src="img/masterCard.jpg")
                    a(href="https://google.com" target="_blank")
                      img.lazy.pay-sys(data-src="img/visa.jpg")
                  li.flexed.btc-flexed
                    a(href="https://google.com" target="_blank")
                      img.lazy.pay-sys(data-src="img/btc.png")

          .footer-wrap
            .copy جميع الحقوق محفوظة من قبل أكاليستا.
            .social
              a(href="https://www.facebook.com/acalistagroup" target="blank")
                .icon
                  img(src="img/facebook_logo.png", alt="facebook")
              a(href="https://www.instagram.com/acalistagroup/" target="blank")
                .icon
                  img(src="img/instagram-brands.png", alt="instagram")
              a(href="https://www.linkedin.com/company/acalista-group/" target="blank")
                .icon
                  img(src="img/linkedin_logo.png", alt="linkedIn")
              a(href="https://twitter.com/AcalistaGroup" target="blank")
                .icon
                  img(src="img/twitter-brands.png", alt="linkedIn")
            .mail
              a(href="mailto:info@acalista.com") info@acalista.com
      script(src="js/jquery.min.js")
      script(src="js/bootstrap.min.js")
      script(src="js/lazy-load.js")
      script(src="js/aos.js")
      script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
      script(src="js/script.js")