<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
        title Document
        link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/bootstrap-grid.min.css")
        link(rel="stylesheet", href="css/aos.css")
        link(rel="stylesheet", href="css/main.css")
    body
        include layout/header.pug
        main
          section.main-section.consulting
            .container
              .row
                .col-lg-6                  
                  h1.title
                    span 01
                    span Consulting
                  .sub-title
                    .arrow
                      img(src="img/blue_arrow.png", alt="arrow")
                    .text Lorem ipsum dolor sit amet, consectetur adipisicing
                      br
                      | elit, sed do eiusmod tempor incididunt ut labore et
                  a.video-link(href="index.html")
                    .text Watch
                      br
                      | our trailer
                    .link-img
                      img(src="img/play_button.png", alt="play")
                .col-lg-6
                  a.cube-link(href="#") Услуги по регистрации компаний
                  a.cube-link(href="#") Счета
                  a.cube-link(href="#") Лицензии
                  img(src="img/cube-consulting.png", alt="cube")
                  //- include components/cube.pug
          section.section.consulting-1
            div(data-src="../img/consulting_1.png").container.lazy
              .section-title
                .title-cube
                  img.lazy(data-src="img/stamp.png")
                  p РЕГИСТРАЦИИ
                h2 Услуги по
                  br
                  span регистрации компаний
              .row
                .col-xl-6
                  ul.check-list.left
                    li(data-aos="fade-right" data-aos-delay="100") Регистрируем и предоставляем качественный сервис в мировом пространстве, включая оффшорные юрисдикции
                    li(data-aos="fade-right" data-aos-delay="150") Предлагаем секретарские услуги для компаний;
                    li(data-aos="fade-right" data-aos-delay="200") Ведем бухгалтерское обслуживание – учет, подготовка отчетов, аудит, а также подача отчетов в налоговую службу;
                    li(data-aos="fade-right" data-aos-delay="250") Предоставляем юридический или регистрационный адрес;
                    li(data-aos="fade-right" data-aos-delay="300") Заверяем пакет документов компании – нотариальное заверение или апостиль документов;
                .col-xl-6
                  ul.check-list.top
                    li(data-aos="fade-left" data-aos-delay="100") Качественно подготавливаем необходимую документацию, в том числе доверенности, уставы, договоры об учреждении и другие;
                    li(data-aos="fade-left" data-aos-delay="150") Предоставляем помощь в получении сертификатов в оффшорных зонах;
                    li(data-aos="fade-left" data-aos-delay="200") Предлагаем профессиональный номинальный сервис – партнер, директор, акционер;
                    li(data-aos="fade-left" data-aos-delay="250") Открываем банковские счета, мерчант счета, подключение платежных систем;
                    li(data-aos="fade-left" data-aos-delay="300") Получаем финансовые, Forex, EML, игровые лицензии;
                    li(data-aos="fade-left" data-aos-delay="350") Присутствует целый ряд дополнительных услуг.

          section.section.consulting-2
            .container
              h3.letter Юрисдикции
              .tabs
                ul.nav
                  li.nav-item
                    a(href="#content1" data-toggle="tab").nav-link.active Oффшорныe юрисдикции
                  li.nav-item
                    a(href="#content2" data-toggle="tab").nav-link Низконалоговые юрисдикции
                  li.nav-item
                    a(href="#content3" data-toggle="tab").nav-link Европейские юрисдикции
                  li.nav-item
                    a(href="#content4" data-toggle="tab").nav-link Юрисдикции в Азии
                  li.nav-item
                    a(href="#content5" data-toggle="tab").nav-link Юрисдикции в Северной и Южной Америке
                  li.nav-item
                    a(href="#content6" data-toggle="tab").nav-link Юрисдикции в Австралии и Океании
                  li.nav-item
                    a(href="#content7" data-toggle="tab").nav-link Юрисдикции в Африке
            div(data-src="../img/map.png").tab-content.lazy
              .container
                div.tab-pane.fade.show.active#content1
                  .table
                    .row
                      .col-4.col-lg-2.col-xl-2.offset-0
                        .table-item Anguilla
                        .table-item BVI
                        .table-item Dominica
                        .table-item Mauritius
                        .table-item Nauru
                      .col-4.col-lg-2.col-xl-2.offset-0
                        .table-item Antigua
                        .table-item Vanuatu
                        .table-item Cayman islands
                        .table-item Madeira
                        .table-item St. Kitts&Nevis
                      .col-4.col-lg-2.col-xl-2.offset-0
                        .table-item Aruba
                        .table-item Guernsey
                        .table-item Costa Rica
                        .table-item Macau
                        .table-item Niue
                      .col-4.col-lg-2.col-xl-2.offset-0
                        .table-item Bahamas
                        .table-item Gibraltar
                        .table-item Curacao
                        .table-item Malta
                        .table-item Isle Of Man
                      .col-4.col-lg-2.col-xl-2.offset-0
                        .table-item Bahamas
                        .table-item Hong Kong
                        .table-item Labuan
                        .table-item Marshall Islands
                        .table-item Cook Islands
                      .col-4.col-lg-2.col-xl-2.offset-0
                        .table-item Belize
                        .table-item Jersey
                        .table-item Liberia
                        .table-item Monaco
                        .table-item Panama
                div.tab-pane.fade#content2
                  .table
                    .row
                      .col-4.col-lg-2.col-xl-2.offset-0
                        .table-item Anguilla
                        .table-item BVI
                        .table-item Dominica
                        .table-item Mauritius
                        .table-item Nauru
                      .col-4.col-lg-2.col-xl-2.offset-0
                        .table-item Antigua
                        .table-item Vanuatu
                        .table-item Cayman islands
                        .table-item Madeira
                        .table-item St. Kitts&Nevis
                      .col-4.col-lg-2.col-xl-2.offset-0
                        .table-item Aruba
                        .table-item Guernsey
                        .table-item Costa Rica
                        .table-item Macau
                        .table-item Niue
                      .col-4.col-lg-2.col-xl-2.offset-0
                        .table-item Bahamas
                        .table-item Gibraltar
                        .table-item Curacao
                        .table-item Malta
                        .table-item Isle Of Man
                      .col-4.col-lg-2.col-xl-2.offset-0
                        .table-item Bahamas
                        .table-item Hong Kong
                        .table-item Labuan
                        .table-item Marshall Islands
                        .table-item Cook Islands
                      .col-4.col-lg-2.col-xl-2.offset-0
                        .table-item Belize
                        .table-item Jersey
                        .table-item Liberia
                        .table-item Monaco
                        .table-item Panama
                div.tab-pane.fade#content3
                  .table
                    .row
                      .col-4.col-lg-2.col-xl-2.offset-0
                        .table-item Anguilla
                        .table-item BVI
                        .table-item Dominica
                        .table-item Mauritius
                        .table-item Nauru
                      .col-4.col-lg-2.col-xl-2.offset-0
                        .table-item Antigua
                        .table-item Vanuatu
                        .table-item Cayman islands
                        .table-item Madeira
                        .table-item St. Kitts&Nevis
                      .col-4.col-lg-2.col-xl-2.offset-0
                        .table-item Aruba
                        .table-item Guernsey
                        .table-item Costa Rica
                        .table-item Macau
                        .table-item Niue
                      .col-4.col-lg-2.col-xl-2.offset-0
                        .table-item Bahamas
                        .table-item Gibraltar
                        .table-item Curacao
                        .table-item Malta
                        .table-item Isle Of Man
                      .col-4.col-lg-2.col-xl-2.offset-0
                        .table-item Bahamas
                        .table-item Hong Kong
                        .table-item Labuan
                        .table-item Marshall Islands
                        .table-item Cook Islands
                      .col-4.col-lg-2.col-xl-2.offset-0
                        .table-item Belize
                        .table-item Jersey
                        .table-item Liberia
                        .table-item Monaco
                        .table-item Panama
                div.tab-pane.fade#content4
                  .table
                    .row
                      .col-4.col-lg-2.col-xl-2.offset-0
                        .table-item Anguilla
                        .table-item BVI
                        .table-item Dominica
                        .table-item Mauritius
                        .table-item Nauru
                      .col-4.col-lg-2.col-xl-2.offset-0
                        .table-item Antigua
                        .table-item Vanuatu
                        .table-item Cayman islands
                        .table-item Madeira
                        .table-item St. Kitts&Nevis
                      .col-4.col-lg-2.col-xl-2.offset-0
                        .table-item Aruba
                        .table-item Guernsey
                        .table-item Costa Rica
                        .table-item Macau
                        .table-item Niue
                      .col-4.col-lg-2.col-xl-2.offset-0
                        .table-item Bahamas
                        .table-item Gibraltar
                        .table-item Curacao
                        .table-item Malta
                        .table-item Isle Of Man
                      .col-4.col-lg-2.col-xl-2.offset-0
                        .table-item Bahamas
                        .table-item Hong Kong
                        .table-item Labuan
                        .table-item Marshall Islands
                        .table-item Cook Islands
                      .col-4.col-lg-2.col-xl-2.offset-0
                        .table-item Belize
                        .table-item Jersey
                        .table-item Liberia
                        .table-item Monaco
                        .table-item Panama
                div.tab-pane.fade#content5
                  .table
                    .row
                      .col-4.col-lg-2.col-xl-2.offset-0
                        .table-item Anguilla
                        .table-item BVI
                        .table-item Dominica
                        .table-item Mauritius
                        .table-item Nauru
                      .col-4.col-lg-2.col-xl-2.offset-0
                        .table-item Antigua
                        .table-item Vanuatu
                        .table-item Cayman islands
                        .table-item Madeira
                        .table-item St. Kitts&Nevis
                      .col-4.col-lg-2.col-xl-2.offset-0
                        .table-item Aruba
                        .table-item Guernsey
                        .table-item Costa Rica
                        .table-item Macau
                        .table-item Niue
                      .col-4.col-lg-2.col-xl-2.offset-0
                        .table-item Bahamas
                        .table-item Gibraltar
                        .table-item Curacao
                        .table-item Malta
                        .table-item Isle Of Man
                      .col-4.col-lg-2.col-xl-2.offset-0
                        .table-item Bahamas
                        .table-item Hong Kong
                        .table-item Labuan
                        .table-item Marshall Islands
                        .table-item Cook Islands
                      .col-4.col-lg-2.col-xl-2.offset-0
                        .table-item Belize
                        .table-item Jersey
                        .table-item Liberia
                        .table-item Monaco
                        .table-item Panama
                div.tab-pane.fade#content6
                  .table
                    .row
                      .col-4.col-lg-2.col-xl-2.offset-0
                        .table-item Anguilla
                        .table-item BVI
                        .table-item Dominica
                        .table-item Mauritius
                        .table-item Nauru
                      .col-4.col-lg-2.col-xl-2.offset-0
                        .table-item Antigua
                        .table-item Vanuatu
                        .table-item Cayman islands
                        .table-item Madeira
                        .table-item St. Kitts&Nevis
                      .col-4.col-lg-2.col-xl-2.offset-0
                        .table-item Aruba
                        .table-item Guernsey
                        .table-item Costa Rica
                        .table-item Macau
                        .table-item Niue
                      .col-4.col-lg-2.col-xl-2.offset-0
                        .table-item Bahamas
                        .table-item Gibraltar
                        .table-item Curacao
                        .table-item Malta
                        .table-item Isle Of Man
                      .col-4.col-lg-2.col-xl-2.offset-0
                        .table-item Bahamas
                        .table-item Hong Kong
                        .table-item Labuan
                        .table-item Marshall Islands
                        .table-item Cook Islands
                      .col-4.col-lg-2.col-xl-2.offset-0
                        .table-item Belize
                        .table-item Jersey
                        .table-item Liberia
                        .table-item Monaco
                        .table-item Panama
                div.tab-pane.fade#content7
                  .table
                    .row
                      .col-4.col-lg-2.col-xl-2.offset-0
                        .table-item Anguilla
                        .table-item BVI
                        .table-item Dominica
                        .table-item Mauritius
                        .table-item Nauru
                      .col-4.col-lg-2.col-xl-2.offset-0
                        .table-item Antigua
                        .table-item Vanuatu
                        .table-item Cayman islands
                        .table-item Madeira
                        .table-item St. Kitts&Nevis
                      .col-4.col-lg-2.col-xl-2.offset-0
                        .table-item Aruba
                        .table-item Guernsey
                        .table-item Costa Rica
                        .table-item Macau
                        .table-item Niue
                      .col-4.col-lg-2.col-xl-2.offset-0
                        .table-item Bahamas
                        .table-item Gibraltar
                        .table-item Curacao
                        .table-item Malta
                        .table-item Isle Of Man
                      .col-4.col-lg-2.col-xl-2.offset-0
                        .table-item Bahamas
                        .table-item Hong Kong
                        .table-item Labuan
                        .table-item Marshall Islands
                        .table-item Cook Islands
                      .col-4.col-lg-2.col-xl-2.offset-0
                        .table-item Belize
                        .table-item Jersey
                        .table-item Liberia
                        .table-item Monaco
                        .table-item Panama

          section.section.consulting-3
            div(data-src="../img/law.png").container.lazy
              .row
                .col-lg-7.offset-lg-5
                  h3(data-aos="fade-up").word
                    span При покупке полочных оффшорных компаний 
                    | вы получаете следующие документы:
                  ul.consulting-3-list
                    li(data-aos="fade-left" data-aos-delay="100") Сертификат регистрации компании
                    li(data-aos="fade-left" data-aos-delay="150") Сертификат Good Standing (если компания старше года);
                    li(data-aos="fade-left" data-aos-delay="200") Учредительный договор и Устав компании;
                    li(data-aos="fade-left" data-aos-delay="250") Протокол первого заседания;
                    li(data-aos="fade-left" data-aos-delay="300") Реестр директоров;
                    li(data-aos="fade-left" data-aos-delay="350") Реестр участников;
                    li(data-aos="fade-left" data-aos-delay="400") Сертификат на имя номинального держателя акций;
                    li(data-aos="fade-left" data-aos-delay="450") Декларация о доверительном управлении собственностью;
                    li(data-aos="fade-left" data-aos-delay="500") Назначение первого директора (номинального держателя) и доверенность, выданная на данное имя сроком на один год, начиная с даты покупки компании;
                    li(data-aos="fade-left" data-aos-delay="550") Апостилированная копия (один комплект) зарегистрированных документов компании;
                    li(data-aos="fade-left" data-aos-delay="600") Корпоративная печать.

          section.section.consulting-4
            div(data-src="../img/consulting_4.png").container.lazy
              h3(data-aos="fade-up").word Оплачиваемые услуги 
                span при регистрации компании:
              ul.consulting-4-list
                li(data-aos="fade-right" data-aos-delay="50") Сборы за государственную регистрацию;
                li(data-aos="fade-right" data-aos-delay="100") Услуги регистрационного агента;
                li(data-aos="fade-right" data-aos-delay="200") Оплата за регистрацию юридического адреса;
                li(data-aos="fade-right" data-aos-delay="300") Годовое обслуживание (заказывая компанию со стажем Вы платите за ежегодное обслуживание всех лет, пока компания ждала своего владельца);
                li(data-aos="fade-right" data-aos-delay="400") Курьерская доставка

          section.section.consulting-5
            div(data-src="../img/consulting_5.png").container.lazy
              h3.word 
                span Преимущества
                br
                |готовых оффшорных компаний
              .row
                .col-lg-5
                  ul.consulting-5-list.left
                    li(data-aos="fade-right" data-aos-delay="100")
                      span Готовые компании доступны 
                      | сразу после покупки, комплект документов уже упакован и готов к отправке. Все же, если Вам нужны пакеты с апостилем или нотариальным заверением, необходимо подождать 1-2 дня процедуру апостиля.
                    li(data-aos="fade-right" data-aos-delay="200")
                      span Коммерческая деятельность 
                      | доступна сразу после покупки.
                    li(data-aos="fade-right" data-aos-delay="300")
                      span Цены на готовые оффшорные компании 
                      | составляют цену регистрации компании плюс цену номинального сервиса, что, по сути, не отличается от обычной цены на компанию, если вы используете номинальный сервис. Цена может отличаться, если компании несколько лет, потому как за компанию дополнительно уплачивались годовые сборы.
                .col-lg-5.offset-lg-2
                  ul.consulting-5-list.right
                    li(data-aos="fade-left" data-aos-delay="100") Наша компания всегда может 
                      span предложить большой список 
                      | готовых оффшорных компаний с различными названиями.
                    li(data-aos="fade-left" data-aos-delay="200") Всегда 
                      span имеется возможность изменить 
                      | состав акционеров, уставной капитал, устав, полномочий, внести ограничения прав и т. д. в соответствии с конкретными потребностями клиента.
                    li(data-aos="fade-left" data-aos-delay="300")
                      span Плата за обслуживание 
                      | компании оплачивается при покупке компании и действительна в течение года со дня покупки данной компании.
                    li(data-aos="fade-left" data-aos-delay="400") Все компании 
                      span имеют хороший правовой статус 
                      | несмотря на то, что для этих компаний никогда не велись банковские счета, поэтому они на 100% прозрачны.

          section(data-src="../img/consulting_6.png").section.consulting-6.lazy
            .container
              .color-block
                .row
                  .col-lg-6
                    p.small
                      span Специалисты компании One topshop предоставят Вам 
                      | квалифицированную консультацию по приобретению оффшорной компании, открытии банковского счета в любой юрисдикции.
                    p.big
                      span Мы предлагаем готовые оффшорные компании – 
                      | переоформление документов на новых владельцев занимает 3 дня.
                  .col-lg-6
                    p.red ОФФШОРНЫЕ 
                      br.d-none.d-lg-block
                      span КОМПАНИИ
                    a.button.red(href="#") START TODAY

          section.section.consulting-7
            div(data-src="../img/consulting_7.png").container.lazy
              .section-title
                .title-cube
                  img.lazy(data-src="img/document.png")
                  p ЛИЦЕНЗИИ
                h2
                  span Лицензии
                  br
                  | Выбор правильной юрисдикции
                  br
                  | для бизнес-лицензии
              .row
                .col-lg-8
                  p.sub-text
                    strong Собственники компаний и их руководители заинтересованы в развитии своего бизнеса и часто ищут возможности в юрисдикциях, которые навязывают меньше административных расходов и трудностей, и позволяют вести бизнес на более выгодных условиях. Большинство компаний выбирают юрисдикций, которые включают в себя по крайней мере следующие функции:
                  ul.check-list.left
                    li(data-aos="fade-right" data-aos-delay="100") благоприятный режим налогообложения
                    li(data-aos="fade-right" data-aos-delay="150") стабильная политическая ситуация и лояльное законодательство
                    li(data-aos="fade-right" data-aos-delay="200") упрощенный режим лицензирования бизнеса
                    li(data-aos="fade-right" data-aos-delay="250") дружественная бизнес среда
                    li(data-aos="fade-right" data-aos-delay="300") выгодные условия для домициля
              p.sub-text.center
                strong Страны Карибского бассейна и Латинской Америки часто рассматриваются для следующих видов деятельности, доступных для международного лицензирования
            .small-tabs
              .container
                .row
                  .col-lg-5
                    ul.nav
                      li.nav-item
                        a(href="#smcontent1" data-toggle="tab").active Международная банковская лицензия
                      li.nav-item
                        a(href="#smcontent1" data-toggle="tab") Услуги по переводу денежных средств, Обработка платежных услуг, Лицензия по услугам денежных переводов
                      li.nav-item
                        a(href="#smcontent1" data-toggle="tab") Лицензия Forex Брокера
                      li.nav-item
                        a(href="#smcontent1" data-toggle="tab") Игорные лицензии
                      li.nav-item
                        a(href="#smcontent1" data-toggle="tab") Лицензии на криптовалюты
                  .col-lg-7
                    ul.tab-pane.fade.show.active#smcontent1
                      li 1.&nbsp;&nbsp;&nbsp;&nbsp; Лицензия на электронные деньги в Эстонии (EMI в Эстонии)
                      li 2.&nbsp;&nbsp;&nbsp;&nbsp; Лицензия на электронные деньги в Великобритании (EMI в Великобритании)
                      li 3.&nbsp;&nbsp;&nbsp;&nbsp; Лицензия на электронные деньги в Латвии (EMI в Латвии)
                      li 4.&nbsp;&nbsp;&nbsp;&nbsp; Лицензия на электронные деньги в Чехии (EMI в Чехии)
                    ul.tab-pane.fade#smcontent2
                      li 1.&nbsp;&nbsp;&nbsp;&nbsp; Лицензия на электронные деньги в Эстонии (EMI в Эстонии)
                      li 2.&nbsp;&nbsp;&nbsp;&nbsp; Лицензия на электронные деньги в Великобритании (EMI в Великобритании)
                      li 3.&nbsp;&nbsp;&nbsp;&nbsp; Лицензия на электронные деньги в Латвии (EMI в Латвии)
                      li 4.&nbsp;&nbsp;&nbsp;&nbsp; Лицензия на электронные деньги в Чехии (EMI в Чехии)
                    ul.tab-pane.fade#smcontent3
                      li 1.&nbsp;&nbsp;&nbsp;&nbsp; Лицензия на электронные деньги в Эстонии (EMI в Эстонии)
                      li 2.&nbsp;&nbsp;&nbsp;&nbsp; Лицензия на электронные деньги в Великобритании (EMI в Великобритании)
                      li 3.&nbsp;&nbsp;&nbsp;&nbsp; Лицензия на электронные деньги в Латвии (EMI в Латвии)
                      li 4.&nbsp;&nbsp;&nbsp;&nbsp; Лицензия на электронные деньги в Чехии (EMI в Чехии)
                    ul.tab-pane.fade#smcontent4
                      li 1.&nbsp;&nbsp;&nbsp;&nbsp; Лицензия на электронные деньги в Эстонии (EMI в Эстонии)
                      li 2.&nbsp;&nbsp;&nbsp;&nbsp; Лицензия на электронные деньги в Великобритании (EMI в Великобритании)
                      li 3.&nbsp;&nbsp;&nbsp;&nbsp; Лицензия на электронные деньги в Латвии (EMI в Латвии)
                      li 4.&nbsp;&nbsp;&nbsp;&nbsp; Лицензия на электронные деньги в Чехии (EMI в Чехии)
                    ul.tab-pane.fade#smcontent5
                      li 1.&nbsp;&nbsp;&nbsp;&nbsp; Лицензия на электронные деньги в Эстонии (EMI в Эстонии)
                      li 2.&nbsp;&nbsp;&nbsp;&nbsp; Лицензия на электронные деньги в Великобритании (EMI в Великобритании)
                      li 3.&nbsp;&nbsp;&nbsp;&nbsp; Лицензия на электронные деньги в Латвии (EMI в Латвии)
                      li 4.&nbsp;&nbsp;&nbsp;&nbsp; Лицензия на электронные деньги в Чехии (EMI в Чехии)
                p.sub-text.bottom
                  strong Компании, занимающиеся предоставлением услуг платежных систем, крипто-валют, форекс услуги, финансовые услуги и азартных игр, могут извлечь выгоду при получении лицензии и создания предприятия, удовлетворяющего требованиям лицензий определенного класса в стране Карибского бассейна или Латинской Америки.

          section(data-src="../img/consulting_8.png").section.consulting-8.lazy
            .container
              .color-block
                .row
                  .col-lg-6
                    p.big
                      span Готовые лицензии на продажу 
                      | Всегда в наличии есть готовые компании с лицензиями
                    p.small Пожалуйста, свяжитесь с нами, чтобы узнать больше о возможностях лицензирования, получения индивидуального предложения исходя из ваших требований и детального расчета для получения лицензии Вашего будущего или существующего бизнеса.
                  .col-lg-6
                    p.red ЛИЦЕНЗИИ
                    a.button.red(href="#") START TODAY

          section.section.consulting-9
            div(data-src="../img/consulting_9.png").container.lazy
              .section-title
                .title-cube
                  img.lazy(data-src="img/bank.png")
                  p СЧЕТ В БАНКЕ
                h2
                  span Счет в банке
                  br
                  | Открытие Счета в банке
              p.sub-text Компания One TopShop 
                strong помогает в открытии банковских счетов в более 120 банках по всему миру. 
                br
                | С нами открыть счет в банке очень просто.
              p.sub-text В связи с постоянными ужесточением банковских систем по всему миру, внедрением автоматического обмена налоговой и банковской информации во многих странах по всему миру, желаниями государств контролировать финансовые потоки своих резидентов, требования к компаниям и документам компаний при открытии счетов становятся более жесткими.
              p.sub-text На протяжении длительного периода сотрудничества наши специалисты поддерживают контакты с сотрудниками многих банков по всему миру, предоставляя нашим клиентам своевременные и оптимальные по срокам и тарифам банковские решения для их бизнеса.


          section.section.consulting-10
            .container
              h3(data-aos="fade-up").word
                span Типы открытия
                br
                | банковских счетов
              .row
                .col-lg-6
                  img.lazy(data-src="img/circle.png")
                  img.lazy(data-src="img/types.png")
                .col-lg-6
                  p.types Личный счёт физического лица
                  p.types Корпоративный счёт на компанию
                  p.word 
                    span Сложность открытия 
                    | банковского счета в зарубежном банке может зависеть от многих факторов, которые могут повлиять на сроки рассмотрения и стоимость открытия счета, таких как
                  ul.consulting-10-list
                    li(data-aos="fade-up" data-aos-delay="100") High risk деятельность (платежи от физических лиц, финансовая, лицензируемая, Forex, гемблинг, порно и т.д.);
                    li(data-aos="fade-up" data-aos-delay="150") Оффшорная юрисдикция компании;
                    li(data-aos="fade-up" data-aos-delay="200") Отсутствие лицензии на лицензируемую деятельность;
                    li(data-aos="fade-up" data-aos-delay="250") Другие причины
                  p.bottom Перечень банков по странам:

          section(data-src="../img/consulting_11.png").section.consulting-11.lazy
            .container
              .color-block
                .row
                  .col-lg-6
                    p.big
                      span Наша компания имеет опыт 
                      br
                      | в подготовке компании к выполнению всех требований банковских учреждений для положительного решения в открытии счета
                  .col-lg-6
                    p.red СЧЕТА В БАНКЕ
                    a.button.red(href="#") START TODAY

          section.section.consulting-12
            div(data-src="../img/consulting_12.png").container.lazy
              .section-title
                .title-cube
                  img.lazy(data-src="img/payment.png")
                  p ПЛАТЕЖНАЯ СИСТЕМА
                h2
                  span Платёжная система
                  br
                  | Открыть счёт в платёжной системе
              p.sub-text На сегодняшний день банки неохотно работают с компаниями и гражданами-нерезидентами, постоянно проживающими за рубежом и не имеющими гражданства страны, в банк которой они обратились.  Заключить сделку с таким банком и суметь открыть счет – длительная и трудная работа.
              p.sub-text Именно поэтому на рынке появилась альтернативная услуга, позволяющая избежать процесса открытия счета в банке. Платежная система – это ключевая часть современной монетарной системы, предоставляющая возможность обеспечить денежный перевод между физическими и юридическими лицами.
              p.sub-text One TopShop сотрудничает более чем с 30 платежными системами, работающими по всему миру.

          section.section.consulting-13
            div(data-src="../img/consulting_13.png").container.lazy
              .row
                .col-lg-7.offset-lg-5
                  h3(data-aos="fade-up").word
                    span Что такое
                    br
                    | платежная система
                  p.sub-text.first
                    span Платежная система
                    | – компания, работа которой заключается в том, чтобы обеспечить обмен денежными средствами в рамках экономики и через национальные границы между участниками – частными и юридическими лицами. Это основа законов, правил, механизмов, систем, процедур и соглашений, которые регулируют платежи.
                  p.sub-text Примечательным является то, что платежная система – это не банк, а организация, занимающаяся предоставлением финансовых услуг с соответствующей лицензией.
                  p.sub-text Платежи могут быть классифицированы по крупной и розничной стоимости с учетом стоимости платежа и типа стороны, которая инициирует транзакцию.
                  p.sub-text Крупные платежи, как правило, представляют собой платежи высокой стоимости, осуществляемые финансовыми учреждениями, тогда как розничные платежи осуществляются физическими лицами и имеют относительно низкую стоимость.

          section(data-src="../img/consulting_14.png").section.consulting-14.lazy
            .container
              h3.word 
                span Преимущества
                br
                |открытия счета в платежной системе
              .row
                .col-xl-5
                  ul.consulting-14-list.left
                    li(data-aos="fade-right" data-aos-delay="100")
                      span идентификация 
                      | клиента более лояльна;
                    li(data-aos="fade-right" data-aos-delay="150")
                      span возможность 
                      | открытия мультивалютного счета;
                    li(data-aos="fade-right" data-aos-delay="200") более 
                      span выгодные тарифы 
                      | на обслуживание и транзакции;
                    li(data-aos="fade-right" data-aos-delay="250") процедура открытия счета занимает 
                      span несколько часов или дней, 
                      | в зависимости от системы;
                    li(data-aos="fade-right" data-aos-delay="300")
                      span круглосуточный 
                      | прием платежей;
                    li(data-aos="fade-right" data-aos-delay="350")
                      span выпуск карт 
                      | VISA, MASTERCARD и других;
                    li(data-aos="fade-right" data-aos-delay="400")
                      span создание 
                      | универсальных, именных или зарплатных карт (актуально для международных компаний, выплачивающих заработную плату для сотрудников из разных стран)
                    li(data-aos="fade-right" data-aos-delay="450") возможность 
                      span подключения 
                      | мерчант счета.
                      
          section(data-src="../img/consulting_15.png").section.consulting-15.lazy
            .container
              .color-block
                .row
                  .col-lg-6
                    p.big
                      span Создать платежный счет – задача не сложная, 
                      br
                      | если обратиться к нашим специалистам, которые ответят на все интересующие вопросы.
                  .col-lg-6
                    p.red ПЛАТЕЖНАЯ СИСТЕМА
                    a.button.red(href="#") START TODAY

          section.section.consulting-16
            div(data-src="../img/consulting_16.png").container.lazy
              .section-title
                .title-cube
                  img.lazy(data-src="img/transaction.png")
                  p МЕРЧАНТ 
                    br
                    | СЧЕТ
                h2
                  span Мерчант аккаунт
                  br
                  | Подключить платежи с сайта
              p.sub-text.first Если вы ведете бизнес в интернете, то вам определенно необходим мерчант счет, а лучше несколько. Использование мерчант счета позволяет покупателям осуществлять покупки с вашего сайта при помощи банковских пластиковых карт, что значительно упрощает процедуру покупки для покупателя, а для компании создает удобство продаж.
              p.sub-text Компания One TopShop предлагает открыть мерчант счет в более чем 30 банковских учреждениях, а также в 23 небанковских финансовых учреждениях по всему миру. Подбор мерчант счета будет зависеть от вида деятельности вашей компании, а также стран и банковских учреждений, из которых вы хотите получать платежи.

          section.section.consulting-17
            .container
              h3.word
                span Виды 
                | мерчант счетов
              p.sub-title В зависимости от видов деятельности и уровня возврата платежей, мерчант счет может быть:
              .row
                .col-lg-6
                  img.lazy(data-src="img/mcircle.png")
                  img.lazy(data-src="img/mtypes.png")
                .col-lg-6
                  p.types high risk – высокий риск возвратов платежей
                  p.types low risk – низкий риск возвратов платежей
                  p.sub-text Открытие мерчанта 
                    span для high risk 
                    | деятельности займет больше времени и потребует предоставления дополнительных документов и информации.
                  p.sub-text Чем выше риск вашего бизнеса, тем выше будет процент комиссии, взимаемой банком / процессингом с осуществленных платежей.
                  p.list-title Степень риска оценивается индивидуально после тщательного анализа: 
                  ul.consulting-17-list
                    li(data-aos="fade-up" data-aos-delay="100") документов компании;
                    li(data-aos="fade-up" data-aos-delay="150") сайта компании;
                    li(data-aos="fade-up" data-aos-delay="200") вида вашей деятельности;
                    li(data-aos="fade-up" data-aos-delay="250") наличия банковского счета компании;
                    li(data-aos="fade-up" data-aos-delay="300") процессинговой истории, если она имеется.

          section(data-src="../img/consulting_18.png").section.consulting-18.lazy
            .container
              .color-block
                .row
                  .col-lg-6
                    p.big Компания One TopShop 
                      br
                      span предлагает открыть мерчант счёт 
                      | в более чем 30 банковских учреждениях, а также в 23 небанковских финансовых учреждениях по всему миру.
                  .col-lg-6
                    p.red МЕРЧАНТ СЧЕТ
                    a.button.red(href="#") START TODAY

        include layout/footer.pug
        script(src="js/jquery.min.js")
        script(src="js/bootstrap.min.js")
        script(src="js/lazy-load.js")
        script(src="js/aos.js")
        script(src="js/script.js")