<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
        title Юридические услуги
        link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
        link(rel="stylesheet preload", as="style" href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/aos.css")
        link(rel="stylesheet preload", as="style" href="css/main.css")
        link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
    body
      header.header
        .container
          .header-wrap
            .logo
              a(href="index-ru.html")
                img(src="img/logo.svg", alt="logo")
            ul.header-menu.collapse#navbar
              li
                a(href="index-ru.html")
                  .text О нас
                  .line
                  .number 00
              li
                a(href="consulting-ru.html")
                  .text Консалтинг
                  .line
                  .number 01
              li
                a(href="marketing-ru.html")
                  .text Маркетинг
                  .line
                  .number 02
              li
                a(href="development-ru.html")
                  .text Веб-разработка
                  .line
                  .number 03
              li
                a(href="cryptocurrency-ru.html")
                  .text Криптовалюта
                  .line
                  .number 04
              li
                a.active(href="legal-ru.html")
                  .text Юридические услуги
                  .line
                  .number 05
              li
                a(href="realestate-ru.html")
                  .text Недвижимость
                  .line
                  .number 06
            .langs
              .current
                span
                  img(src="/img/ru.png")
                .arrow
              .list
                a(href="./legal.html")
                  img(src="/img/en.png")
                a(href="/legal-es.html")
                  img(src="/img/es.png")
                a(href="/legal-ar.html")
                  img(src="/img/ar.png")
            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation")
              span(class="line line-1")
              span(class="line line-2")
              span(class="line line-3")
      main
        section.main-section.legal
          .container
            .row
              .col-lg-6
                h1.title
                  span(data-aos="fade" data-aos-delay="100") 05
                  span.text-animate.legal
                    span Ю
                    span р
                    span и
                    span д
                    span и
                    span ч
                    span е
                    span с
                    span к
                    span и
                    span е
                    br
                    span у
                    span с
                    span л
                    span у
                    span г
                    span и
                .sub-title
                  .arrow(data-aos="fade-right" data-aos-delay="2000")
                    img(src="img/pink-arrow.png", alt="arrow")
                  .text(data-aos="fade-left" data-aos-delay="2000") Квалифицированная юридическая поддержка международных компаний, работающих в сфере IT, FinTech, инвестиции, блокчейн, гемблинг при создании и ведении бизнеса в различных юрисдикциях с полноценным соответствием определённому законодательству.
                a.video-link(href="index.html")
                  .text Посмотреть 
                    br
                    | наш ролик
                  .link-img
                    img(src="img/play_button.png", alt="play")
              .col-lg-6
                //- a.cube-link.legal.cube-link-1(href="#legal-4") FinTech
                //- a.cube-link.legal.cube-link-2(href="#legal-2") IT
                //- a.cube-link.legal.cube-link-3(href="#legal-3") Gambling
                //- a.cube-link.legal.cube-link-4(href="#legal-5") Team of lawyers
                //- a.button.red.cube-button(href="#form" data-toggle="modal" data-target="#form") НАЧНИТЕ СЕЙЧАС
                #cube(data-lang="ru")
        section.section.legal-1
          .container
            .row
              .col-lg-6
                img.lazy.left-img(data-src="img/legal-1.png")
              .col-lg-6
                p.top Acalista group предоставляет юридическую поддержку и помощь иностранным предприятиям и компаниям. Мы тесно сотрудничаем с клиентами в слудующих сферах: 
                  strong IT, FinTech, инвестиции, блокчейн, гемблинг.
                  br
                  | Команда опытных юристов Acalista group оказывает юридические услуги в любой юрисдикции и поможет вашей компании вести бизнес в соответствии с местным законодательством.
          .center
            .container
              .row
                .col-lg-6.offset-lg-6
                  p
                    strong Персональная информация:
                    br
                    | соответствие GDPR и 
                    br.d-none.d-lg-block
                    | международным правилам
          .container
            .row
              .col-lg-6.offset-lg-6
                p.bottom
                  strong Персональная информация и данные — 
                  | неотъемлемая часть любого современного бизнеса. Для компаний, работающих через Интернет, а также для европейских клиентов или партнеров особенно важно обеспечить соответствующую обработку персональных данных, поскольку такая деятельность строго регулируется GDPR (Общие правила защиты данных). Если вы работаете в IT, необходимо обеспечить соблюдение GDPR.
                p Специалисты Acalista group с радостью помогут вам настроить процессы работы с персональными данными и обеспечить их соответствие с GDPR и законами о защите личной информации.
        section#legal-2.section.legal-2.lazy(data-src="../img/legal-2.png")
          .container
            .row
              .col-xl-6
                h2
                  span IT
                p Правильный выбор страны для регистрации IT-компании — один из ключевых вопросов запуска и эффективного ведения бизнеса.
                p.center Делая этот непростой выбор, следует провести детальный подготовительный анализ с учетом большого количества факторов: общих целей бизнеса, его масштабов и географии, приемлемой налоговой нагрузки, возможности создания и стоимости содержания банковского счета, условия его открытия и пользования. Безусловно, это лишь некоторые факторы, которые необходимо учитывать.
                p Неправильный выбор страны для регистрации IT-компании может привести к закрытию проекта. Если вы решили запустить свой IT-проект, следует сразу обратиться к специалистам, чтобы избежать рисков.
            .row
              .col-xl-4.offset-xl-8
                .subtitle
                  span Acalista group 
                  | подберет для вас лучшее решение в соответствии с вашими конкретными целями.
        section#legal-3.section.legal-3.lazy(data-src="../img/legal-3.png")
          .container
            h2.text-center
              span Азартные игры
            .nav
              a(href="#gambling1" data-toggle="tab").nav-item.active Букмекерские лицензии
              a(href="#gambling2" data-toggle="tab").nav-item Лицензии на казино
              a(href="#gambling3" data-toggle="tab").nav-item Лицензии на покер
            .tab-pane.fade.show.active#gambling1
              p При выборе юрисдикции для размещения онлайн-ставок, бинго, казино, киберспорта, спортивных ставок или лотереи важно учитывать первоначальные затраты на лицензирование и обслуживание, а также налоговую нагрузку и преимущества каждой юрисдикции.
              p Все легальные онлайн игровые компании должны быть зарегистрированы и соответствовать требованиям как минимум одной юрисдикции. Наиболее распространенными юрисдикциями для получения соответствующей лицензии являются Кюрасао, Коста-Рика, Мальта и Великобритания.
            .tab-pane.fade#gambling2
              p Многие предпочитают традиционные варианты, такие как Великобритания или Мальта, но подача заявки на лицензию в этих юрисдикциях стоит дорого, проходит сложно и требует много времени. Для тех, кто планирует запустить стартап с новым продуктом, это может быть довольно рискованно. Поэтому в Acalista group мы рекомендуем вам проанализировать свою концепцию и продукт, прежде чем принимать окончательное решение.
            .tab-pane.fade#gambling3
              p Среди немногих стран, где можно получить лицензию на азартные игры, наиболее популярным вариантом является Кюрасао. На это есть ряд причин: лицензия не требует личного визита, занимает минимальный период времени, процедура предельно проста и, наконец, бюджет максимально доступный.
              p Более того, мировые поставщики игр более расположены сотрудничать с компанией, если у неё есть лицензия в Кюрасао. Кроме того, в стране действуют одни из самых выгодных налоговых льгот, нет налога с продаж, пошлины на импорт, НДС и ограничений на снятие дивидендов.
        section#legal-4.section.legal-4
          .container
            h2.text-center FinTech
            .row
              .col-lg-5
                .nav
                  a(href="#fintech1" data-toggle="tab").nav-item.active Комплексные решения для FinTech-проектов
                  a(href="#fintech2" data-toggle="tab").nav-item Список наших услуг для FinTech-проектов:
                  a(href="#fintech3" data-toggle="tab").nav-item Учреждение электронных денег — большое и малое
                  a(href="#fintech4" data-toggle="tab").nav-item Оффшорная банковская лицензия, банк "под ключ"
                  a(href="#fintech5" data-toggle="tab").nav-item Типы оффшорных банковских лицензий:
                  a(href="#fintech6" data-toggle="tab").nav-item Юридическое оформление операций с криптовалютой
              .col-lg-7
                .tab-pane.fade.show.active#fintech1
                  p FinTech-проекты — это проекты, которые используют инновации и технологии для конкуренции с традиционными финансовыми учреждениями, представленными банками и посредниками на рынке финансовых услуг.
                  p Мы предлагаем нашим клиентам наш опыт и помощь в получении финансовых и платежных лицензий, таких как: Платежные учреждения / лицензии Small PI, лицензии E-money Institution / Small E-money, лицензии SVF и MSO, банковские лицензии в Европе и лицензии оффшорной банковской деятельности. .
                  p Acalista group — это комплексный сервис для проектов "под ключ". От выбора юрисдикции для регистрации компании, ежемесячного юридического сопровождения и разработки программного обеспечения для банков и платежных систем до запуска полноценного проекта.
                .tab-pane.fade#fintech2
                  ul
                    li Определение бизнес-модели проекта, выбор оптимальной юрисдикции, расчет налоговой нагрузки
                    li Регистрация компании, открытие расчетных счетов
                    li Разработка внутренних регламентов и документов компании
                    li Подготовка всех документов для выдачи лицензии Платежного учреждения / Учреждения электронных денег
                    li Поиск местного офиса и подбор квалифицированного персонала: сотрудники по вопросам AML и KYC Officers, CEO
                    li Ведение бухгалтерского учета, подача финансовой отчетности
                    li Установление партнерских корреспондентских отношений с банками и внешними поставщиками платежных услуг
                .tab-pane.fade#fintech3
                  p EMI (Учреждение электронных денег) — платежное учреждение, которое имеет право выпускать собственные электронные деньги, распространять их в виртуальной сети и обменивать на фиатные деньги клиентов. Для регистрации компании и получения лицензии EMI необходимо учесть особенности проекта и характер предлагаемых услуг, а также выбрать юрисдикцию, которая поможет вам быстро и эффективно достичь желаемого результата.
                .tab-pane.fade#fintech4
                  p Вы можете получить банковскую лицензию в любой стране мира, но есть страны, где процедура проще и дешевле. Оффшорные банки выгодны для льготного налогообложения, поскольку они либо вообще не платят налоги, либо платят их по гораздо более низкой ставке, чем банки-резиденты.
                .tab-pane.fade#fintech5
                  p Лицензия Международного банка — это наиболее распространенный тип оффшорной лицензии, позволяющий вести бизнес только с клиентами за пределами страны, в которой расположен ваш банк.
                  p Лицензия Генерального банка позволяет вести бизнес с клиентами как внутри страны, в которой находится банк, так и за ее пределами. Требования к капиталу для открытия этого типа банка намного выше, и банки с Лицензией Генерального банка сталкиваются с более строгим регулированием.
                  p Ограниченная банковская лицензия: банки с этим типом лицензии обычно используются только для обслуживания группы состоятельных людей или для транснациональных корпораций для выполнения своих международных обязательств. Особенность банков с ограниченной лицензией заключается в том, что они могут заключать договоры только с определенным количеством лиц, указанными в лицензии.
                  p Мы предлагаем большой список стран, в которых вы можете получить лицензию на оффшорную банковскую деятельность: Сент-Люсия, Каймановы острова, Багамы, Панама и другие. Кроме того, мы работаем по всей Европе, получая банковские лицензии в Еврозоне.
                .tab-pane.fade#fintech6
                  ul
                    li полное сопровождение проекта "под ключ"
                    li выбор оптимальной юрисдикции и регистрация компании
                    li разработка корпоративной структуры индивидуально под ваш проект
                    li подготовка основной и специфической документации для вашего проекта 
                    li получение лицензий на хранение и обмен криптовалют, получение специальных разрешений
                    li разработка механизмов получения, оборота и конвертации фиатных и криптовалютных продуктов
                    li открытие счетов в банках и платежных системах
                    li консультации по налоговому планированию
          .bottom
            .img-wrap
              img(src="../img/legal-4.png")
            .text
              img(src="../img/legal-4-2.png")
              p Готовые компании с лицензиями 
                br.d-none.d-lg-block
                | на проведение платежей доступны к приобретению
              a.button.red(href="#form" data-toggle="modal" data-target="#form") НАЧНИТЕ СЕЙЧАС
        section#legal-5.section.legal-5
          .container-fluid
            .row
              .col-lg-6
                .wrapper
                  .left
                    img(src="../img/legal-5-1.png")
                    img(src="../img/legal-5-2.png")
                    img(src="../img/legal-5-3.png")
                  .right
                    img(src="../img/legal-5-4.png")
                    .inner
                      img(src="../img/legal-5-5.png")
                      br
                      img(src="../img/legal-5-6.png")
              .col-lg-6
                h2 Команда юристов 
                  span Acalista group:
                ul
                  li Оказывает юридические услуги 
                    strong по регистрации компании.
                  li Предоставляет корпоративные юридические услуги вашей компании.
                  li Осуществляет юридическое сопровождение купли-продажи компаний.
                  li Выполняет юридический аудит предприятий и предварительный анализ сделок купли-продажи компаний.
                  li Обеспечивает юридическое сопровождение смены директора, акционеров, учредительных документов, адреса или любой другой корпоративной информации.
                ul
                  li Проводит анализ, подготовку и сопровождение сделок по покупке или аренде 
                    strong жилой или нежилой недвижимости.
                  li Выполняет юридический анализ, готовит договоры и другую юридическую документацию.
                  li Предоставляет юридические консультации по различным вопросам бизнеса.
                  li Представляет интересы вашей компании в переговорах с административными органами, партнерами и клиентами.
                  li Оказывает юридическое сопровождение в процессе 
                    strong получения лицензий 
                    | и других документов для различных сфер деятельности.
                  li Обеспечивает юридическое сопровождение 
                    strong регистрации инвестиций.
        section(data-src="../img/legal-6.png").section.legal-6.lazy
          .container
            .color-block
              .row
                .col-lg-6
                  p.big Вам нужна надёжная юридическая поддержка?
                  p.small Заполните форму заявки на сайте и наша команда юристов поможет вам оперативно решить вашу проблему, учитывая особенности местного законодательства и масштаб вашего предприятия.
                  p.small В нашем штате есть не только юристы с практическим опытом сопровождения бизнеса, а также команда профессиональных бухгалтеров, которые при необходимости проконсультируют юридический отдел 
                    strong по финансовым вопросам и налогообложению. 
                    | Будьте уверены, что вашим вопросом будет заниматься квалифицированная команда, которая полностью владеет всеми особенностями ведения бизнеса.
                .col-lg-6
                  p.red Юридические 
                    br.d-none.d-lg-block
                    span услуги
                  a.button.red(href="#form" data-toggle="modal" data-target="#form") НАЧНИТЕ СЕЙЧАС
        section.section.legal-7
          .container
            .row
              .col-lg-6.left
                h2
                  span Налоговое планирование и оптимизация налогов
                p Налогообложение иностранных компаний может сбивать с толку, поскольку в разных странах необходимо учитывать множество различных деталей.
                  br
                  | Проблема с бухгалтерским учетом особенно остро стоит для предприятий, которые используют группу из нескольких иностранных компаний, находящихся в разных странах.
                p
                  strong Выбирая услуги Acalista group, вы гарантированно получите качественное бухгалтерское сопровождение вашего бизнеса от квалифицированных специалистов.
                p.bigger Подготовка и подача налоговой отчетности — неотъемлемая часть любого бизнеса.
                p.list Процесс подготовки и подачи отчетов включает в себя анализ таких документов:
                ul
                  li банковские выписки
                  li первичные документы
                  li данные бухгалтерского учета
                  li общая информация о финансовом состоянии вашей компании
                  li финансовые результаты деятельности компании
                img(src="../img/legal-7-1.png")
                .bottom.lazy(data-src="../img/legal-7-2.png") Выбирая Acalista group, вы можете быть уверены в правильности подхода к заполнению и отправке отчетов и в своевременности отправки. 
              .col-lg-6.right
                img(src="../img/legal-7-3.png")
                p Управление бизнесом за рубежом невозможно без эффективного налогового планирования, включающего действия по оптимизации деятельности компании, направленные на снижение налоговых обязательств в соответствии с действующим законодательством и упрощение процесса налогового администрирования.
                p.list Основными факторами 
                  span для предоставления качественных услуг 
                  | налогового планирования являются:
                ul
                  li анализ текущей налоговой ситуации,
                  li постановка задачи и определение четких целей клиента,
                  li оценка возможности налоговых льгот,
                  li расчет возможных рисков,
                  li индивидуальный подход к разработке схемы налогового планирования для вашей компании и реализации этой схемы на практике.
                p Вопросы международного налогового планирования требуют особого внимания и определенного уровня знаний. Наши юристы и налоговые консультанты помогут вам сформировать эффективную налоговую политику для вашего бизнеса с учетом особенностей налогообложения в разных странах, выбрать страны и правовые формы для иностранных компаний, определить и сравнить налоговые ставки исходя из наличия контрактов для избежания двойного налогообложения, а также поможет адаптировать ваш бизнес к современным налоговым правилам.
                p Наши специалисты имеют опыт работы с различными налоговыми системами. Мы подготовим всю необходимую документацию в срок и в полном соответствии с законодательством юрисдикции, в которой зарегистрирована ваша компания.
        section.section.legal-8.lazy(data-src="../img/legal-8.png")
          .container
            .row
              .col-xl-6
                h2
                  span Организация 
                  | офиса и трудовых отношений
                p Недавние изменения в налоговом и банковском секторах потребовали наличие иностранного офиса и персонала для нормальной работы большинства компаний.
                p Многие банки сегодня даже не будут смотреть документы для открытия счета, если нет доказательств наличия реального офиса и сотрудников. В то же время содержание офиса и персонала может быть чрезвычайно трудным с точки зрения обслуживания и налогов.
                p Кроме того, если вы не уделите должное внимание всем юридическим вопросам в процессе регистрации сотрудников, Вы столкнётесь с дополнительными рисками потери клиентов или утечки важной конфиденциальной информации при увольнении ваших сотрудников.
                p 
                  strong Команда специалистов Acalista group может помочь вашему бизнесу открыть и содержать зарубежный офис с минимальными затратами в полном соответствии с законодательством.
                p.bigger Мы предлагаем полный комплекс услуг
                ul
                  li от разработки концепции зарубежного офиса исходя из потребностей клиента до её реализации "под ключ",
                  li разработку всей необходимой документации, включая юридические и налоговые консультации на всех этапах, 
                  li административная поддержка и многое другое.
        
        section.section.legal-9.lazy(data-src="../img/legal-9.png")
          .container
            h2.text-center Юридический отдел 
              span Acalista group
            .subtitle.text-center
              strong Юридический отдел Acalista group — это профессиональная юридическая поддержка.
              p Юристы нашей компании имеют опыт работы в государственных органах Израиля, Латвии, Украины, Эстонии, Великобритании, а также в международных юридических компаниях и поэтому предоставляют юридические услуги для бизнеса на экспертном уровне, знают многие особенности местного законодательства, и эффективно решают вопросы клиентов.
            .row
              .col-lg-6.offset-lg-6
                p.first Задачи клиентов превыше всего. Юридическое сопровождение бизнеса для нас — это не просто работа, а призвание и ответственность перед клиентом. Мы поддерживаем регулярное общение с клиентами, стараемся предоставить варианты для различных решений и сопровождаем клиентов с полной приверженностью делу. 
                p.bigger Экспертиза в области международной юриспруденции.
                p Несмотря на то, что наш главный офис находится в Израиле, мы регулярно сотрудничаем с юристами из США, Великобритании, Швейцарии, Латвии, Кипра, Литвы, Мальты, Лихтенштейна и других стран для решения юридических проблем наших клиентов. Мы знаем все особенности взаимодействия с международными юристами, что позволяет нам оказывать услуги максимально качественно и продуктивно. Вы не можете купить вид на жительство в Европе.
        .modal.form.legal.fade(id="form" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title Обращайтесь 
                    span к нам
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-form.png" alt="close")
              .modal-body
                .main-info
                  .container
                    form
                      .form-group
                        input#name.form-control(type='text' required placeholder='Имя *')
                      .form-group
                        input#email.form-control(type='email' required placeholder='Электронная почта *')
                      .form-group
                        input#phone.form-control(type='tel' required placeholder='Телефон *')
                      .form-group
                        textarea#msg.form-control(type='text' cols="30", rows="5" placeholder='Сообщение  ')
                      .response-message
                      button(type="submit" id="contactSubmit") Отправить запрос



      footer.footer
        .container
          .footer-nav
            .row
              .col-md-6
                ul
                  li
                    img.lazy(data-src="img/israel-flag.png")
                    a(href="tel:+972 3375 11 34") +972 3375 11 34
                  li
                    img.lazy(data-src="img/usa-flag.png")
                    a(href="tel:+1 929 322 8811") +1 929 322 8811
                  li
                    img.lazy(data-src="img/uk-flag.png")
                    a(href="tel:+44 20 4577 1146") +44 20 4577 1146
                  li
                    img.lazy(data-src="img/ukraine-flag.png")
                    a(href="tel:+380 95 687 29 07") +380 95 687 29 07
              .col-md-2.offset-md-4
                ul
                  li.flexed
                    a(href="https://google.com" target="_blank")
                      img.lazy.pay-sys(data-src="img/swift.png")
                    a(href="https://google.com" target="_blank")
                      img.lazy.pay-sys(data-src="img/sepa.png")
                  li.flexed
                    a(href="https://google.com" target="_blank")
                      img.lazy.pay-sys(data-src="img/bitcoin.png")
                    a(href="https://google.com" target="_blank")
                      img.lazy.pay-sys(data-src="img/visa.png")
                  li.flexed
                    a(href="https://google.com" target="_blank")
                      img.lazy.pay-sys(data-src="img/masterCard.png")
          .footer-wrap
            .copy Все права защищены Acalista.
            .social
              a(href="https://www.facebook.com/acalistagroup" target="blank")
                .icon
                  img(src="img/facebook_logo.png", alt="facebook")
              a(href="https://www.instagram.com/acalista.group/" target="blank")
                .icon
                  img(src="img/instagram-brands.png", alt="instagram")
              a(href="https://www.linkedin.com/company/acalista-group/" target="blank")
                .icon
                  img(src="img/linkedin_logo.png", alt="linkedIn")
              a(href="https://twitter.com/AcalistaGroup" target="blank")
                .icon
                  img(src="img/twitter-brands.png", alt="linkedIn")
            .mail
              a(href="mailto:info@acalista.com") info@acalista.com
      script(src="js/jquery.min.js")
      script(src="js/bootstrap.min.js")
      script(src="js/lazy-load.js")
      script(src="js/aos.js")
      script(src="js/three.min.js")
      script(src="js/OrbitControls.js")
      script(src="js/Tween.js")
      script(src="//unpkg.com/three-spritetext")
      script(src="js/cube6.js")
      script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
      script(src="js/script.js")