<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
        title Marketing
        link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
        link(rel="stylesheet preload", as="style" href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/aos.css")
        link(rel="stylesheet preload", as="style" href="css/main.css")
        link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
    body
      header.header
        .container
          .header-wrap
            .logo
              a(href="index-es.html")
                img(src="img/logo.svg", alt="logo")
            ul.header-menu.collapse#navbar
              li
                a(href="index-es.html")
                  .text Sobre nosotros
                  .line
                  .number 00
              li
                a(href="consulting-es.html")
                  .text Consultoría
                  .line
                  .number 01
              li
                a.active(href="marketing-es.html")
                  .text Marketing
                  .line
                  .number 02
              li
                a(href="development-es.html")
                  .text Desarrollo web
                  .line
                  .number 03
              li
                a(href="cryptocurrency-es.html")
                  .text Criptomoneda
                  .line
                  .number 04
              li
                a(href="legal-es.html")
                  .text Servicios jurídicos
                  .line
                  .number 05
              li
                a(href="realestate-es.html")
                  .text Bienes raíces
                  .line
                  .number 06
            .langs
              .current
                span
                  img(src="/img/es.png")
                .arrow
              .list
                a(href="./marketing.html")
                  img(src="/img/en.png")
                a(href="./marketing-ru.html")
                  img(src="/img/ru.png")
                a(href="./marketing-ar.html")
                  img(src="/img/ar.png")
            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation")
              span(class="line line-1")
              span(class="line line-2")
              span(class="line line-3")
      main
        section.main-section.marketing
          .container
            .row
              .col-lg-6                  
                h1.title
                  span(data-aos="fade" data-aos-delay="100") 02
                  span.text-animate
                    span M
                    span a
                    span r
                    span k
                    span e
                    span t
                    span i
                    span n
                    span g
                .sub-title
                  .text(data-aos="fade-left" data-aos-delay="1000") Creación y promoción de la imagen de la empresa en el espacio digital: estrategias de desarrollo de marcas y SMM. Planificación y compra de medios: implementación de un plan integral de aumento y optimización de los principales canales de tráfico, conversión y ventas. 
                a.video-link(href="index.html")
                  .text Mira nuestro
                    br
                    | video
                  .link-img
                    img(src="img/play_button.png", alt="play")
              .col-lg-6
                //- a.cube-link.market.cube-link-1(href="#marketing-1") Lead Generation
                //- a.cube-link.market.cube-link-2(href="#marketing-2") Media 
                //-   br.d-block.d-sm-none
                //-   | Buying
                //- a.cube-link.market.cube-link-3(href="#marketing-2") Content manegement
                //- a.button.red.cube-button(href="#form" data-toggle="modal" data-target="#form") START TODAY
                #cube(data-lang="es")
        section#marketing-1.section.marketing-1.lazy(data-src="../img/marketing_1.png")
          .container
            .row
              .col-lg-4
                h2 Soluciones 
                  span de marketing
                .line
                img.cubes.lazy(data-src="img/marketing_1_cubes.png")
              .col-lg-4
                ul.solutions-items
                  li
                    .head
                      img.lazy(data-src="img/solution-1.png")
                      p Generación de clientes potenciales
                        a.link(href="#modalLeads" data-toggle="modal" data-target="#modalLeads")
                          img.lazy(data-src="../img/link-red.png")
                  li
                    .head
                      img.lazy(data-src="img/solution-4.png")
                      p Marketing de afiliados
                        a.link(href="#modalAff" data-toggle="modal" data-target="#modalAff")
                          img.lazy(data-src="../img/link-red.png")
                  li
                    .head
                      img.lazy(data-src="img/solution-3.png")
                      p Compra de medios
                        a.link(href="#modalBuy" data-toggle="modal" data-target="#modalBuy")
                          img.lazy(data-src="../img/link-red.png")
                  li
                    .head
                      img.lazy(data-src="img/solution-51.png")
                      p Anuncios de Google & SEO
                        a.link(href="#modalSEO" data-toggle="modal" data-target="#modalSEO")
                          img.lazy(data-src="../img/link-red.png")
                  li
                    .head
                      img.lazy(data-src="img/solution-61.png")
                      p Marketing en redes sociales
                        a.link(href="#modalSmm" data-toggle="modal" data-target="#modalSmm")
                          img.lazy(data-src="../img/link-red.png")
              .col-lg-4
                ul.solutions-items.right
                  li
                    .head
                      img.lazy(data-src="img/solution-2.png")
                      p Diseño Gráfico y Digital
                        a.link(href="#modalDesign" data-toggle="modal" data-target="#modalDesign")
                          img.lazy(data-src="../img/link-red.png")
                  li
                    .head
                      img.lazy(data-src="img/solution-31.svg")
                      p Estrategia de Marca 
                        a.link(href="#modalBrand" data-toggle="modal" data-target="#modalBrand")
                          img.lazy(data-src="../img/link-red.png")
                  li
                    .head
                      img.lazy(data-src="img/solution-5.png")
                      p Gestión de contenidos
                        a.link(href="#modalContent" data-toggle="modal" data-target="#modalContent")
                          img.lazy(data-src="../img/link-red.png")
                  li
                    .head
                      img.lazy(data-src="img/solution-41.png")
                      p Video marketing
                        a.link(href="#modalVideo" data-toggle="modal" data-target="#modalVideo")
                          img.lazy(data-src="../img/link-red.png")
                  li
                    .head
                      img.lazy(data-src="img/solution-10.png")
                      p Optimización y consultoría de campañas
                        a.link(href="#modalOpti" data-toggle="modal" data-target="#modalOpti")
                          img.lazy(data-src="../img/link-red.png")
        section#marketing-2.section.marketing-2
          .container
            h2 Nuestros 
              span Clientes
            p.subtitle El marketing es nuestra esencia
            p.text Hemos ayudado a una gran variedad de empresas, tanto grandes como pequeñas, a darse cuenta de los beneficios del marketing digital. A lo largo de los años, hemos desarrollado un profundo conocimiento de la publicidad, el diseño y el compromiso del consumidor de la marca. Explore una selección de nuestras campañas.
          .slider-wrap
            .container
              .row
                .col-lg-8
                  .slider.clients.ltr
                    .slide
                      .top
                        img(src="img/slide-1-1.png", alt="slide")
                      .bottom
                        img(src="img/slide-1-2.png", alt="slide")
                    .slide
                      .top
                        img(src="img/slide-2-1.png", alt="slide")
                      .bottom
                        img(src="img/slide-2-2.png", alt="slide")
                    .slide
                      .top
                        img(src="img/slide-3-1.png", alt="slide")
                      .bottom
                        img(src="img/slide-3-2.png", alt="slide")
                    .slide
                      .top
                        img(src="img/slide-4-1.png", alt="slide")
                      .bottom
                        img(src="img/slide-4-2.png", alt="slide")
                    .slide
                      .top
                        img(src="img/slide-5-1.png", alt="slide")
                      .bottom
                        img(src="img/slide-5-2.png", alt="slide")
                    .slide
                      .top
                        img(src="img/slide-6-1.png", alt="slide")
                      .bottom
                        img(src="img/slide-6-2.png", alt="slide")
                    .slide
                      .top
                        img(src="img/slide-7-1.png", alt="slide")
                      .bottom
                        img(src="img/slide-7-2.png", alt="slide")
                    .slide
                      .top
                        img(src="img/slide-8-1.png", alt="slide")
                      .bottom
                        img(src="img/slide-8-2.png", alt="slide")
                    .slide
                      .top
                        img(src="img/slide-9-1.png", alt="slide")
                      .bottom
                        img(src="img/slide-9-2.png", alt="slide")
                  .slider-navigation
                    .prev
                      img(src="img/slide-prev.png", alt="prev")
                    .next
                      img(src="img/slide-next.png", alt="next")
                .col-lg-4
                  img(src="img/clients-faces-2.png")
                  img(src="img/clients-faces.png")
        .modal.form.legal.fade(id="form" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title Contáctenos
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-form.png" alt="close")
              .modal-body
                .main-info
                  .container
                    form
                      .form-group
                        input#name.form-control(type='text' required placeholder='Nombre de la persona *')
                      .form-group
                        input#email.form-control(type='email' required placeholder='Correo electrónico *')
                      .form-group
                        input#phone.form-control(type='tel' required placeholder='Teléfono *')
                      .form-group
                        textarea#msg.form-control(type='text' cols="30", rows="5" placeholder='Mensaje ')
                      button(type="submit") Enviar una solicitud
        .modal.form.marketing.info.fade(id="modalLeads" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title Generación de clientes potenciales
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-popup.png" alt="close")
              .modal-body
                .container
                  .row
                    .col-lg-6
                      img.lazy(data-src="img/modal-lead.png")
                    .col-lg-6 
                      h2 Soluciones 
                        span de marketing
                      p.main-text Ayudamos a captar nuevos clientes con tráfico de máxima calidad: anuncios nativos, notificaciones emergentes, banners publicitarios, correo electrónico y búsqueda dirigida para impulsar las conversiones en las páginas de inicio, canales personalizados y los sitios web de los clientes.
                section(data-src="../img/market-modal.png").modal-section.bottom.lazy
                  .container
                    .color-block
                      .row
                        .col-lg-6
                          p.small
                            span Si tiene alguna pregunta o necesita asesoramiento sobre soluciones de marketing, 
                            br
                            br
                            | llámenos a los números que aparecen en el sitio o envíe un mensaje – nuestros especialistas le responderán en línea.
                        .col-lg-6
                          p.red Generación de clientes potenciales
                          a.button.red(href="#form" data-toggle="modal" data-target="#form") COMIENCE HOY
        .modal.form.marketing.info.fade(id="modalDesign" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title Diseño Gráfico y Digital
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-popup.png" alt="close")
              .modal-body
                .container
                  .row
                    .col-lg-6
                      img.lazy(data-src="img/modal-design.png")
                    .col-lg-6 
                      h2 Soluciones 
                        span de marketing
                      p.main-text Si quiere que su marca tenga un excelente aspecto, el diseño profesional es lo que lo hace posible. Encontrará entre nuestro equipo: diseñadores de sitios web, de gráficos, de animaciones y digitales especializados en diseños UX/UI, marcas, modificación de marcas, campañas impresas y digitales. 
                section(data-src="../img/market-modal.png").modal-section.bottom.lazy
                  .container
                    .color-block
                      .row
                        .col-lg-6
                          p.small
                            span Si tiene alguna pregunta o necesita asesoramiento sobre soluciones de marketing,  
                            br
                            br
                            | llámenos a los números que aparecen en el sitio o envíe un mensaje – nuestros especialistas le responderán en línea.
                        .col-lg-6
                          p.red Diseño Gráfico y
                            br.d-none.d-lg-block
                            span Digital
                          a.button.red(href="#form" data-toggle="modal" data-target="#form") COMIENCE HOY
        .modal.form.marketing.info.fade(id="modalBuy" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title Compra de medios
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-popup.png" alt="close")
              .modal-body
                .container
                  .row
                    .col-lg-6
                      img.lazy(data-src="img/modal-buy.png")
                    .col-lg-6 
                      h2 Soluciones 
                        span de marketing
                      p.main-text Nos especializamos en la planificación y compra de medios en todos los mercados, incluyendo tráfico dirigido, tráfico de grandes editores, pequeños sitios web, sitios especializados y redes. Gráfico y móvil en CPM, CPC
                section(data-src="../img/market-modal.png").modal-section.bottom.lazy
                  .container
                    .color-block
                      .row
                        .col-lg-6
                          p.small
                            span Si tiene alguna pregunta o necesita asesoramiento sobre soluciones de marketing, 
                            br
                            br
                            | llámenos a los números que aparecen en el sitio o envíe un mensaje – nuestros especialistas le responderán en línea.
                        .col-lg-6
                          p.red Compra de 
                            br.d-none.d-lg-block
                            span medios
                          a.button.red(href="#form" data-toggle="modal" data-target="#form") COMIENCE HOY
        .modal.form.marketing.info.fade(id="modalAff" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title Marketing de afiliados
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-popup.png" alt="close")
              .modal-body
                .container
                  .row
                    .col-lg-6
                      img.lazy(data-src="img/modal-aff.png")
                    .col-lg-6 
                      h2 Soluciones 
                        span de marketing
                      p.main-text Acalista group tiene una amplia experiencia en la creación de programas de socios para los clientes en diversos campos como divisas, criptomonedas, dispositivos, nutra, apuestas y otros. Impulsar  conversiones de los socios sobre CPL, CPA, CPI
                section(data-src="../img/market-modal.png").modal-section.bottom.lazy
                  .container
                    .color-block
                      .row
                        .col-lg-6
                          p.small
                            span Si tiene alguna pregunta o necesita asesoramiento sobre soluciones de marketing, 
                            br
                            br
                            | llámenos a los números que aparecen en el sitio o envíe un mensaje – nuestros especialistas le responderán en línea.
                        .col-lg-6
                          p.red Marketing de 
                            br.d-none.d-lg-block
                            span afiliados
                          a.button.red(href="#form" data-toggle="modal" data-target="#form") COMIENCE HOY
        .modal.form.marketing.info.fade(id="modalSEO" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title Anuncios de Google & SEO
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-popup.png" alt="close")
              .modal-body
                .container
                  .row
                    .col-lg-6
                      img.lazy(data-src="img/modal-seo.png")
                    .col-lg-6 
                      h2 Soluciones 
                        span de marketing
                      p.main-text Investigamos las palabras clave más adecuadas para su sitio web, mejoramos los rankings de los motores de búsqueda en Google sin hacer ningún tipo de SPAM. Nuestros analistas le presentarán los enlaces internos y externos apropiados que ayudarán a un espectador a permanecer más tiempo en su sitio web, mejorarán la credibilidad del mismo y le llevarán a la cima.
                section(data-src="../img/market-modal.png").modal-section.bottom.lazy
                  .container
                    .color-block
                      .row
                        .col-lg-6
                          p.small
                            span Si tiene alguna pregunta o necesita asesoramiento sobre soluciones de marketing, 
                            br
                            br
                            | llámenos a los números que aparecen en el sitio o envíe un mensaje – nuestros especialistas le responderán en línea.
                        .col-lg-6
                          p.red Anuncios de Google 
                            br.d-none.d-lg-block
                            span & SEO
                          a.button.red(href="#form" data-toggle="modal" data-target="#form") COMIENCE HOY
        .modal.form.marketing.info.fade(id="modalSmm" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title Marketing en redes sociales
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-popup.png" alt="close")
              .modal-body
                .container
                  .row
                    .col-lg-6
                      img.lazy(data-src="img/modal-smm.png")
                    .col-lg-6 
                      h2 Soluciones 
                        span de marketing
                      p.main-text El MRS es la base de la interacción entre individuos y marcas, así como entre empresas. Toda marca necesita estar presente en las redes sociales. Acalista group crea una gran imagen de su negocio en las redes sociales realizando campañas adecuadas a su marca y desarrollando potentes estrategias de marketing con objetivos tácticos exitosos. 
                section(data-src="../img/market-modal.png").modal-section.bottom.lazy
                  .container
                    .color-block
                      .row
                        .col-lg-6
                          p.small
                            span Si tiene alguna pregunta o necesita asesoramiento sobre soluciones de marketing, 
                            br
                            br
                            | llámenos a los números que aparecen en el sitio o envíe un mensaje – nuestros especialistas le responderán en línea.
                        .col-lg-6
                          p.red Marketing en redes 
                            br.d-none.d-lg-block
                            span sociales
                          a.button.red(href="#form" data-toggle="modal" data-target="#form") COMIENCE HOY
        .modal.form.marketing.info.fade(id="modalBrand" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title Estrategia de Marca 
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-popup.png" alt="close")
              .modal-body
                .container
                  .row
                    .col-lg-6
                      img.lazy(data-src="img/modal-brand.png")
                    .col-lg-6 
                      h2 Soluciones 
                        span de marketing
                      p.main-text Podemos hacer una identificación de su negocio al diseñar un logotipo de alta calidad, basado en las preferencias del público objetivo, así como proporcionar imágenes de marca para las redes sociales y otros objetivos para cumplir con una estrategia de marketing e influir en la audiencia.
                section(data-src="../img/market-modal.png").modal-section.bottom.lazy
                  .container
                    .color-block
                      .row
                        .col-lg-6
                          p.small
                            span Si tiene alguna pregunta o necesita asesoramiento sobre soluciones de marketing, 
                            br
                            br
                            | llámenos a los números que aparecen en el sitio o envíe un mensaje – nuestros especialistas le responderán en línea.
                        .col-lg-6
                          p.red Estrategia
                            br.d-none.d-lg-block
                            span de Marca
                          a.button.red(href="#form" data-toggle="modal" data-target="#form") COMIENCE HOY
        .modal.form.marketing.info.fade(id="modalContent" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title Gestión de contenidos
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-popup.png" alt="close")
              .modal-body
                .container
                  .row
                    .col-lg-6
                      img.lazy(data-src="img/modal-content.png")
                    .col-lg-6 
                      h2 Soluciones 
                        span de marketing
                      p.main-text Nuestros expertos proporcionan todos los servicios de marketing de contenidos, incluyendo la creación de estrategias de contenidos, blogs, redacción de textos, servicios de traducción, creación de publicaciones construidas profesionalmente para alcanzar la atención de los grupos objetivo.
                section(data-src="../img/market-modal.png").modal-section.bottom.lazy
                  .container
                    .color-block
                      .row
                        .col-lg-6
                          p.small
                            span Si tiene alguna pregunta o necesita asesoramiento sobre soluciones de marketing, 
                            br
                            br
                            | llámenos a los números que aparecen en el sitio o envíe un mensaje – nuestros especialistas le responderán en línea.
                        .col-lg-6
                          p.red Gestión  
                            br.d-none.d-lg-block
                            span de contenidos
                          a.button.red(href="#form" data-toggle="modal" data-target="#form") COMIENCE HOY
        .modal.form.marketing.info.fade(id="modalVideo" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title Video marketing
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-popup.png" alt="close")
              .modal-body
                .container
                  .row
                    .col-lg-6
                      img.lazy(data-src="img/modal-video.png")
                    .col-lg-6 
                      h2 Soluciones 
                        span de marketing
                      p.main-text Cuando el vídeo se utiliza como parte de sus otras campañas, el retorno de la inversión está justificado. Proporcionamos un vídeo de presentación para su marca: promoción de productos, anuncios comerciales de televisión, cartera de negocios con escritura de guiones y música de fondo.
                section(data-src="../img/market-modal.png").modal-section.bottom.lazy
                  .container
                    .color-block
                      .row
                        .col-lg-6
                          p.small
                            span Si tiene alguna pregunta o necesita asesoramiento sobre soluciones de marketing, 
                            br
                            br
                            | llámenos a los números que aparecen en el sitio o envíe un mensaje – nuestros especialistas le responderán en línea.
                        .col-lg-6
                          p.red Video marketing
                          a.button.red(href="#form" data-toggle="modal" data-target="#form") COMIENCE HOY
        .modal.form.marketing.info.fade(id="modalOpti" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title Optimización y consultoría de campañas
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-popup.png" alt="close")
              .modal-body
                .container
                  .row
                    .col-lg-6
                      img.lazy(data-src="img/modal-opti.png")
                    .col-lg-6 
                      h2 Soluciones 
                        span de marketing
                      p.main-text Sabemos cómo mejorar sus resultados de ventas optimizando sus campañas publicitarias. Los datos y análisis en tiempo real seguirán un enfoque basado en datos para obtener el mejor RDI
                section(data-src="../img/market-modal.png").modal-section.bottom.lazy
                  .container
                    .color-block
                      .row
                        .col-lg-6
                          p.small
                            span Si tiene alguna pregunta o necesita asesoramiento sobre soluciones de marketing, 
                            br
                            br
                            | llámenos a los números que aparecen en el sitio o envíe un mensaje – nuestros especialistas le responderán en línea.
                        .col-lg-6
                          p.red Optimización y
                            br.d-none.d-lg-block
                            span consultoría de campañas
                          a.button.red(href="#form" data-toggle="modal" data-target="#form") COMIENCE HOY
                            
      footer.footer
        .container
          .footer-nav
            .row
              .col-md-6
                ul
                  li
                    img.lazy(data-src="img/israel-flag.png")
                    a(href="tel:+972 3375 11 34") +972 3375 11 34
                  li
                    img.lazy(data-src="img/usa-flag.png")
                    a(href="tel:+1 929 322 8811") +1 929 322 8811
                  li
                    img.lazy(data-src="img/uk-flag.png")
                    a(href="tel:+44 20 4577 1146") +44 20 4577 1146
                  li
                    img.lazy(data-src="img/ukraine-flag.png")
                    a(href="tel:+380 95 687 29 07") +380 95 687 29 07
              .col-md-2.offset-md-4
                ul
                  li.flexed
                    a(href="https://google.com" target="_blank")
                      img.lazy.pay-sys(data-src="img/swift.png")
                    a(href="https://google.com" target="_blank")
                      img.lazy.pay-sys(data-src="img/sepa.jpg")
                  li.flexed
                    a(href="https://google.com" target="_blank")
                      img.lazy.pay-sys(data-src="img/bitcoin.jpg")
                    a(href="https://google.com" target="_blank")
                      img.lazy.pay-sys(data-src="img/visa.jpg")
                  li.flexed
                    a(href="https://google.com" target="_blank")
                      img.lazy.pay-sys(data-src="img/masterCard.jpg")
          .footer-wrap
            .copy Todos los derechos reservados por Acalista.
            .social
              a(href="https://www.facebook.com/acalistagroup" target="blank")
                .icon
                  img(src="img/facebook_logo.png", alt="facebook")
              a(href="https://www.instagram.com/acalista.group/" target="blank")
                .icon
                  img(src="img/instagram-brands.png", alt="instagram")
              a(href="https://www.linkedin.com/company/acalista-group/" target="blank")
                .icon
                  img(src="img/linkedin_logo.png", alt="linkedIn")
              a(href="https://twitter.com/AcalistaGroup" target="blank")
                .icon
                  img(src="img/twitter-brands.png", alt="linkedIn")
            .mail
              a(href="mailto:info@acalista.com") info@acalista.com
      script(src="js/jquery.min.js")
      script(src="js/bootstrap.min.js")
      script(src="js/lazy-load.js")
      script(src="js/aos.js")
      script(src="js/three.min.js")
      script(src="js/OrbitControls.js")
      script(src="js/Tween.js")
      script(src="//unpkg.com/three-spritetext")
      script(src="js/cube5.js")
      script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
      script(src="js/script.js")