<!DOCTYPE html>
html(lang="ar", dir="rtl")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
        title التسويق
        link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
        link(rel="stylesheet preload", as="style" href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/aos.css")
        link(rel="stylesheet preload", as="style" href="css/main.css")
        link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
        link(rel="stylesheet preload", as="style" href="css/rtl.css")
        // Global site tag (gtag.js) - Google Analytics
        script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-D7LD1MNX20')
        script.
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'G-D7LD1MNX20');
        // Facebook Pixel Code
        script.
          !function(f,b,e,v,n,t,s)
          {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
          if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
          n.queue=[];t=b.createElement(e);t.async=!0;
          t.src=v;s=b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t,s)}(window, document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
          fbq('init', '1140481073119068');
          fbq('track', 'PageView');
        noscript
          img(height='1' width='1' style='display:none' src='https://www.facebook.com/tr?id=1140481073119068&ev=PageView&noscript=1')
        // End Facebook Pixel Code
    body.rtl
      header.header
        .container
          .header-wrap
            .logo
              a(href="index-ar.html")
                img(src="img/logo.svg", alt="logo")
            ul.header-menu.collapse#navbar
              li
                a(href="index-ar.html")
                  .text معلومات عنا
                  .line
                  .number 00
              li
                a(href="consulting-ar.html")
                  .text الاستشارة
                  .line
                  .number 01
              li
                a.active(href="marketing-ar.html")
                  .text التسويق
                  .line
                  .number 02
              li
                a(href="development-ar.html")
                  .text التطوير
                  .line
                  .number 03
              li
                a(href="cryptocurrency-ar.html")
                  .text عملة مشفرة
                  .line
                  .number 04
              li
                a(href="legal-ar.html")
                  .text خدمات قانونية
                  .line
                  .number 05
              li
                a(href="realestate-ar.html")
                  .text العقارات
                  .line
                  .number 06
            .langs
              .current
                span
                  img(src="/img/ar.png")
                .arrow
              .list
                a(href="./marketing.html")
                  img(src="/img/en.png")
                a(href="./marketing-ru.html")
                  img(src="/img/ru.png")
                a(href="./marketing-es.html")
                  img(src="/img/es.png")
            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation")
              span(class="line line-1")
              span(class="line line-2")
              span(class="line line-3")
      main
        section.main-section.marketing
          .container
            .row
              .col-lg-6                  
                h1.title
                  span(data-aos="fade" data-aos-delay="100") 02
                  span.text-animate التسويق
                    //- span M
                    //- span a
                    //- span r
                    //- span k
                    //- span e
                    //- span t
                    //- span i
                    //- span n
                    //- span g
                .sub-title
                  .text(data-aos="fade-left" data-aos-delay="1000") إنشاء وتعزيز صورة الشركة في العالم الرقمي: استراتيجيات العلامات التجارية و تسويق الوسائل الاجتماعية. التخطيط الإعلامي والشراء: تنفيذ خطة شاملة لزيادة وتحسين قنوات المرور الرئيسية والتحويل والمبيعات.
                a.video-link(href="index.html")
                  .text مشاهدة المقدمة الخاصة بنا
                  .link-img
                    img(src="img/play_button.png", alt="play")
              .col-lg-6
                //- a.cube-link.market.cube-link-1(href="#marketing-1") Lead Generation
                //- a.cube-link.market.cube-link-2(href="#marketing-2") Media 
                //-   br.d-block.d-sm-none
                //-   | Buying
                //- a.cube-link.market.cube-link-3(href="#marketing-2") Content manegement
                //- a.button.red.cube-button(href="#form" data-toggle="modal" data-target="#form") إبدأ اليوم
                #cube.market(data-lang="ar")
        section#marketing-1.section.marketing-1.lazy(data-src="../img/marketing_1.png")
          .container
            .row
              .col-lg-4
                h2 حلول 
                  span التسويق
                .line
                img.cubes.lazy(data-src="img/marketing_1_cubes.png")
              .col-lg-4
                ul.solutions-items
                  li
                    .head
                      img.lazy(data-src="img/solution-1.png")
                      p قيادة الجيل
                        a.link(href="#modalLeads" data-toggle="modal" data-target="#modalLeads")
                          img.lazy(data-src="../img/link-red.png")
                  li
                    .head
                      img.lazy(data-src="img/solution-4.png")
                      p التسويق بالتبعية
                        a.link(href="#modalAff" data-toggle="modal" data-target="#modalAff")
                          img.lazy(data-src="../img/link-red.png")
                  li
                    .head
                      img.lazy(data-src="img/solution-3.png")
                      p شراء وسائل الإعلام
                        a.link(href="#modalBuy" data-toggle="modal" data-target="#modalBuy")
                          img.lazy(data-src="../img/link-red.png")
                  li
                    .head
                      img.lazy(data-src="img/solution-51.png")
                      p إعلانات جوجل وتحسين محركات 
                        span البحث
                          a.link(href="#modalSEO" data-toggle="modal" data-target="#modalSEO")
                            img.lazy(data-src="../img/link-red.png")
                  li
                    .head
                      img.lazy(data-src="img/solution-61.png")
                      p تسويق وسائل الاعلام 
                        span الاجتماعية
                          a.link(href="#modalSmm" data-toggle="modal" data-target="#modalSmm")
                            img.lazy(data-src="../img/link-red.png")
              .col-lg-4
                ul.solutions-items.right
                  li
                    .head
                      img.lazy(data-src="img/solution-2.png")
                      p التصميم الجرافيكي 
                        span والرقمي
                          a.link(href="#modalDesign" data-toggle="modal" data-target="#modalDesign")
                           img.lazy(data-src="../img/link-red.png")
                  li
                    .head
                      img.lazy(data-src="img/solution-31.svg")
                      p استراتيجية العلامة 
                        span التجارية
                          a.link(href="#modalBrand" data-toggle="modal" data-target="#modalBrand")
                            img.lazy(data-src="../img/link-red.png")
                  li
                    .head
                      img.lazy(data-src="img/solution-5.png")
                      p ادارة المحتوى
                        a.link(href="#modalContent" data-toggle="modal" data-target="#modalContent")
                          img.lazy(data-src="../img/link-red.png")
                  li
                    .head
                      img.lazy(data-src="img/solution-41.png")
                      p تسويق الفيديو
                        a.link(href="#modalVideo" data-toggle="modal" data-target="#modalVideo")
                          img.lazy(data-src="../img/link-red.png")
                  li
                    .head
                      img.lazy(data-src="img/solution-10.png")
                      p تحسين الحملات والاستشارات
                        a.link(href="#modalOpti" data-toggle="modal" data-target="#modalOpti")
                          img.lazy(data-src="../img/link-red.png")
        section#marketing-2.section.marketing-2
          .container
            h2 عملائنا
            p.subtitle التسويق هو جوهرنا
            p.text لقد ساعدنا مجموعة متنوعة من الشركات ، الكبيرة والصغيرة على حد سواء ، على إدراك فوائد التسويق الرقمي. على مر السنين ، طورنا فهمًا عميقًا لإعلان العلامة التجارية والتصميم ومشاركة المستهلك. تصفح من خلال مجموعة مختارة من حملاتنا.
          .slider-wrap
            .container
              .row
                .col-lg-8
                  .slider.clients.rtl
                    .slide
                      .top
                        img(src="img/slide-1-1.png", alt="slide")
                      .bottom
                        img(src="img/slide-1-2.png", alt="slide")
                    .slide
                      .top
                        img(src="img/slide-2-1.png", alt="slide")
                      .bottom
                        img(src="img/slide-2-2.png", alt="slide")
                    .slide
                      .top
                        img(src="img/slide-3-1.png", alt="slide")
                      .bottom
                        img(src="img/slide-3-2.png", alt="slide")
                    .slide
                      .top
                        img(src="img/slide-4-1.png", alt="slide")
                      .bottom
                        img(src="img/slide-4-2.png", alt="slide")
                    .slide
                      .top
                        img(src="img/slide-5-1.png", alt="slide")
                      .bottom
                        img(src="img/slide-5-2.png", alt="slide")
                    .slide
                      .top
                        img(src="img/slide-6-1.png", alt="slide")
                      .bottom
                        img(src="img/slide-6-2.png", alt="slide")
                    .slide
                      .top
                        img(src="img/slide-7-1.png", alt="slide")
                      .bottom
                        img(src="img/slide-7-2.png", alt="slide")
                    .slide
                      .top
                        img(src="img/slide-8-1.png", alt="slide")
                      .bottom
                        img(src="img/slide-8-2.png", alt="slide")
                    .slide
                      .top
                        img(src="img/slide-9-1.png", alt="slide")
                      .bottom
                        img(src="img/slide-9-2.png", alt="slide")
                  .slider-navigation
                    .prev
                      img(src="img/slide-prev.png", alt="prev")
                    .next
                      img(src="img/slide-next.png", alt="next")
                .col-lg-4
                  img(src="img/clients-faces-2.png")
                  img(src="img/clients-faces.png")
        .modal.form.marketing.fade(id="form" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title اتصل بنا
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-form.png" alt="close")
              .modal-body
                .main-info
                  .container
                    form(action="form.php")
                      .form-group
                        input#name.form-control(name='name' type='text' required placeholder='اسم الشخص *')
                      .form-group
                        input#email.form-control(name='email' type='email' required placeholder='البريد الالكتروني *')
                      .form-group
                        input#phone.form-control(name="phone" type='tel' required placeholder='الهاتف *')
                      .form-group
                        textarea#msg.form-control(name="msg" type='text' cols="30", rows="5" placeholder='الرسالة')
                      button(type="submit") ارسال الطلب
        .modal.form.marketing.info.fade(id="modalLeads" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title قيادة الجيل
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-popup.png" alt="close")
              .modal-body
                .container
                  .row
                    .col-lg-6
                      img.lazy(data-src="img/rtl/modal-lead.png")
                    .col-lg-6 
                      h2 حلول  
                        span التسويق
                      p.main-text نحن نساعد في جذب عملاء جدد من خلال حركة مرور عالية الجودة: الإعلانات الأصلية ، وإشعارات الدفع ، ولافتات الاعلانات ، والبريد الإلكتروني ، والبحث المستهدف لتعزيز التحويلات على الصفحات المقصودة للعملاء ، ومسارات التحويل المخصصة ومواقع الويب
                section(data-src="../img/rtl/market-modal.png").modal-section.bottom.lazy
                  .container
                    .color-block
                      .row
                        .col-lg-6
                          p.small
                            span إذا كانت لديك أي أسئلة أو كنت بحاجة إلى نصيحة حول حلول التسويق ، 
                            br
                            br
                            |  فاتصل بنا على الأرقام المدرجة في الموقع أو أرسل رسالة - سيجيب المتخصصون لدينا اونلاين.
                        .col-lg-6
                          p.red قيادة الجيل
                          a.button.red(href="#form" data-toggle="modal" data-target="#form") إبدأ اليوم
        .modal.form.marketing.info.fade(id="modalDesign" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title التصميم الجرافيكي والرقمي
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-popup.png" alt="close")
              .modal-body
                .container
                  .row
                    .col-lg-6
                      img.lazy(data-src="img/rtl/modal-design.png")
                    .col-lg-6 
                      h2 حلول  
                        span التسويق
                      p.main-text إذا كنت تريد أن تبدو علامتك التجارية ممتازة ، فإن التصميم الاحترافي هو ما يجعلها ممكنة. ستجد بين طاقمنا: مصممو الويب والجرافيك والحركة والرقمية المتخصصون في تصميمات UX / UI والعلامات التجارية وإعادة العلامة التجارية والحملات المطبوعة والرقمية.
                section(data-src="../img/rtl/market-modal.png").modal-section.bottom.lazy
                  .container
                    .color-block
                      .row
                        .col-lg-6
                          p.small
                            span إذا كانت لديك أي أسئلة أو كنت بحاجة إلى نصيحة حول حلول التسويق ، 
                            br
                            br
                            |  فاتصل بنا على الأرقام المدرجة في الموقع أو أرسل رسالة - سيجيب المتخصصون لدينا اونلاين.
                        .col-lg-6
                          p.red التصميم الجرافيكي والرقمي
                          a.button.red(href="#form" data-toggle="modal" data-target="#form") إبدأ اليوم
        .modal.form.marketing.info.fade(id="modalBuy" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title شراء وسائل الإعلام
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-popup.png" alt="close")
              .modal-body
                .container
                  .row
                    .col-lg-6
                      img.lazy(data-src="img/rtl/modal-buy.png")
                    .col-lg-6 
                      h2 حلول  
                        span التسويق
                      p.main-text نحن متخصصون في التخطيط الإعلامي والشراء في جميع الأسواق ، بما في ذلك حركة المرور المستهدفة وحركة المرور من كبار الناشرين والمواقع الصغيرة والمواقع والشبكات المتخصصة. الشبكة الإعلانية والجوّال حسب التكلفة لكل ألف ظهور وتكلفة النقرة
                section(data-src="../img/rtl/market-modal.png").modal-section.bottom.lazy
                  .container
                    .color-block
                      .row
                        .col-lg-6
                          p.small
                            span إذا كانت لديك أي أسئلة أو كنت بحاجة إلى نصيحة حول حلول التسويق ، 
                            br
                            br
                            |  فاتصل بنا على الأرقام المدرجة في الموقع أو أرسل رسالة - سيجيب المتخصصون لدينا اونلاين.
                        .col-lg-6
                          p.red شراء وسائل الإعلام
                          a.button.red(href="#form" data-toggle="modal" data-target="#form") إبدأ اليوم
        .modal.form.marketing.info.fade(id="modalAff" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title التسويق بالتبعية
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-popup.png" alt="close")
              .modal-body
                .container
                  .row
                    .col-lg-6
                      img.lazy(data-src="img/modal-aff.png")
                    .col-lg-6 
                      h2 حلول  
                        span التسويق
                      p.main-text تتمتع مجموعة أكاليستا بخبرة واسعة في بناء برامج شريكة للعملاء في مختلف المجالات مثل الفوركس والعملات المشفرة والأدوات والنوترا والمقامرة والألعاب وغيرها. زيادة التحويلات إلى شركاء في CPL و CPA و CPI
                section(data-src="../img/rtl/market-modal.png").modal-section.bottom.lazy
                  .container
                    .color-block
                      .row
                        .col-lg-6
                          p.small
                            span إذا كانت لديك أي أسئلة أو كنت بحاجة إلى نصيحة حول حلول التسويق ، 
                            br
                            br
                            |  فاتصل بنا على الأرقام المدرجة في الموقع أو أرسل رسالة - سيجيب المتخصصون لدينا اونلاين.
                        .col-lg-6
                          p.red التسويق بالتبعية
                          a.button.red(href="#form" data-toggle="modal" data-target="#form") إبدأ اليوم
        .modal.form.marketing.info.fade(id="modalSEO" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title إعلانات جوجل وتحسين محركات البحث
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-popup.png" alt="close")
              .modal-body
                .container
                  .row
                    .col-lg-6
                      img.lazy(data-src="img/modal-seo.png")
                    .col-lg-6 
                      h2 حلول  
                        span التسويق
                      p.main-text نحن نبحث عن أفضل الكلمات الرئيسية المناسبة لموقعك على الويب ، ونحسن تصنيفات محرك البحث على جوجل دون القيام بأي رسائل اقتحامية. سيقوم المحللون لدينا بإعداد الروابط الداخلية والخارجية المناسبة التي تساعد المشاهد على البقاء على اتصال مع موقع الويب الخاص بك لفترة أطول ، وتحسين مصداقيته وسيوصلك إلى القمة.
                section(data-src="../img/rtl/market-modal.png").modal-section.bottom.lazy
                  .container
                    .color-block
                      .row
                        .col-lg-6
                          p.small
                            span إذا كانت لديك أي أسئلة أو كنت بحاجة إلى نصيحة حول حلول التسويق ، 
                            br
                            br
                            |  فاتصل بنا على الأرقام المدرجة في الموقع أو أرسل رسالة - سيجيب المتخصصون لدينا اونلاين.
                        .col-lg-6
                          p.red إعلانات جوجل وتحسين محركات البحث
                          a.button.red(href="#form" data-toggle="modal" data-target="#form") إبدأ اليوم
        .modal.form.marketing.info.fade(id="modalSmm" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title تسويق وسائل الاعلام الاجتماعية
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-popup.png" alt="close")
              .modal-body
                .container
                  .row
                    .col-lg-6
                      img.lazy(data-src="img/rtl/modal-smm.png")
                    .col-lg-6 
                      h2 حلول  
                        span التسويق
                      p.main-text SMM هو أساس التفاعل بين الأفراد والعلامات التجارية وكذلك بين الشركات. يجب أن تكون كل علامة تجارية موجودة في الشبكات الاجتماعية. تقوم مجموعة أكاليستا بإنشاء صورة رائعة لعملك على الشبكات الاجتماعية من خلال إنشاء حملات مناسبة لعلامتك التجارية وتطوير استراتيجيات تسويق قوية بأهداف تكتيكية ناجحة.
                section(data-src="../img/rtl/market-modal.png").modal-section.bottom.lazy
                  .container
                    .color-block
                      .row
                        .col-lg-6
                          p.small
                            span إذا كانت لديك أي أسئلة أو كنت بحاجة إلى نصيحة حول حلول التسويق ، 
                            br
                            br
                            |  فاتصل بنا على الأرقام المدرجة في الموقع أو أرسل رسالة - سيجيب المتخصصون لدينا اونلاين.
                        .col-lg-6
                          p.red تسويق وسائل الاعلام الاجتماعية
                          a.button.red(href="#form" data-toggle="modal" data-target="#form") إبدأ اليوم
        .modal.form.marketing.info.fade(id="modalBrand" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title استراتيجية العلامة التجارية
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-popup.png" alt="close")
              .modal-body
                .container
                  .row
                    .col-lg-6
                      img.lazy(data-src="img/modal-brand.png")
                    .col-lg-6 
                      h2 حلول  
                        span التسويق
                      p.main-text يمكننا تحديد نشاطك التجاري من خلال تصميم شعار عالي الجودة ، بناءً على تفضيلات الجمهور المستهدف بالإضافة إلى توفير صور ذات علامة تجارية للشبكات الاجتماعية وأهداف أخرى لتحقيق استراتيجية تسويق العلامة التجارية للتأثير على السمع.
                section(data-src="../img/rtl/market-modal.png").modal-section.bottom.lazy
                  .container
                    .color-block
                      .row
                        .col-lg-6
                          p.small
                            span إذا كانت لديك أي أسئلة أو كنت بحاجة إلى نصيحة حول حلول التسويق ، 
                            br
                            br
                            |  فاتصل بنا على الأرقام المدرجة في الموقع أو أرسل رسالة - سيجيب المتخصصون لدينا اونلاين.
                        .col-lg-6
                          p.red استراتيجية العلامة التجارية
                          a.button.red(href="#form" data-toggle="modal" data-target="#form") إبدأ اليوم
        .modal.form.marketing.info.fade(id="modalContent" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title ادارة المحتوى
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-popup.png" alt="close")
              .modal-body
                .container
                  .row
                    .col-lg-6
                      img.lazy(data-src="img/modal-content.png")
                    .col-lg-6 
                      h2 حلول  
                        span التسويق
                      p.main-text يقدم خبراؤنا جميع خدمات تسويق المحتوى بما في ذلك إنشاء استراتيجية المحتوى ، والتدوين ، وكتابة النصوص ، وخدمات الترجمة ، وإنشاء منشورات احترافية للوصول إلى انتباه الفئات المستهدفة.
                section(data-src="../img/rtl/market-modal.png").modal-section.bottom.lazy
                  .container
                    .color-block
                      .row
                        .col-lg-6
                          p.small
                            span إذا كانت لديك أي أسئلة أو كنت بحاجة إلى نصيحة حول حلول التسويق ، 
                            br
                            br
                            |  فاتصل بنا على الأرقام المدرجة في الموقع أو أرسل رسالة - سيجيب المتخصصون لدينا اونلاين.
                        .col-lg-6
                          p.red ادارة المحتوى
                          a.button.red(href="#form" data-toggle="modal" data-target="#form") إبدأ اليوم
        .modal.form.marketing.info.fade(id="modalVideo" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title تسويق الفيديو
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-popup.png" alt="close")
              .modal-body
                .container
                  .row
                    .col-lg-6
                      img.lazy(data-src="img/modal-video.png")
                    .col-lg-6 
                      h2 حلول  
                        span التسويق
                      p.main-text عند استخدام الفيديو كجزء من حملاتك الأخرى ، يكون عائد الاستثمار مبررًا. نحن نقدم فيديو تقديميًا لعلامتك التجارية: ترويج المنتج ، والإعلانات التجارية التلفزيونية ، ومحفظة الأعمال مع كتابة السيناريو وموسيقى الخلفية.
                section(data-src="../img/rtl/market-modal.png").modal-section.bottom.lazy
                  .container
                    .color-block
                      .row
                        .col-lg-6
                          p.small
                            span إذا كانت لديك أي أسئلة أو كنت بحاجة إلى نصيحة حول حلول التسويق ، 
                            br
                            br
                            |  فاتصل بنا على الأرقام المدرجة في الموقع أو أرسل رسالة - سيجيب المتخصصون لدينا اونلاين.
                        .col-lg-6
                          p.red تسويق الفيديو
                          a.button.red(href="#form" data-toggle="modal" data-target="#form") إبدأ اليوم
        .modal.form.marketing.info.fade(id="modalOpti" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title تحسين الحملات والاستشارات
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-popup.png" alt="close")
              .modal-body
                .container
                  .row
                    .col-lg-6
                      img.lazy(data-src="img/rtl/modal-opti.png")
                    .col-lg-6 
                      h2 حلول  
                        span التسويق
                      p.main-text نحن نعلم كيفية تحسين نتائج مبيعاتك من خلال تحسين حملاتك الإعلانية. ستتبع بيانات وتحليلات الوقت الفعلي نهجًا يعتمد على البيانات لتحقيق أفضل عائد على الاستثمار
                section(data-src="../img/rtl/market-modal.png").modal-section.bottom.lazy
                  .container
                    .color-block
                      .row
                        .col-lg-6
                          p.small
                            span إذا كانت لديك أي أسئلة أو كنت بحاجة إلى نصيحة حول حلول التسويق ، 
                            br
                            br
                            |  فاتصل بنا على الأرقام المدرجة في الموقع أو أرسل رسالة - سيجيب المتخصصون لدينا اونلاين.
                        .col-lg-6
                          p.red تحسين الحملات والاستشارات
                          a.button.red(href="#form" data-toggle="modal" data-target="#form") إبدأ اليوم

      footer.footer
        .container
          .footer-nav
            .row
              .col-md-6
                ul.tel-ul
                  li
                    img.lazy(data-src="img/israel-flag.png")
                    a(href="tel:+972 3375 11 34") +972 3375 11 34
                  li
                    img.lazy(data-src="img/usa-flag.png")
                    a(href="tel:+1 929 322 8811") +1 929 322 8811
                  li
                    img.lazy(data-src="img/uk-flag.png")
                    a(href="tel:+44 20 4577 1146") +44 20 4577 1146
                  li
                    img.lazy(data-src="img/ukraine-flag.png")
                    a(href="tel:+380 95 687 29 07") +380 95 687 29 07
              .col-md-6
                ul.payment-ul
                  li.flexed
                    a(href="https://google.com" target="_blank")
                      img.lazy.pay-sys(data-src="img/swift.png")
                    a(href="https://google.com" target="_blank")
                      img.lazy.pay-sys(data-src="img/sepa.jpg")
                  li.flexed
                    a(href="https://google.com" target="_blank")
                      img.lazy.pay-sys(data-src="img/masterCard.jpg")
                    a(href="https://google.com" target="_blank")
                      img.lazy.pay-sys(data-src="img/visa.jpg")
                  li.flexed.btc-flexed
                    a(href="https://google.com" target="_blank")
                      img.lazy.pay-sys(data-src="img/btc.png")

          .footer-wrap
            .copy جميع الحقوق محفوظة من قبل أكاليستا.
            .social
              a(href="https://www.facebook.com/acalistagroup" target="blank")
                .icon
                  img(src="img/facebook_logo.png", alt="facebook")
              a(href="https://www.instagram.com/acalistagroup/" target="blank")
                .icon
                  img(src="img/instagram-brands.png", alt="instagram")
              a(href="https://www.linkedin.com/company/acalista-group/" target="blank")
                .icon
                  img(src="img/linkedin_logo.png", alt="linkedIn")
              a(href="https://twitter.com/AcalistaGroup" target="blank")
                .icon
                  img(src="img/twitter-brands.png", alt="linkedIn")
            .mail
              a(href="mailto:info@acalista.com") info@acalista.com
      script(src="js/jquery.min.js")
      script(src="js/bootstrap.min.js")
      script(src="js/lazy-load.js")
      script(src="js/aos.js")
      script(src="js/three.min.js")
      script(src="js/OrbitControls.js")
      script(src="js/Tween.js")
      script(src="//unpkg.com/three-spritetext")
      script(src="js/cube5.js")
      script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
      script(src="js/script.js")
      script(type='text/javascript').
        _linkedin_partner_id = "3747153";
        window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
        window._linkedin_data_partner_ids.push(_linkedin_partner_id);
      script(type='text/javascript').
        (function(l) {
        if (!l){window.lintrk = function(a,b){window.lintrk.q.push([a,b])};
        window.lintrk.q=[]}
        var s = document.getElementsByTagName("script")[0];
        var b = document.createElement("script");
        b.type = "text/javascript";b.async = true;
        b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
        s.parentNode.insertBefore(b, s);})(window.lintrk);
      noscript
        img(height='1' width='1' style='display:none;' alt='' src='https://px.ads.linkedin.com/collect/?pid=3747153&fmt=gif')