<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
        title Маркетинг
        link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
        link(rel="stylesheet preload", as="style" href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/aos.css")
        link(rel="stylesheet preload", as="style" href="css/main.css")
        link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
    body
      header.header
        .container
          .header-wrap
            .logo
              a(href="index-ru.html")
                img(src="img/logo.svg", alt="logo")
            ul.header-menu.collapse#navbar
              li
                a(href="index-ru.html")
                  .text О нас
                  .line
                  .number 00
              li
                a(href="consulting-ru.html")
                  .text Консалтинг
                  .line
                  .number 01
              li
                a.active(href="marketing-ru.html")
                  .text Маркетинг
                  .line
                  .number 02
              li
                a(href="development-ru.html")
                  .text Веб-разработка
                  .line
                  .number 03
              li
                a(href="cryptocurrency-ru.html")
                  .text Криптовалюта
                  .line
                  .number 04
              li
                a(href="legal-ru.html")
                  .text Юридические услуги
                  .line
                  .number 05
              li
                a(href="realestate-ru.html")
                  .text Недвижимость
                  .line
                  .number 06
            .langs
              .current
                span
                  img(src="/img/ru.png")
                .arrow
              .list
                a(href="./marketing.html")
                  img(src="/img/en.png")
                a(href="./marketing-es.html")
                  img(src="/img/es.png")
                a(href="./marketing-ar.html")
                  img(src="/img/ar.png")
            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation")
              span(class="line line-1")
              span(class="line line-2")
              span(class="line line-3")
      main
        section.main-section.marketing
          .container
            .row
              .col-lg-6                  
                h1.title
                  span(data-aos="fade" data-aos-delay="100") 02
                  span.text-animate
                    span М
                    span а
                    span р
                    span к
                    span е
                    span т
                    span и
                    span н
                    span г
                .sub-title
                  .text(data-aos="fade-left" data-aos-delay="1000") Создание и продвижение имиджа компании в digital-пространстве: брендинг-стратегии и SMM. Медиапанирование и покупка рекламы: реализация комплексного плана роста и оптимизации основных каналов трафика, конверсии и продаж. 
                a.video-link(href="index.html")
                  .text Посмотреть 
                    br
                    | наш ролик
                  .link-img
                    img(src="img/play_button.png", alt="play")
              .col-lg-6
                //- a.cube-link.market.cube-link-1(href="#marketing-1") Lead Generation
                //- a.cube-link.market.cube-link-2(href="#marketing-2") Media 
                //-   br.d-block.d-sm-none
                //-   | Buying
                //- a.cube-link.market.cube-link-3(href="#marketing-2") Content manegement
                //- a.button.red.cube-button(href="#form" data-toggle="modal" data-target="#form") START TODAY
                #cube(data-lang="ru")
        section#marketing-1.section.marketing-1.lazy(data-src="../img/marketing_1.png")
          .container
            .row
              .col-lg-4
                h2 Маркетинговые 
                  span решения
                .line
                img.cubes.lazy(data-src="img/marketing_1_cubes.png")
              .col-lg-4
                ul.solutions-items
                  li
                    .head
                      img.lazy(data-src="img/solution-1.png")
                      p Лидогенерация
                        a.link(href="#modalLeads" data-toggle="modal" data-target="#modalLeads")
                          img.lazy(data-src="../img/link-red.png")
                  li
                    .head
                      img.lazy(data-src="img/solution-4.png")
                      p Партнерский маркетинг
                        a.link(href="#modalAff" data-toggle="modal" data-target="#modalAff")
                          img.lazy(data-src="../img/link-red.png")
                  li
                    .head
                      img.lazy(data-src="img/solution-3.png")
                      p Покупка рекламы
                        a.link(href="#modalBuy" data-toggle="modal" data-target="#modalBuy")
                          img.lazy(data-src="../img/link-red.png")
                  li
                    .head
                      img.lazy(data-src="img/solution-51.png")
                      p Google Реклама и SEO
                        a.link(href="#modalSEO" data-toggle="modal" data-target="#modalSEO")
                          img.lazy(data-src="../img/link-red.png")
                  li
                    .head
                      img.lazy(data-src="img/solution-61.png")
                      p Маркетинг в социальных сетях (SMM)
                        a.link(href="#modalSmm" data-toggle="modal" data-target="#modalSmm")
                          img.lazy(data-src="../img/link-red.png")
              .col-lg-4
                ul.solutions-items.right
                  li
                    .head
                      img.lazy(data-src="img/solution-2.png")
                      p Графический и digital-дизайн
                        a.link(href="#modalDesign" data-toggle="modal" data-target="#modalDesign")
                          img.lazy(data-src="../img/link-red.png")
                  li
                    .head
                      img.lazy(data-src="img/solution-31.svg")
                      p Стратегия брендинга 
                        a.link(href="#modalBrand" data-toggle="modal" data-target="#modalBrand")
                          img.lazy(data-src="../img/link-red.png")
                  li
                    .head
                      img.lazy(data-src="img/solution-5.png")
                      p Управление контентом
                        a.link(href="#modalContent" data-toggle="modal" data-target="#modalContent")
                          img.lazy(data-src="../img/link-red.png")
                  li
                    .head
                      img.lazy(data-src="img/solution-41.png")
                      p Видео-маркетинг
                        a.link(href="#modalVideo" data-toggle="modal" data-target="#modalVideo")
                          img.lazy(data-src="../img/link-red.png")
                  li
                    .head
                      img.lazy(data-src="img/solution-10.png")
                      p Оптимизация рекламной кампании и консультации
                        a.link(href="#modalOpti" data-toggle="modal" data-target="#modalOpti")
                          img.lazy(data-src="../img/link-red.png")
        section#marketing-2.section.marketing-2
          .container
            h2 Наши 
              span клиенты
            p.subtitle Маркетинг – наша основа
            p.text Мы помогли большому количеству компаний, как крупным, так и небольшим, использовать преимущества цифрового маркетинга. За прошедшие годы мы глубоко изучили специфику рекламы брендов, дизайна и взаимодействия с потребителями. Просмотрите примеры наших рекламных кампаний.
          .slider-wrap
            .container
              .row
                .col-lg-8
                  .slider.clients.ltr
                    .slide
                      .top
                        img(src="img/slide-1-1.png", alt="slide")
                      .bottom
                        img(src="img/slide-1-2.png", alt="slide")
                    .slide
                      .top
                        img(src="img/slide-2-1.png", alt="slide")
                      .bottom
                        img(src="img/slide-2-2.png", alt="slide")
                    .slide
                      .top
                        img(src="img/slide-3-1.png", alt="slide")
                      .bottom
                        img(src="img/slide-3-2.png", alt="slide")
                    .slide
                      .top
                        img(src="img/slide-4-1.png", alt="slide")
                      .bottom
                        img(src="img/slide-4-2.png", alt="slide")
                    .slide
                      .top
                        img(src="img/slide-5-1.png", alt="slide")
                      .bottom
                        img(src="img/slide-5-2.png", alt="slide")
                    .slide
                      .top
                        img(src="img/slide-6-1.png", alt="slide")
                      .bottom
                        img(src="img/slide-6-2.png", alt="slide")
                    .slide
                      .top
                        img(src="img/slide-7-1.png", alt="slide")
                      .bottom
                        img(src="img/slide-7-2.png", alt="slide")
                    .slide
                      .top
                        img(src="img/slide-8-1.png", alt="slide")
                      .bottom
                        img(src="img/slide-8-2.png", alt="slide")
                    .slide
                      .top
                        img(src="img/slide-9-1.png", alt="slide")
                      .bottom
                        img(src="img/slide-9-2.png", alt="slide")
                  .slider-navigation
                    .prev
                      img(src="img/slide-prev.png", alt="prev")
                    .next
                      img(src="img/slide-next.png", alt="next")
                .col-lg-4
                  img(src="img/clients-faces-2.png")
                  img(src="img/clients-faces.png")
        .modal.form.legal.fade(id="form" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title Обращайтесь 
                    span к нам
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-form.png" alt="close")
              .modal-body
                .main-info
                  .container
                    form
                      .form-group
                        input#name.form-control(type='text' required placeholder='Имя *')
                      .form-group
                        input#email.form-control(type='email' required placeholder='Электронная почта *')
                      .form-group
                        input#phone.form-control(type='tel' required placeholder='Телефон *')
                      .form-group
                        textarea#msg.form-control(type='text' cols="30", rows="5" placeholder='Сообщение  ')
                      button(type="submit") Отправить запрос
        .modal.form.marketing.info.fade(id="modalLeads" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title Лидогенерация
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-popup.png" alt="close")
              .modal-body
                .container
                  .row
                    .col-lg-6
                      img.lazy(data-src="img/modal-lead.png")
                    .col-lg-6 
                      h2 Маркетинговые 
                        span решения
                      p.main-text Мы помогаем привлекать новых клиентов с помощью высококачественного трафика: нативная реклама, push-уведомления, баннерная реклама, электронная почта и таргетированный поиск для увеличения конверсии на целевых страницах клиентов, пользовательских последовательностях и веб-сайтах.
                section(data-src="../img/market-modal.png").modal-section.bottom.lazy
                  .container
                    .color-block
                      .row
                        .col-lg-6
                          p.small
                            span Если у вас есть вопросы или вам нужна консультация по маркетинговым решениям, 
                            br
                            br
                            | позвоните нам по номерам, указанным на сайте, или отправьте сообщение - наши специалисты ответят вам онлайн.
                        .col-lg-6
                          p.red Лидогенерация
                          a.button.red(href="#form" data-toggle="modal" data-target="#form") НАЧНИТЕ СЕЙЧАС
        .modal.form.marketing.info.fade(id="modalDesign" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title Графический и digital-дизайн
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-popup.png" alt="close")
              .modal-body
                .container
                  .row
                    .col-lg-6
                      img.lazy(data-src="img/modal-design.png")
                    .col-lg-6 
                      h2 Маркетинговые 
                        span решения
                      p.main-text Если вы хотите, чтобы визуальное оформление Вашего бренда было превосходным – профессиональный дизайн делает это возможным. В нашей команде работают веб-дизайнеры, дизайнеры графики, анимации и цифровых технологий, которые специализируются на UX/UI дизайне, брендинге, ребрендинге, печати и digital-кампаниях.
                section(data-src="../img/market-modal.png").modal-section.bottom.lazy
                  .container
                    .color-block
                      .row
                        .col-lg-6
                          p.small
                            span Если у вас есть вопросы или вам нужна консультация по маркетинговым решениям, 
                            br
                            br
                            | позвоните нам по номерам, указанным на сайте, или отправьте сообщение - наши специалисты ответят вам онлайн.
                        .col-lg-6
                          p.red Графический и 
                            br.d-none.d-lg-block
                            span digital-дизайн
                          a.button.red(href="#form" data-toggle="modal" data-target="#form") START TODAY
        .modal.form.marketing.info.fade(id="modalBuy" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title Покупка рекламы
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-popup.png" alt="close")
              .modal-body
                .container
                  .row
                    .col-lg-6
                      img.lazy(data-src="img/modal-buy.png")
                    .col-lg-6 
                      h2 Маркетинговые 
                        span решения
                      p.main-text Мы специализируемся на медиапланировании и покупке рекламы на всех рынках, включая целевой трафик, трафик от крупных издателей, небольшие веб-сайты, нишевые сайты и социальные сети. Медийная и мобильная реклама по CPM, CPC
                section(data-src="../img/market-modal.png").modal-section.bottom.lazy
                  .container
                    .color-block
                      .row
                        .col-lg-6
                          p.small
                            span Если у вас есть вопросы или вам нужна консультация по маркетинговым решениям, 
                            br
                            br
                            | позвоните нам по номерам, указанным на сайте, или отправьте сообщение - наши специалисты ответят вам онлайн.
                        .col-lg-6
                          p.red Покупка 
                            br.d-none.d-lg-block
                            span рекламы
                          a.button.red(href="#form" data-toggle="modal" data-target="#form") START TODAY
        .modal.form.marketing.info.fade(id="modalAff" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title Партнерский маркетинг
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-popup.png" alt="close")
              .modal-body
                .container
                  .row
                    .col-lg-6
                      img.lazy(data-src="img/modal-aff.png")
                    .col-lg-6 
                      h2 Маркетинговые 
                        span решения
                      p.main-text Компания Acalista group обладает большим опытом в создании партнерских программ для клиентов в различных областях, таких как форекс, криптовалюта, гаджеты, нутра, азартные игры, игры и другие. Привлечение партнеров к конверсиям по CPL, CPA, CPI
                section(data-src="../img/market-modal.png").modal-section.bottom.lazy
                  .container
                    .color-block
                      .row
                        .col-lg-6
                          p.small
                            span Если у вас есть вопросы или вам нужна консультация по маркетинговым решениям, 
                            br
                            br
                            | позвоните нам по номерам, указанным на сайте, или отправьте сообщение - наши специалисты ответят вам онлайн.
                        .col-lg-6
                          p.red Партнерский 
                            br.d-none.d-lg-block
                            span маркетинг
                          a.button.red(href="#form" data-toggle="modal" data-target="#form") START TODAY
        .modal.form.marketing.info.fade(id="modalSEO" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title Google Реклама и SEO
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-popup.png" alt="close")
              .modal-body
                .container
                  .row
                    .col-lg-6
                      img.lazy(data-src="img/modal-seo.png")
                    .col-lg-6 
                      h2 Маркетинговые 
                        span решения
                      p.main-text Мы подбираем наиболее подходящие ключевые слова для вашего веб-сайта, улучшаем рейтинг в поисковых системах Google без использования спама. Наши аналитики настроят соответствующие внутренние и внешние ссылки на Вашем сайте, которые помогут пользователю дольше оставаться на вашем веб-сайте, повысят доверие к нему и выведут в TOP результатов поиска.
                section(data-src="../img/market-modal.png").modal-section.bottom.lazy
                  .container
                    .color-block
                      .row
                        .col-lg-6
                          p.small
                            span Если у вас есть вопросы или вам нужна консультация по маркетинговым решениям, 
                            br
                            br
                            | позвоните нам по номерам, указанным на сайте, или отправьте сообщение - наши специалисты ответят вам онлайн.
                        .col-lg-6
                          p.red Google Реклама 
                            br.d-none.d-lg-block
                            span и SEO
                          a.button.red(href="#form" data-toggle="modal" data-target="#form") START TODAY
        .modal.form.marketing.info.fade(id="modalSmm" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title Маркетинг в социальных сетях (SMM)
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-popup.png" alt="close")
              .modal-body
                .container
                  .row
                    .col-lg-6
                      img.lazy(data-src="img/modal-smm.png")
                    .col-lg-6 
                      h2 Маркетинговые 
                        span решения
                      p.main-text SMM – это основа взаимодействия между аудиторией и брендами, а также между компаниями. Каждый бренд должен быть представлен в социальных сетях. Acalista Group создает отличный имидж вашего бизнеса в социальных сетях, используя подходы, соответствующие особенностям вашего бренда, и разрабатывая эффективные маркетинговые стратегии с успешными тактическими целями.
                section(data-src="../img/market-modal.png").modal-section.bottom.lazy
                  .container
                    .color-block
                      .row
                        .col-lg-6
                          p.small
                            span Если у вас есть вопросы или вам нужна консультация по маркетинговым решениям, 
                            br
                            br
                            | позвоните нам по номерам, указанным на сайте, или отправьте сообщение - наши специалисты ответят вам онлайн.
                        .col-lg-6
                          p.red Маркетинг в социальных 
                            br.d-none.d-lg-block
                            span сетях (SMM)
                          a.button.red(href="#form" data-toggle="modal" data-target="#form") START TODAY
        .modal.form.marketing.info.fade(id="modalBrand" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title Стратегия брендинга 
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-popup.png" alt="close")
              .modal-body
                .container
                  .row
                    .col-lg-6
                      img.lazy(data-src="img/modal-brand.png")
                    .col-lg-6 
                      h2 Маркетинговые 
                        span решения
                      p.main-text Мы можем сделать ваш бизнес узнаваемым, разработав высококачественный логотип на основе предпочтений целевой аудитории, а также предоставив фирменные изображения для публикации в социальных сетях и других целей с целью реализации маркетинговой стратегии бренда, направленной воздействовать на аудиторию.
                section(data-src="../img/market-modal.png").modal-section.bottom.lazy
                  .container
                    .color-block
                      .row
                        .col-lg-6
                          p.small
                            span Если у вас есть вопросы или вам нужна консультация по маркетинговым решениям, 
                            br
                            br
                            | позвоните нам по номерам, указанным на сайте, или отправьте сообщение - наши специалисты ответят вам онлайн.
                        .col-lg-6
                          p.red Стратегия 
                            br.d-none.d-lg-block
                            span брендинга
                          a.button.red(href="#form" data-toggle="modal" data-target="#form") START TODAY
        .modal.form.marketing.info.fade(id="modalContent" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title Управление контентом
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-popup.png" alt="close")
              .modal-body
                .container
                  .row
                    .col-lg-6
                      img.lazy(data-src="img/modal-content.png")
                    .col-lg-6 
                      h2 Маркетинговые 
                        span решения
                      p.main-text Наши специалисты предоставляют все услуги контент-маркетинга, включая создание контент-стратегии, ведение блогов, копирайтинг, услуги перевода, создание профессионально организованных постов для привлечения внимания целевых групп.
                section(data-src="../img/market-modal.png").modal-section.bottom.lazy
                  .container
                    .color-block
                      .row
                        .col-lg-6
                          p.small
                            span Если у вас есть вопросы или вам нужна консультация по маркетинговым решениям, 
                            br
                            br
                            | позвоните нам по номерам, указанным на сайте, или отправьте сообщение - наши специалисты ответят вам онлайн.
                        .col-lg-6
                          p.red Управление 
                            br.d-none.d-lg-block
                            span контентом
                          a.button.red(href="#form" data-toggle="modal" data-target="#form") START TODAY
        .modal.form.marketing.info.fade(id="modalVideo" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title Видео-маркетинг
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-popup.png" alt="close")
              .modal-body
                .container
                  .row
                    .col-lg-6
                      img.lazy(data-src="img/modal-video.png")
                    .col-lg-6 
                      h2 Маркетинговые 
                        span решения
                      p.main-text Используя видео как часть рекламных кампаний, рентабельность инвестиций оправдывается. Мы создаём презентационное видео для вашего бренда: реклама продукта, коммерческое продвижение либо бизнес-портфолио с написанием плана и медиа-сопровождением.
                section(data-src="../img/market-modal.png").modal-section.bottom.lazy
                  .container
                    .color-block
                      .row
                        .col-lg-6
                          p.small
                            span Если у вас есть вопросы или вам нужна консультация по маркетинговым решениям, 
                            br
                            br
                            | позвоните нам по номерам, указанным на сайте, или отправьте сообщение - наши специалисты ответят вам онлайн.
                        .col-lg-6
                          p.red Видео-маркетинг
                          a.button.red(href="#form" data-toggle="modal" data-target="#form") START TODAY
        .modal.form.marketing.info.fade(id="modalOpti" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title Оптимизация рекламной кампании и консультации
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-popup.png" alt="close")
              .modal-body
                .container
                  .row
                    .col-lg-6
                      img.lazy(data-src="img/modal-opti.png")
                    .col-lg-6 
                      h2 Маркетинговые 
                        span решения
                      p.main-text Мы знаем, как улучшить результаты продаж за счёт оптимизации рекламных кампаний. Данные и аналитика в реальном времени будут следовать подходу, основанному на данных, чтобы обеспечить максимальную ROI.
                section(data-src="../img/market-modal.png").modal-section.bottom.lazy
                  .container
                    .color-block
                      .row
                        .col-lg-6
                          p.small
                            span Если у вас есть вопросы или вам нужна консультация по маркетинговым решениям, 
                            br
                            br
                            | позвоните нам по номерам, указанным на сайте, или отправьте сообщение - наши специалисты ответят вам онлайн.
                        .col-lg-6
                          p.red Оптимизация рекламной 
                            br.d-none.d-lg-block
                            span кампании и консультации
                          a.button.red(href="#form" data-toggle="modal" data-target="#form") START TODAY
                            
      footer.footer
        .container
          .footer-nav
            .row
              .col-md-4
                ul
                  li
                    img.lazy(data-src="img/israel-flag.png")
                    | Израиль 
                    a(href="tel:+972 3375 11 34") +972 3375 11 34
                  li
                    img.lazy(data-src="img/usa-flag.png")
                    | США 
                    a(href="tel:+1 929 322 8811") +1 929 322 8811
                  li
                    img.lazy(data-src="img/uk-flag.png")
                    | Великобритания 
                    a(href="tel:+44 20 4577 1146") +44 20 4577 1146
                  li
                    img.lazy(data-src="img/ukraine-flag.png")
                    | Украина 
                    a(href="tel:+380 95 687 29 07") +380 95 687 29 07
          .footer-wrap
            .copy Все права защищены Acalista.
            .social
              a(href="https://www.facebook.com/acalistagroup" target="blank")
                .icon
                  img(src="img/facebook_logo.png", alt="facebook")
              a(href="https://www.instagram.com/acalista.group/" target="blank")
                .icon
                  img(src="img/instagram-brands.png", alt="instagram")
              a(href="https://www.linkedin.com/company/acalista-group/" target="blank")
                .icon
                  img(src="img/linkedin_logo.png", alt="linkedIn")
              a(href="https://twitter.com/AcalistaGroup" target="blank")
                .icon
                  img(src="img/twitter-brands.png", alt="linkedIn")
            .mail
              a(href="mailto:info@acalista.com") info@acalista.com
      script(src="js/jquery.min.js")
      script(src="js/bootstrap.min.js")
      script(src="js/lazy-load.js")
      script(src="js/aos.js")
      script(src="js/three.min.js")
      script(src="js/OrbitControls.js")
      script(src="js/Tween.js")
      script(src="//unpkg.com/three-spritetext")
      script(src="js/cube5.js")
      script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
      script(src="js/script.js")