<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
        title Marketing
        link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
        link(rel="stylesheet preload", as="style" href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/aos.css")
        link(rel="stylesheet preload", as="style" href="css/main.css")
        link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
    body
      header.header
        .container
          .header-wrap
            .logo
              a(href="index.html")
                img(src="img/logo.svg", alt="logo")
            ul.header-menu.collapse#navbar
              li
                a(href="index.html")
                  .text About us
                  .line
                  .number 00
              li
                a(href="consulting.html")
                  .text Consulting
                  .line
                  .number 01
              li
                a.active(href="marketing.html")
                  .text Marketing
                  .line
                  .number 02
              li
                a(href="development.html")
                  .text Web development
                  .line
                  .number 03
              li
                a(href="cryptocurrency.html")
                  .text Cryptocurrency
                  .line
                  .number 04
              li
                a(href="legal.html")
                  .text Legal services
                  .line
                  .number 05
              li
                a(href="realestate.html")
                  .text Real estate
                  .line
                  .number 06
            .langs
              .current
                span
                  img(src="/img/en.png")
                .arrow
              .list
                a(href="./marketing-ru.html")
                  img(src="/img/ru.png")
                a(href="./marketing-es.html")
                  img(src="/img/es.png")
                a(href="./marketing-ar.html")
                  img(src="/img/ar.png")
            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation")
              span(class="line line-1")
              span(class="line line-2")
              span(class="line line-3")
      main
        section.main-section.marketing
          .container
            .row
              .col-lg-6                  
                h1.title
                  span(data-aos="fade" data-aos-delay="100") 02
                  span.text-animate
                    span M
                    span a
                    span r
                    span k
                    span e
                    span t
                    span i
                    span n
                    span g
                .sub-title
                  .text(data-aos="fade-left" data-aos-delay="1000") Creation and promotion of the company's image in the digital space: branding strategies and SMM. Media planning and buying: implementation of a comprehensive plan for increasing and optimization of the main traffic channels, conversion and sales.
                a.video-link(href="index.html")
                  .text Watch
                    br
                    | our trailer
                  .link-img
                    img(src="img/play_button.png", alt="play")
              .col-lg-6
                //- a.cube-link.market.cube-link-1(href="#marketing-1") Lead Generation
                //- a.cube-link.market.cube-link-2(href="#marketing-2") Media 
                //-   br.d-block.d-sm-none
                //-   | Buying
                //- a.cube-link.market.cube-link-3(href="#marketing-2") Content manegement
                //- a.button.red.cube-button(href="#form" data-toggle="modal" data-target="#form") START TODAY
                #cube.market(data-lang="en")
        section#marketing-1.section.marketing-1.lazy(data-src="../img/marketing_1.png")
          .container
            .row
              .col-lg-4
                h2 Marketing 
                  span Solutions
                .line
                img.cubes.lazy(data-src="img/marketing_1_cubes.png")
              .col-lg-4
                ul.solutions-items
                  li
                    .head
                      img.lazy(data-src="img/solution-1.png")
                      p Lead Generation
                        a.link(href="#modalLeads" data-toggle="modal" data-target="#modalLeads")
                          img.lazy(data-src="../img/link-red.png")
                  li
                    .head
                      img.lazy(data-src="img/solution-4.png")
                      p Affiliate Marketing
                        a.link(href="#modalAff" data-toggle="modal" data-target="#modalAff")
                          img.lazy(data-src="../img/link-red.png")
                  li
                    .head
                      img.lazy(data-src="img/solution-3.png")
                      p Media Buying
                        a.link(href="#modalBuy" data-toggle="modal" data-target="#modalBuy")
                          img.lazy(data-src="../img/link-red.png")
                  li
                    .head
                      img.lazy(data-src="img/solution-51.png")
                      p Google Ads & SEO
                        a.link(href="#modalSEO" data-toggle="modal" data-target="#modalSEO")
                          img.lazy(data-src="../img/link-red.png")
                  li
                    .head
                      img.lazy(data-src="img/solution-61.png")
                      p Social Media Marketing
                        a.link(href="#modalSmm" data-toggle="modal" data-target="#modalSmm")
                          img.lazy(data-src="../img/link-red.png")
              .col-lg-4
                ul.solutions-items.right
                  li
                    .head
                      img.lazy(data-src="img/solution-2.png")
                      p Graphic and Digital Design
                        a.link(href="#modalDesign" data-toggle="modal" data-target="#modalDesign")
                          img.lazy(data-src="../img/link-red.png")
                  li
                    .head
                      img.lazy(data-src="img/solution-31.svg")
                      p Branding strategy
                        a.link(href="#modalBrand" data-toggle="modal" data-target="#modalBrand")
                          img.lazy(data-src="../img/link-red.png")
                  li
                    .head
                      img.lazy(data-src="img/solution-5.png")
                      p Content management
                        a.link(href="#modalContent" data-toggle="modal" data-target="#modalContent")
                          img.lazy(data-src="../img/link-red.png")
                  li
                    .head
                      img.lazy(data-src="img/solution-41.png")
                      p Video-marketing
                        a.link(href="#modalVideo" data-toggle="modal" data-target="#modalVideo")
                          img.lazy(data-src="../img/link-red.png")
                  li
                    .head
                      img.lazy(data-src="img/solution-10.png")
                      p Campaign Optimization and Consulting
                        a.link(href="#modalOpti" data-toggle="modal" data-target="#modalOpti")
                          img.lazy(data-src="../img/link-red.png")
        section#marketing-2.section.marketing-2
          .container
            h2 Our 
              span Clients
            p.subtitle Marketing is our essence
            p.text We’ve helped a variety of companies, both large and small, realize the benefits of digital marketing. Over the years, we’ve developed a deep understanding of brand advertising, design and consumer engagement. Browse through a selection of our campaigns.
          .slider-wrap
            .container
              .row
                .col-lg-8
                  .slider.clients.ltr
                    .slide
                      .top
                        img(src="img/slide-1-1.png", alt="slide")
                      .bottom
                        img(src="img/slide-1-2.png", alt="slide")
                    .slide
                      .top
                        img(src="img/slide-2-1.png", alt="slide")
                      .bottom
                        img(src="img/slide-2-2.png", alt="slide")
                    .slide
                      .top
                        img(src="img/slide-3-1.png", alt="slide")
                      .bottom
                        img(src="img/slide-3-2.png", alt="slide")
                    .slide
                      .top
                        img(src="img/slide-4-1.png", alt="slide")
                      .bottom
                        img(src="img/slide-4-2.png", alt="slide")
                    .slide
                      .top
                        img(src="img/slide-5-1.png", alt="slide")
                      .bottom
                        img(src="img/slide-5-2.png", alt="slide")
                    .slide
                      .top
                        img(src="img/slide-6-1.png", alt="slide")
                      .bottom
                        img(src="img/slide-6-2.png", alt="slide")
                    .slide
                      .top
                        img(src="img/slide-7-1.png", alt="slide")
                      .bottom
                        img(src="img/slide-7-2.png", alt="slide")
                    .slide
                      .top
                        img(src="img/slide-8-1.png", alt="slide")
                      .bottom
                        img(src="img/slide-8-2.png", alt="slide")
                    .slide
                      .top
                        img(src="img/slide-9-1.png", alt="slide")
                      .bottom
                        img(src="img/slide-9-2.png", alt="slide")
                  .slider-navigation
                    .prev
                      img(src="img/slide-prev.png", alt="prev")
                    .next
                      img(src="img/slide-next.png", alt="next")
                .col-lg-4
                  img(src="img/clients-faces-2.png")
                  img(src="img/clients-faces.png")
        .modal.form.marketing.fade(id="form" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title C
                    span ontact us
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-form.png" alt="close")
              .modal-body
                .main-info
                  .container
                    form
                      .form-group
                        input#name.form-control(type='text' required placeholder='Name person *')
                      .form-group
                        input#email.form-control(type='email' required placeholder='Email *')
                      .form-group
                        input#phone.form-control(type='tel' required placeholder='Phone *')
                      .form-group
                        textarea#msg.form-control(type='text' cols="30", rows="5" placeholder='Message')
                      button(type="submit") SEND A REQUEST
        .modal.form.marketing.info.fade(id="modalLeads" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title Lead Generation
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-popup.png" alt="close")
              .modal-body
                .container
                  .row
                    .col-lg-6
                      img.lazy(data-src="img/modal-lead.png")
                    .col-lg-6 
                      h2 Marketing 
                        span Solutions
                      p.main-text We help engage new clients with top quality traffic: native ads, push notifications, banner ads, email and targeted search to boost conversions on clients' landing pages, custom funnels and websites
                section(data-src="../img/market-modal.png").modal-section.bottom.lazy
                  .container
                    .color-block
                      .row
                        .col-lg-6
                          p.small
                            span If you have any questions or need an advice on marketing solutions,  
                            br
                            br
                            | call us at the numbers listed on the site or send a message – our specialists will answer you online.
                        .col-lg-6
                          p.red lead 
                            br.d-none.d-lg-block
                            span generation
                          a.button.red(href="#form" data-toggle="modal" data-target="#form") START TODAY
        .modal.form.marketing.info.fade(id="modalDesign" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title Graphic and Digital Design
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-popup.png" alt="close")
              .modal-body
                .container
                  .row
                    .col-lg-6
                      img.lazy(data-src="img/modal-design.png")
                    .col-lg-6 
                      h2 Marketing 
                        span Solutions
                      p.main-text If you want your brand to look excellent, professional design is what makes it possible. You`ll find among our crew: web, graphic, motion and digital designers who specialized in UX/UI designs, branding, rebranding, print and digital campaigns. 
                section(data-src="../img/market-modal.png").modal-section.bottom.lazy
                  .container
                    .color-block
                      .row
                        .col-lg-6
                          p.small
                            span If you have any questions or need an advice on marketing solutions,  
                            br
                            br
                            | call us at the numbers listed on the site or send a message – our specialists will answer you online.
                        .col-lg-6
                          p.red Graphic and 
                            br.d-none.d-lg-block
                            span Digital Design
                          a.button.red(href="#form" data-toggle="modal" data-target="#form") START TODAY
        .modal.form.marketing.info.fade(id="modalBuy" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title Media Buying
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-popup.png" alt="close")
              .modal-body
                .container
                  .row
                    .col-lg-6
                      img.lazy(data-src="img/modal-buy.png")
                    .col-lg-6 
                      h2 Marketing 
                        span Solutions
                      p.main-text We specialize in media planning and buying in all markets, including targeted traffic, traffic from big publishers, small websites, niche sites and networks. Display and mobile on CPM, CPC
                section(data-src="../img/market-modal.png").modal-section.bottom.lazy
                  .container
                    .color-block
                      .row
                        .col-lg-6
                          p.small
                            span If you have any questions or need an advice on marketing solutions,  
                            br
                            br
                            | call us at the numbers listed on the site or send a message – our specialists will answer you online.
                        .col-lg-6
                          p.red Media 
                            br.d-none.d-lg-block
                            span Buying
                          a.button.red(href="#form" data-toggle="modal" data-target="#form") START TODAY
        .modal.form.marketing.info.fade(id="modalAff" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title Affiliate Marketing
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-popup.png" alt="close")
              .modal-body
                .container
                  .row
                    .col-lg-6
                      img.lazy(data-src="img/modal-aff.png")
                    .col-lg-6 
                      h2 Marketing 
                        span Solutions
                      p.main-text Acalista group has an extensive expertise in building partner programs for the clients in various fields like forex, crypto, gadgets, nutra, gambling, games and others. Driving conversions to partners on CPL, CPA, CPI
                section(data-src="../img/market-modal.png").modal-section.bottom.lazy
                  .container
                    .color-block
                      .row
                        .col-lg-6
                          p.small
                            span If you have any questions or need an advice on marketing solutions,  
                            br
                            br
                            | call us at the numbers listed on the site or send a message – our specialists will answer you online.
                        .col-lg-6
                          p.red Affiliate 
                            br.d-none.d-lg-block
                            span Marketing
                          a.button.red(href="#form" data-toggle="modal" data-target="#form") START TODAY
        .modal.form.marketing.info.fade(id="modalSEO" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title Google Ads & SEO
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-popup.png" alt="close")
              .modal-body
                .container
                  .row
                    .col-lg-6
                      img.lazy(data-src="img/modal-seo.png")
                    .col-lg-6 
                      h2 Marketing 
                        span Solutions
                      p.main-text We research the best suitable keywords for your website, improve Search Engine Rankings on Google without doing any SPAM. Our analysts will set you up with the appropriate internal and external links that help a viewer stay engaged with your website longer, improve the credibility of it and will get you to the top.
                section(data-src="../img/market-modal.png").modal-section.bottom.lazy
                  .container
                    .color-block
                      .row
                        .col-lg-6
                          p.small
                            span If you have any questions or need an advice on marketing solutions,  
                            br
                            br
                            | call us at the numbers listed on the site or send a message – our specialists will answer you online.
                        .col-lg-6
                          p.red Google Ads 
                            br.d-none.d-lg-block
                            span & SEO
                          a.button.red(href="#form" data-toggle="modal" data-target="#form") START TODAY
        .modal.form.marketing.info.fade(id="modalSmm" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title Social Media Marketing
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-popup.png" alt="close")
              .modal-body
                .container
                  .row
                    .col-lg-6
                      img.lazy(data-src="img/modal-smm.png")
                    .col-lg-6 
                      h2 Marketing 
                        span Solutions
                      p.main-text SMM is the basis of interaction between individuals and brands as well as between businesses. Every brand needs to be present in the social networks. Acalista group creates a great image of your business on social networks by making campaigns, suitable for your brand and developing powerful marketing strategies with successful tactical goals.
                section(data-src="../img/market-modal.png").modal-section.bottom.lazy
                  .container
                    .color-block
                      .row
                        .col-lg-6
                          p.small
                            span If you have any questions or need an advice on marketing solutions,  
                            br
                            br
                            | call us at the numbers listed on the site or send a message – our specialists will answer you online.
                        .col-lg-6
                          p.red Social Media 
                            br.d-none.d-lg-block
                            span Marketing
                          a.button.red(href="#form" data-toggle="modal" data-target="#form") START TODAY
        .modal.form.marketing.info.fade(id="modalBrand" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title Branding strategy
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-popup.png" alt="close")
              .modal-body
                .container
                  .row
                    .col-lg-6
                      img.lazy(data-src="img/modal-brand.png")
                    .col-lg-6 
                      h2 Marketing 
                        span Solutions
                      p.main-text We can make an identification of your business by designing a high-quality logo, based on the target audience preferences as well as providing branded images for social networks and other aims to fulfil a marketing brand strategy to influence the auditory.
                section(data-src="../img/market-modal.png").modal-section.bottom.lazy
                  .container
                    .color-block
                      .row
                        .col-lg-6
                          p.small
                            span If you have any questions or need an advice on marketing solutions,  
                            br
                            br
                            | call us at the numbers listed on the site or send a message – our specialists will answer you online.
                        .col-lg-6
                          p.red Branding 
                            br.d-none.d-lg-block
                            span strategy
                          a.button.red(href="#form" data-toggle="modal" data-target="#form") START TODAY
        .modal.form.marketing.info.fade(id="modalContent" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title Content management
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-popup.png" alt="close")
              .modal-body
                .container
                  .row
                    .col-lg-6
                      img.lazy(data-src="img/modal-content.png")
                    .col-lg-6 
                      h2 Marketing 
                        span Solutions
                      p.main-text Our experts provide all content marketing services include content strategy creation, blogging, copywriting, translation services, creation of professionally constructed posts to reach an attention of target groups. 
                section(data-src="../img/market-modal.png").modal-section.bottom.lazy
                  .container
                    .color-block
                      .row
                        .col-lg-6
                          p.small
                            span If you have any questions or need an advice on marketing solutions,  
                            br
                            br
                            | call us at the numbers listed on the site or send a message – our specialists will answer you online.
                        .col-lg-6
                          p.red Content 
                            br.d-none.d-lg-block
                            span management
                          a.button.red(href="#form" data-toggle="modal" data-target="#form") START TODAY
        .modal.form.marketing.info.fade(id="modalVideo" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title Video-marketing
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-popup.png" alt="close")
              .modal-body
                .container
                  .row
                    .col-lg-6
                      img.lazy(data-src="img/modal-video.png")
                    .col-lg-6 
                      h2 Marketing 
                        span Solutions
                      p.main-text When the video is used as a part of your other campaigns, the ROI is justified. We provide a presentational video for your brand: product promotion, TV Commercial ads, business portfolio with script writing and background music.
                section(data-src="../img/market-modal.png").modal-section.bottom.lazy
                  .container
                    .color-block
                      .row
                        .col-lg-6
                          p.small
                            span If you have any questions or need an advice on marketing solutions,  
                            br
                            br
                            | call us at the numbers listed on the site or send a message – our specialists will answer you online.
                        .col-lg-6
                          p.red Video 
                            br.d-none.d-lg-block
                            span marketing
                          a.button.red(href="#form" data-toggle="modal" data-target="#form") START TODAY
        .modal.form.marketing.info.fade(id="modalOpti" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title Campaign Optimization and Consulting
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-popup.png" alt="close")
              .modal-body
                .container
                  .row
                    .col-lg-6
                      img.lazy(data-src="img/modal-opti.png")
                    .col-lg-6 
                      h2 Marketing 
                        span Solutions
                      p.main-text We know how to improve your sales results by optimizing your advertising campaigns. Real Time data and analytics will follow a data driven approach to best ROI
                section(data-src="../img/market-modal.png").modal-section.bottom.lazy
                  .container
                    .color-block
                      .row
                        .col-lg-6
                          p.small
                            span If you have any questions or need an advice on marketing solutions,  
                            br
                            br
                            | call us at the numbers listed on the site or send a message – our specialists will answer you online.
                        .col-lg-6
                          p.red Optimization 
                            br.d-none.d-lg-block
                            span and Consulting
                          a.button.red(href="#form" data-toggle="modal" data-target="#form") START TODAY

      footer.footer
        .container
          .footer-nav
            .row
              .col-md-6
                ul
                  li
                    img.lazy(data-src="img/israel-flag.png")
                    a(href="tel:+972 3375 11 34") +972 3375 11 34
                  li
                    img.lazy(data-src="img/usa-flag.png")
                    a(href="tel:+1 929 322 8811") +1 929 322 8811
                  li
                    img.lazy(data-src="img/uk-flag.png")
                    a(href="tel:+44 20 4577 1146") +44 20 4577 1146
                  li
                    img.lazy(data-src="img/ukraine-flag.png")
                    a(href="tel:+380 95 687 29 07") +380 95 687 29 07
              .col-md-2.offset-md-4
                ul
                  li.flexed
                    a(href="https://google.com" target="_blank")
                      img.lazy.pay-sys(data-src="img/swift.png")
                    a(href="https://google.com" target="_blank")
                      img.lazy.pay-sys(data-src="img/sepa.jpg")
                  li.flexed
                    a(href="https://google.com" target="_blank")
                      img.lazy.pay-sys(data-src="img/masterCard.jpg")
                    a(href="https://google.com" target="_blank")
                      img.lazy.pay-sys(data-src="img/visa.jpg")
                  li.flexed.btc-flexed
                    a(href="https://google.com" target="_blank")
                      img.lazy.pay-sys(data-src="img/btc.png")

          .footer-wrap
            .copy All rights received by Acalista.
            .social
              a(href="https://www.facebook.com/acalistagroup" target="blank")
                .icon
                  img(src="img/facebook_logo.png", alt="facebook")
              a(href="https://www.instagram.com/acalista.group/" target="blank")
                .icon
                  img(src="img/instagram-brands.png", alt="instagram")
              a(href="https://www.linkedin.com/company/acalista-group/" target="blank")
                .icon
                  img(src="img/linkedin_logo.png", alt="linkedIn")
              a(href="https://twitter.com/AcalistaGroup" target="blank")
                .icon
                  img(src="img/twitter-brands.png", alt="linkedIn")
            .mail
              a(href="mailto:info@acalista.com") info@acalista.com
      script(src="js/jquery.min.js")
      script(src="js/bootstrap.min.js")
      script(src="js/lazy-load.js")
      script(src="js/aos.js")
      script(src="js/three.min.js")
      script(src="js/OrbitControls.js")
      script(src="js/Tween.js")
      script(src="//unpkg.com/three-spritetext")
      script(src="js/cube5.js")
      script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
      script(src="js/script.js")