<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
        title Bienes raíces
        link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
        link(rel="stylesheet preload", as="style" href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/aos.css")
        link(rel="stylesheet preload", as="style" href="css/main.css")
        link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
    body
      header.header
        .container
          .header-wrap
            .logo
              a(href="index-es.html")
                img(src="img/logo.svg", alt="logo")
            ul.header-menu.collapse#navbar
              li
                a(href="index-es.html")
                  .text Sobre nosotros
                  .line
                  .number 00
              li
                a(href="consulting-es.html")
                  .text Consultoría
                  .line
                  .number 01
              li
                a(href="marketing-es.html")
                  .text Marketing
                  .line
                  .number 02
              li
                a(href="development-es.html")
                  .text Desarrollo web
                  .line
                  .number 03
              li
                a(href="cryptocurrency-es.html")
                  .text Criptomoneda
                  .line
                  .number 04
              li
                a(href="legal-es.html")
                  .text Servicios jurídicos
                  .line
                  .number 05
              li
                a.active(href="realestate-es.html")
                  .text Bienes raíces
                  .line
                  .number 06
            .langs
              .current
                span
                  img(src="/img/es.png")
                .arrow
              .list
                a(href="./realestate.html")
                  img(src="/img/en.png")
                a(href="./realestate-ru.html")
                  img(src="/img/ru.png")
                a(href="./realestate-ar.html")
                  img(src="/img/ar.png")
            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation")
              span(class="line line-1")
              span(class="line line-2")
              span(class="line line-3")
      main
        section.main-section.real
          .container
            .row
              .col-lg-6
                h1.title
                  span(data-aos="fade" data-aos-delay="100") 06
                  span.text-animate.real
                    span B
                    span i
                    span e
                    span n
                    span e
                    span s
                    br
                    span r
                    span a
                    span í
                    span c
                    span e
                    span s
                .sub-title
                  .arrow(data-aos="fade-right" data-aos-delay="1000")
                    img(src="img/violet_arrow.png", alt="arrow")
                  .text(data-aos="fade-left" data-aos-delay="1000") Apoyo legal profesional en la obtención de un permiso de residencia en varias jurisdicciones. Asistencia en la obtención de préstamos hipotecarios en bancos extranjeros. Asesoramiento en inversión inmobiliaria.
                a.video-link(href="index.html")
                  .text Mira nuestro 
                    br
                    | video
                  .link-img
                    img(src="img/play_button.png", alt="play")
              .col-lg-6
                //- a.cube-link.real.cube-link-1(href="#real-1") Obtaining a Residence 
                //-   br.d-block.d-sm-none
                //-   | Permit
                //- a.cube-link.real.cube-link-2(href="#real-4") Jurisdictions
                //- a.cube-link.real.cube-link-3(href="#real-7") Fiduciary management
                //- a.button.red.cube-button(href="#form" data-toggle="modal" data-target="#form") START TODAY
                #cube(data-lang="es")
        section#real-1.section.real-1.lazy(data-src="../img/real-1.png")
          .container
            .row
              .col-xl-6
                h2
                  span Obtener un permiso de residencia
                  br.d-none.d-lg-block
                  | en Europa
                p
                  strong La respuesta a la pregunta "¿Dónde puedo obtener un permiso de residencia más fácilmente?" 
                  | depende de múltiples factores: gastos, tiempo empleado, confianza de las autoridades, condiciones de obtención, ingresos por inversiones y perspectivas de obtener una segunda nacionalidad. También es importante el nivel de vida en el país y si es fácil adaptarse a él.
                p Hay formas absolutamente legales, asequibles, y económicas en algunos países de obtener un permiso de residencia en Europa. Depende de cada uno decidir dónde es más fácil y económico el procedimiento, en función de los objetivos y recursos individuales. 
                  | Los países que ofrecen la posibilidad de obtener un permiso de residencia por inversiones inmobiliarias son una opción en la que todos salen ganando.
                p También vale la pena recordar que, 
                  span debido a la facilidad de movimiento dentro de Europa, la obtención de un permiso de residencia en el Espacio Schengen 
                  strong es la mejor opción.
        section.section.real-2
          .container
            .row
              .col-xl-6
                img.lazy.left-img(data-src="img/real-2.png")
                p Muchas personas desean saber cómo obtener un permiso de residencia en Europa. Hay muchas razones para ello:
                ul.left
                  li traslado de la empresa a una zona económica estable;
                  li obtención de préstamos a bajas tasas de interés;
                  li abrir cuentas en bancos de confianza;
                  li garantía de seguridad de los bienes personales;
                  li la posibilidad de desplazarse por Europa sin necesidad de visados;
                  li la disponibilidad de servicios médicos de alta calidad;
                  li la posibilidad de brindar educación a los hijos en las mejores universidades.
              .col-xl-6
                h2
                  span Ventajas de un permiso  
                    br.d-none.d-lg-block
                    | de residencia 
                  | en Europa
                p.left Para algunos, sin embargo, es aún más: perciben la obtención de un permiso de residencia en la Unión Europea como el primer paso para obtener la residencia permanente y la ciudadanía europea.
                p.left.list-title Algunas de las posibles jurisdicciones:
                .list-wrapper
                  ul.nav.right
                    li.nav-item
                      a(href="#map1" data-toggle="tab").active Bulgaria
                    li.nav-item
                      a(href="#map2" data-toggle="tab") Hungría
                    li.nav-item
                      a(href="#map3" data-toggle="tab") España
                    li.nav-item
                      a(href="#map4" data-toggle="tab") Chipre
                    li.nav-item
                      a(href="#map5" data-toggle="tab") Letonia
                    li.nav-item
                      a(href="#map6" data-toggle="tab") Portugal
                  .images
                    img(src="img/map-bulgaria.png").fade.tab-pane.show.active#map1
                    img(src="img/map-hungary.png").fade.tab-pane#map2
                    img(src="img/map-spain.png").fade.tab-pane#map3
                    img(src="img/map-cyprus.png").fade.tab-pane#map4
                    img(src="img/map-latvia.png").fade.tab-pane#map5
                    img(src="img/map-portugal.png").fade.tab-pane#map6
        section.section.real-3.lazy(data-src="../img/real-3.png")
          .container
            h2.text-center
              span ¿Por qué invertir en 
              | el sector inmobiliario?
            .row
              .col-lg-5
                .nav
                  a(href="#modcontent1" data-toggle="tab").nav-item.active Alta rentabilidad
                  a(href="#modcontent2" data-toggle="tab").nav-item Preservación del valor
                  a(href="#modcontent3" data-toggle="tab").nav-item Baja volatilidad
                  a(href="#modcontent4" data-toggle="tab").nav-item Optimización del impuesto sobre la renta
                  a(href="#modcontent5" data-toggle="tab").nav-item Protección contra la inflación
                  a(href="#modcontent6" data-toggle="tab").nav-item Posibilidad de aumento de precios
                  a(href="#modcontent7" data-toggle="tab").nav-item Flujos de efectivo
                  a(href="#modcontent8" data-toggle="tab").nav-item Uso del apalancamiento
              .col-lg-7
                .tab-pane.fade.show.active#modcontent1
                  p El rendimiento del sector inmobiliario es superior al de otros instrumentos financieros (bonos del Estado y corporativos y depósitos). Además, el rendimiento del sector inmobiliario puede ser comparable o incluso superior al de las acciones
                .tab-pane.fade#modcontent2
                  p Las acciones y los bonos pueden perder completamente su valor. En el caso del ector inmobiliario, esto sólo puede ocurrir si el edificio ha sido completamente destruido o el lugar resulta inhabitable.
                .tab-pane.fade#modcontent3
                  p La volatilidad es un indicador que caracteriza la mutabilidad del precio. La volatilidad del sector inmobiliario es menor que la de otros instrumentos financieros porque las transacciones inmobiliarias se realizan en el mercado privado y son menos líquidas.
                .tab-pane.fade#modcontent4
                  p Los ingresos procedentes de bonos y acciones están totalmente sujetos al impuesto sobre la renta. El sector inmobiliario permite deducir la depreciación de la base imponible, mientras que el valor de mercado del objeto inmobiliario no cambia.
                .tab-pane.fade#modcontent5
                  p Normalmente, el sector inmobiliario sigue a la inflación. Los contratos de arrendamiento estándar prevén una indización anual, que puede expresarse como un porcentaje fijo o igual al índice de precios al consumidor. En el caso de la venta de apartamentos, el precio, con una demanda estable, crece con la inflación.
                .tab-pane.fade#modcontent6
                  p La inversión en el sector inmobiliario tiene un potencial de crecimiento del valor a través de posibles mejoras (por ejemplo, renovación, nueva construcción u optimización de la gestión). El valor de los inmuebles cambia durante los ciclos del mercado. Por lo tanto, el momento de la venta es un aspecto clave de la maximización del valor para un inversor.
                .tab-pane.fade#modcontent7
                  p Las inversiones en el sector inmobiliario comercial suelen implicar flujos de efectivo estables en forma de arrendamientos que se distribuyen a través de los dividendos de forma mensual, trimestral o anual.
                .tab-pane.fade#modcontent8
                  p Si los préstamos bancarios se utilizaron para comprar el objeto inmobiliario, los ingresos por alquileres se utilizarán como pagos de la deuda. Esto reducirá la carga de la deuda y, por tanto, aumentará el capital propio que el inversor declara en el momento de la venta del objeto inmobiliario. Si el importe del préstamo es inferior al capital propio, el inversor podrá ganar algo de dinero gracias a la diferencia entre el coste del capital propio y el de la deuda.
        section#real-4.section.real-4
          div(data-src="../img/real-map.png").tab-content.lazy
            .container
              h2.text-center Algunas de las posibles 
                span jurisdicciones:
              .country.britain.ru
                .wrapper
                  .dot
                  .text Gran Bretaña
                  .image
                    img(src="../img/map-uk.png", alt="Gran Bretaña")
                  .line
                  .description Estamos especializados en la venta de inmuebles comerciales, de inversión y residenciales en todo el Reino Unido, así como en su posterior mantenimiento.
                    br
                    | Le ayudamos a aumentar sus beneficios obteniendo los préstamos hipotecarios de los bancos del Reino Unido, diversificando los portafolios de inversión y seleccionando los inmuebles más líquidos.
              .country.usa
                .wrapper
                  .dot
                  .text Estados Unidos
                  .image
                    img(src="../img/map-usa.png", alt="Estados Unidos")
                  .line
                  .description Hasta la fecha, hemos proporcionado a nuestros clientes cientos de viviendas.
                    br
                    | Suministramos a nuestros clientes préstamos hipotecarios en bancos estadounidenses.
                    br
                    | En EE.UU. existe un producto bancario especial — el préstamo hipotecario para extranjeros, cuyas condiciones varían de una organización a otra. Por lo general, el importe mínimo del préstamo es de 100.000 dólares, el pago inicial mínimo es a partir del 30% (dependiendo del tipo de inmueble) y el tipo de interés es a partir del 5% anual (dependiendo del plazo del préstamo y del pago inicial). El plazo del préstamo es de hasta 30 años.
              .country.canada
                .wrapper
                  .dot
                  .text Canadá
                  .image
                    img(src="../img/map-canada.png", alt="Canadá")
              .country.portugal
                .wrapper
                  .dot
                  .text Portugal
                  .image
                    img(src="../img/map-portugal-small.png", alt="Portugal")
                  .line
                  .description La adquisición de inmuebles en Portugal puede ser una excelente opción por las siguientes razones:
                    br
                    | Precios bajos. La propiedad local es más rentable que en muchos países europeos.
                    br
                    | Calidad de vida. Lisboa está en las listas de las mejores capitales europeas en cuanto a residencia e inmigración.
                    br
                    | Confianza hacia los extranjeros. La actitud de los portugueses hacia los extranjeros es muy amistosa, con una ley liberal de inmigración en vigor.
                    br
                    | Posibilidad de obtener un préstamo. Las autoridades portuguesas ofrecen a los extranjeros hipotecas con un paquete mínimo de documentos requeridos.
              .country.spain
                .wrapper
                  .dot
                  .text España
                  .image
                    img(src="../img/map-spain-small.png", alt="España")
              .country.germany
                .wrapper
                  .dot
                  .text Alemania
                  .image
                    img(src="../img/map-germany.png", alt="Alemania")
                  .line
                  .description La compra de inmuebles en Alemania ofrece una serie de ventajas: 
                    br
                    | Ingresos estables en una moneda fiable —  el euro. Se trata de una inversión de gran valor, adecuada para quienes residen en Rusia y desean crear un "airbag" estable en euros.
                    br
                    | A los propietarios extranjeros de propiedades alemanas se les concede un visado Schengen con derecho a permanecer en la UE. Dentro de este periodo, pueden viajar por Europa o vivir en su país de origen, sin restricciones en caso de inmigración.
                    br
                    | La posibilidad de obtener financiación de los bancos alemanes para comprar más objetos inmobiliarios a bajas tasas de interés.
                    br
                    | La posibilidad de obtener un permiso de residencia depende del importe de la inversión y se aplica más a los inmuebles comerciales en Alemania, la inmigración empresarial es una opción popular en el país.
              .country.israel
                .wrapper
                  .dot
                  .text Israel
                  .image
                    img(src="../img/map-israel.png", alt="Israel")
                  .line
                  .description Los extranjeros adinerados prefieren invertir en inmuebles en lugares emblemáticos y simbólicos, por ejemplo, cerca de las murallas de la Vieja Ciudad de Jerusalén o en la costa de Tel Aviv. Además, existe un considerable interés general por las viviendas situadas en las afueras de las ciudades.
                    br
                    | En particular, los inversores que quieren comprar casas junto al mar suelen elegir no la costosa ciudad de Tel Aviv, sino otras ciudades de la costa mediterránea, como Netanya o Ashdod, donde los precios son relativamente más bajos.
                    br
                    | Las bajas tasas de interés han contribuido a aumentar la demanda entre los inversores, los compradores particulares, las parejas jóvenes y, en general, todos los que quieren mudarse a casas mejores, por lo que es de esperar un mayor aumento de la demanda y, en consecuencia, de los precios.
              .country.cyprus
                .wrapper
                  .dot
                  .text Chipre
                  .image
                    img(src="../img/map-cyprus-small.png", alt="Chipre")
                  .line
                  .description Entre los potenciales inversores que deseab obtener una segunda ciudadanía o un permiso de residencia mediante la compra de un inmueble, Chipre se encuentra ahora a la cabeza. ¿Por qué? Porque Chipre forma parte de la Unión Europea. Por ejemplo, si usted compra un inmueble en Turquía o Montenegro, obtendrá casi inmediatamente un permiso de residencia de un año para toda la familia. En Chipre, se aplican las mismas condiciones en el caso de comprar cualquier propiedad que cueste 300 mil euros o más. Pero se trata de un permiso de residencia en un país de la Unión Europea, y con él se puede viajar por toda Europa sin visados. Hay grandes oportunidades. Y si recibe la residencia permanente en Chipre, le esperan aún más oportunidades. Y si tiene la residencia permanente de por vida, sólo tendrá que visitar Chipre una vez cada dos años. Es decir, la isla no le impone ninguna condición.
              .country.thailand
                .wrapper
                  .dot
                  .text Tailandia
                  .image
                    img(src="../img/map-thailand.png", alt="Tailandia")
                  .line
                  .description El mercado inmobiliario de Tailandia es uno de los más activos de todo el Sudeste Asiático, y los expertos prevén el mayor crecimiento en el sector del lujo. Este es el nicho más libre y demandado, por lo que se espera que aparezcan nuevos objetos inmobiliarios curiosos y un aumento en la rentabilidad.
              .country.montenegro
                .wrapper
                  .dot
                  .text Montenegro
                  .image
                    img(src="../img/map-montenegro.png", alt="Montenegro")
                  .line
                  .description Montenegro es un país muy "compacto" con ciudades tan bonitas como Budva, Bar y Kotor. Es conveniente vivir aquí ya que está situado en el centro de Europa. Los precios de los inmuebles en Montenegro comienzan a partir de 1600 euros por metro cuadrado. Un apartamento de unos 50-60 metros cuadrados puede costar desde 75 mil euros. Naturalmente, no estamos hablando de complejos lujosos como en Tailandia o Turquía, pero este apartamento estará situado a 800 metros de la costa, y todas las actividades de Budva estarán allí mismo para usted, a poca distancia.
              .country.czech
                .wrapper
                  .dot
                  .text República Checa
                  .image
                    img(src="../img/map-czech.png", alt="Czech Republic")
                  .line
                  .description La República Checa es un lugar excepcionalmente conveniente y cómodo para cualquier forma de estancia a largo plazo, ya sea residencia permanente, recreación, negocios o estudios. La República Checa es un país típicamente europeo con un clima suave y una naturaleza diversa, un sistema político, económico y jurídico estable, centros turísticos de fama mundial, abundantes oportunidades para las vacaciones de verano e invierno, la mejor cerveza del mundo y una rica historia. La República Checa es un país tecnológicamente avanzado y tiene una de las tasas de crecimiento económico más altas de Europa. La República Checa tiene una ubicación privilegiada en el centro de Europa, a 2-4 horas en coche desde su capital, Praga, hasta Viena, Berlín o Múnich.
              .country.hungary
                .wrapper
                  .dot
                  .text Hungría
                  .image
                    img(src="../img/map-hungary-small.png", alt="Hungría")
              .country.greece
                .wrapper
                  .dot
                  .text Grecia
                  .image
                    img(src="../img/map-greece.png", alt="Grecia")
              .country.italy
                .wrapper
                  .dot
                  .text Italia
                  .image
                    img(src="../img/map-italy.png", alt="Italia")
              .country.latvia
                .wrapper
                  .dot
                  .text Letonia
                  .image
                    img(src="../img/map-latvia-small.png", alt="Latvia")
              .country.uae
                .wrapper
                  .dot
                  .text Emiratos Árabes Unidos
                  .image
                    img(src="../img/map-uae.png", alt="UAE")
              .country.turkey
                .wrapper
                  .dot
                  .text Turquía
                  .image
                    img(src="../img/map-Turkey.png", alt="turkey")
              .d-block.d-xl-none
                .row
                  .col-md-6.col-lg-4
                    .country-wrapper
                      .title
                        .dot
                        | Gran Bretaña
                      .text
                        p Estamos especializados en la venta de inmuebles comerciales, de inversión y residenciales en todo el Reino Unido, así como en su posterior mantenimiento.
                        p Le ayudamos a aumentar sus beneficios obteniendo los préstamos hipotecarios de los bancos del Reino Unido, diversificando los portafolios de inversión y seleccionando los inmuebles más líquidos.
                  .col-md-6.col-lg-4
                    .country-wrapper
                      .title
                        .dot
                        | Tailandia
                      .text
                        p El mercado inmobiliario de Tailandia es uno de los más activos de todo el Sudeste Asiático, y los expertos prevén el mayor crecimiento en el sector del lujo. Este es el nicho más libre y demandado, por lo que se espera que aparezcan nuevos objetos inmobiliarios curiosos y un aumento en la rentabilidad.
                  .col-md-6.col-lg-4
                    .country-wrapper
                      .title
                        .dot
                        | Montenegro
                      .text
                        p Черногория – это небольшая страна с такими красивыми городами, как Будва, Бар и Котор. Здесь удобно жить, так как страна расположена в центре Европы. Цены на недвижимость в Черногории начинаются от 1600 евро за квадратный метр. Квартира площадью около 50-60 квадратных метров может стоить от 75 тысяч евро. Естественно, речь не идёт о шикарных комплексах, как в Таиланде или Турции, но эта квартира будет находиться в 800 метрах от побережья и все развлечения Будвы будут в пешей доступности!
                  .col-md-6.col-lg-4
                    .country-wrapper
                      .title
                        .dot
                        | Alemania
                      .text
                        p La compra de inmuebles en Alemania ofrece una serie de ventajas: 
                        p Ingresos estables en una moneda fiable —  el euro. Se trata de una inversión de gran valor, adecuada para quienes residen en Rusia y desean crear un "airbag" estable en euros.
                        p A los propietarios extranjeros de propiedades alemanas se les concede un visado Schengen con derecho a permanecer en la UE. Dentro de este periodo, pueden viajar por Europa o vivir en su país de origen, sin restricciones en caso de inmigración.
                        p La posibilidad de obtener financiación de los bancos alemanes para comprar más objetos inmobiliarios a bajas tasas de interés.
                        p La posibilidad de obtener un permiso de residencia depende del importe de la inversión y se aplica más a los inmuebles comerciales en Alemania, la inmigración empresarial es una opción popular en el país.
                  .col-md-6.col-lg-4
                    .country-wrapper
                      .title
                        .dot
                        | Israel
                      .text
                        p Los extranjeros adinerados prefieren invertir en inmuebles en lugares emblemáticos y simbólicos, por ejemplo, cerca de las murallas de la Vieja Ciudad de Jerusalén o en la costa de Tel Aviv. Además, existe un considerable interés general por las viviendas situadas en las afueras de las ciudades.
                        p En particular, los inversores que quieren comprar casas junto al mar suelen elegir no la costosa ciudad de Tel Aviv, sino otras ciudades de la costa mediterránea, como Netanya o Ashdod, donde los precios son relativamente más bajos.
                        p Las bajas tasas de interés han contribuido a aumentar la demanda entre los inversores, los compradores particulares, las parejas jóvenes y, en general, todos los que quieren mudarse a casas mejores, por lo que es de esperar un mayor aumento de la demanda y, en consecuencia, de los precios.
                  .col-md-6.col-lg-4
                    .country-wrapper
                      .title
                        .dot
                        | Chipre
                      .text
                        p Entre los potenciales inversores que deseab obtener una segunda ciudadanía o un permiso de residencia mediante la compra de un inmueble, Chipre se encuentra ahora a la cabeza. ¿Por qué? Porque Chipre forma parte de la Unión Europea. Por ejemplo, si usted compra un inmueble en Turquía o Montenegro, obtendrá casi inmediatamente un permiso de residencia de un año para toda la familia. En Chipre, se aplican las mismas condiciones en el caso de comprar cualquier propiedad que cueste 300 mil euros o más. Pero se trata de un permiso de residencia en un país de la Unión Europea, y con él se puede viajar por toda Europa sin visados. Hay grandes oportunidades. Y si recibe la residencia permanente en Chipre, le esperan aún más oportunidades. Y si tiene la residencia permanente de por vida, sólo tendrá que visitar Chipre una vez cada dos años. Es decir, la isla no le impone ninguna condición.
                  .col-md-6.col-lg-4
                    .country-wrapper
                      .title
                        .dot
                        | Portugal
                      .text
                        p La adquisición de inmuebles en Portugal puede ser una excelente opción por las siguientes razones:
                        p Precios bajos. La propiedad local es más rentable que en muchos países europeos.
                        p Calidad de vida. Lisboa está en las listas de las mejores capitales europeas en cuanto a residencia e inmigración.
                        p Confianza hacia los extranjeros. La actitud de los portugueses hacia los extranjeros es muy amistosa, con una ley liberal de inmigración en vigor.
                        p Posibilidad de obtener un préstamo. Las autoridades portuguesas ofrecen a los extranjeros hipotecas con un paquete mínimo de documentos requeridos.
                  .col-md-6.col-lg-4
                    .country-wrapper
                      .title
                        .dot
                        | Estados Unidos
                      .text
                        p Hasta la fecha, hemos proporcionado a nuestros clientes cientos de viviendas.
                        p Suministramos a nuestros clientes préstamos hipotecarios en bancos estadounidenses.
                        p En EE.UU. existe un producto bancario especial — el préstamo hipotecario para extranjeros, cuyas condiciones varían de una organización a otra. Por lo general, el importe mínimo del préstamo es de 100.000 dólares, el pago inicial mínimo es a partir del 30% (dependiendo del tipo de inmueble) y el tipo de interés es a partir del 5% anual (dependiendo del plazo del préstamo y del pago inicial). El plazo del préstamo es de hasta 30 años.
                  .col-md-6.col-lg-4
                    .country-wrapper
                      .title
                        .dot
                        | República Checa
                      .text
                        p La República Checa es un lugar excepcionalmente conveniente y cómodo para cualquier forma de estancia a largo plazo, ya sea residencia permanente, recreación, negocios o estudios. La República Checa es un país típicamente europeo con un clima suave y una naturaleza diversa, un sistema político, económico y jurídico estable, centros turísticos de fama mundial, abundantes oportunidades para las vacaciones de verano e invierno, la mejor cerveza del mundo y una rica historia. La República Checa es un país tecnológicamente avanzado y tiene una de las tasas de crecimiento económico más altas de Europa. La República Checa tiene una ubicación privilegiada en el centro de Europa, a 2-4 horas en coche desde su capital, Praga, hasta Viena, Berlín o Múnich.
        section.section.real-5.lazy(data-src="../img/real-5.png")
          .container
            .row
              .col-xl-5.offset-xl-7
                h2
                  span Inmobiliario 
                  br
                  | comercial
                p.sub-title
                  strong Los objetos inmobiliarios comerciales 
                  | son locales, edificios, estructuras y terrenos destinados a generar un beneficio mediante el alquiler o la realización de actividades comerciales directamente organizadas por el propietario. Un objeto inmobiliario comercial puede ser propiedad de una persona jurídica o de una particular. La rentabilidad de los inmuebles comerciales es el principal criterio de su evaluación.
                ul
                  li
                    p 
                      strong Inmuebles comerciales para el comercio minorista. 
                    p Centros comerciales y de ocio, tiendas, farmacias, concesionarios de automóviles. Es decir, todo lo que está asociado a la venta al por menor.
                  li
                    p 
                      strong Inmuebles industriales.
                    p A este grupo pertenecen las áreas de producción de plantas y empresas, así como almacenes.
                  li
                    p 
                      strong Inmuebles comerciales de oficina.
                    p Inmuebles comerciales de oficina. Es el tipo de inmueble más demandado en la actualidad: el mercado está evolucionando y aparecen nuevas empresas, por lo que una oficina personal es una necesidad, siendo el alquiler de oficinas una forma habitual de relación. La gran demanda de este tipo de inmuebles afecta a su precio.
        section.section.real-6
          .container
            h2.text-center
              span ¿Cómo se pueden utilizar los 
              | inmuebles comerciales?
            p.sub-title.text-center Los inmuebles comerciales se utilizan para obtener beneficios. Para ello, los inmuebles pueden ser:
            .row
              .col-lg-4
                .item
                  .icon
                    img(src="../img/real-5-1.png")
                  .title.text-center.left Organizados para su propia empresa 
                    br.d-none.d-lg-block
                    | propia empresa
                  .text Por empresa se entiende no sólo la producción de bienes, sino también cualquier otro tipo de negocio. Esta opción es adecuada para los propietarios que tienen un plan de negocio bien pensado y el deseo de llevar a cabo amplias actividades empresariales. Los locales propios ayudan a ahorrar fondos y a canalizarlos hacia el desarrollo empresarial.
              .col-lg-4
                .item
                  .icon
                    img(src="../img/real-5-2.png")
                  .title.text-center Alquilar
                  .text Si es propietario de un local comercial, puede alquilarlo a otros empresarios y recibir ingresos pasivos. Después de pagar los impuestos por el alquiler de su inmueble, obtendrá un beneficio neto sin necesidad de invertir más capital o mano de obra. Puede compensar el desgaste del local a costa del arrendatario especificando esta condición en el contrato.
              .col-lg-4
                .item
                  .icon
                    img(src="../img/real-5-3.png")
                  .title.text-center Reventa
                  .text Si compra un inmueble en mal estado, por ejemplo, sin reparar, puede mejorarlo y revenderlo a un precio más favorable.
            p.bottom En algunos casos, es desaconsejable gestionar objetos de tipo comercial por su cuenta, por ejemplo, si el propietario no tiene las habilidades, la información o el tiempo necesario para aumentar la rentabilidad de su inversión, puede firmar un contrato con una empresa que preste servicios de intermediación inmobiliaria comercial. En el curso de la transacción, el propietario transfiere la propiedad a terceros que harán todo lo posible por aumentar la rentabilidad del objeto inmobiliario.
        section#real-7.section.real-7.lazy(data-src="../img/real-7.png")
          .container
            .col-lg-7
              h2
                span Gestión fiduciaria
              p Si compra un inmueble en otro país, se enfrentará a una serie de nuevas tareas relacionadas con el mantenimiento o el servicio del apartamento o la casa adquirida después de la compra.
                br.d-none.d-lg-block
                strong La empresa Acalista ofrece  
                | a sus clientes los servicios de gestión fiduciaria de los inmuebles adquiridos.
              ul
                li No seremos sólo un intermediario en la búsqueda de arrendatarios — sino que representaremos sus intereses en todos los asuntos jurídicos, financieros y económicos para que su inmueble esté en perfecto estado técnico y le traiga beneficios.
                li Celebraremos contratos en su nombre con las compañías de servicios (electricidad, gas, agua y alcantarillado, calefacción).
                li La selección de los arrendatarios debe realizarse con cuidado, ya que es esencial que el arrendatario no sólo pague todas las facturas y el alquiler a tiempo, sino que además no estropee o dañe la propiedad.
                li Ayudamos al propietario del apartamento a elegir la forma más conveniente y óptima para pagar el alquiler. Hacemos un seguimiento constante del arrendatario a largo plazo.
                li Si hay algún defecto o mal funcionamiento técnico, resolveremos esos problemas.
                li Si es necesario, le registraremos como contribuyente por el alquiler de la vivienda, prepararemos una declaración de impuestos y le ayudaremos a pagar este impuesto correctamente.
                li Resolveremos cualquier asunto legal y litigio, si lo hubiera.
                li Aseguraremos su propiedad en caso de daños imprevistos o de fuerza mayor.
        .modal.form.legal.fade(id="form" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title Contáctenos
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-form.png" alt="close")
              .modal-body
                .main-info
                  .container
                    form
                      .form-group
                        input#name.form-control(type='text' required placeholder='Nombre de la persona *')
                      .form-group
                        input#email.form-control(type='email' required placeholder='Correo electrónico *')
                      .form-group
                        input#phone.form-control(type='tel' required placeholder='Teléfono *')
                      .form-group
                        textarea#msg.form-control(type='text' cols="30", rows="5" placeholder='Mensaje ')
                      .response-message
                      button(type="submit" id="contactSubmit") Enviar una solicitud



      footer.footer
        .container
          .footer-nav
            .row
              .col-md-6
                ul
                  li
                    img.lazy(data-src="img/israel-flag.png")
                    a(href="tel:+972 3375 11 34") +972 3375 11 34
                  li
                    img.lazy(data-src="img/usa-flag.png")
                    a(href="tel:+1 929 322 8811") +1 929 322 8811
                  li
                    img.lazy(data-src="img/uk-flag.png")
                    a(href="tel:+44 20 4577 1146") +44 20 4577 1146
                  li
                    img.lazy(data-src="img/ukraine-flag.png")
                    a(href="tel:+380 95 687 29 07") +380 95 687 29 07
              .col-md-2.offset-md-4
                ul
                  li.flexed
                    a(href="https://google.com" target="_blank")
                      img.lazy.pay-sys(data-src="img/swift.png")
                    a(href="https://google.com" target="_blank")
                      img.lazy.pay-sys(data-src="img/sepa.png")
                  li.flexed
                    a(href="https://google.com" target="_blank")
                      img.lazy.pay-sys(data-src="img/bitcoin.png")
                    a(href="https://google.com" target="_blank")
                      img.lazy.pay-sys(data-src="img/visa.png")
                  li.flexed
                    a(href="https://google.com" target="_blank")
                      img.lazy.pay-sys(data-src="img/masterCard.png")
          .footer-wrap
            .copy Todos los derechos reservados por Acalista.
            .social
              a(href="https://www.facebook.com/acalistagroup" target="blank")
                .icon
                  img(src="img/facebook_logo.png", alt="facebook")
              a(href="https://www.instagram.com/acalista.group/" target="blank")
                .icon
                  img(src="img/instagram-brands.png", alt="instagram")
              a(href="https://www.linkedin.com/company/acalista-group/" target="blank")
                .icon
                  img(src="img/linkedin_logo.png", alt="linkedIn")
              a(href="https://twitter.com/AcalistaGroup" target="blank")
                .icon
                  img(src="img/twitter-brands.png", alt="linkedIn")
            .mail
              a(href="mailto:info@acalista.com") info@acalista.com
      script(src="js/jquery.min.js")
      script(src="js/bootstrap.min.js")
      script(src="js/lazy-load.js")
      script(src="js/aos.js")
      script(src="js/three.min.js")
      script(src="js/OrbitControls.js")
      script(src="js/Tween.js")
      script(src="//unpkg.com/three-spritetext")
      script(src="js/cube2.js")
      script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
      script(src="js/script.js")