<!DOCTYPE html>
html(lang="ar", dir="rtl")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
        title العقارات
        link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
        link(rel="stylesheet preload", as="style" href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/aos.css")
        link(rel="stylesheet preload", as="style" href="css/main.css")
        link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
        link(rel="stylesheet preload", as="style" href="css/rtl.css")
        // Global site tag (gtag.js) - Google Analytics
        script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-D7LD1MNX20')
        script.
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'G-D7LD1MNX20');
        // Facebook Pixel Code
        script.
          !function(f,b,e,v,n,t,s)
          {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
          if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
          n.queue=[];t=b.createElement(e);t.async=!0;
          t.src=v;s=b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t,s)}(window, document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
          fbq('init', '1140481073119068');
          fbq('track', 'PageView');
        noscript
          img(height='1' width='1' style='display:none' src='https://www.facebook.com/tr?id=1140481073119068&ev=PageView&noscript=1')
        // End Facebook Pixel Code
    body.rtl
      header.header
        .container
          .header-wrap
            .logo
              a(href="index-ar.html")
                img(src="img/logo.svg", alt="logo")
            ul.header-menu.collapse#navbar
              li
                a(href="index-ar.html")
                  .text معلومات عنا
                  .line
                  .number 00
              li
                a(href="consulting-ar.html")
                  .text الاستشارة
                  .line
                  .number 01
              li
                a(href="marketing-ar.html")
                  .text التسويق
                  .line
                  .number 02
              li
                a(href="development-ar.html")
                  .text التطوير
                  .line
                  .number 03
              li
                a(href="cryptocurrency-ar.html")
                  .text عملة مشفرة
                  .line
                  .number 04
              li
                a(href="legal-ar.html")
                  .text خدمات قانونية
                  .line
                  .number 05
              li
                a.active(href="realestate-ar.html")
                  .text العقارات
                  .line
                  .number 06
            .langs
              .current
                span
                  img(src="/img/ar.png")
                .arrow
              .list
                a(href="./realestate.html")
                  img(src="/img/en.png")
                a(href="./realestate-ru.html")
                  img(src="/img/ru.png")
                a(href="./realestate-es.html")
                  img(src="/img/es.png")
            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation")
              span(class="line line-1")
              span(class="line line-2")
              span(class="line line-3")
      main
        section.main-section.real
          .container
            .row
              .col-lg-6
                h1.title
                  span(data-aos="fade" data-aos-delay="100") 06
                  span.text-animate.real العقارات
                    //- span R
                    //- span e
                    //- span a
                    //- span l
                    //- span &nbsp;
                    //- span e
                    //- span s
                    //- span t
                    //- span a
                    //- span t
                    //- span e
                .sub-title
                  .arrow(data-aos="fade-right" data-aos-delay="1000")
                    img(src="img/violet_arrow.png", alt="arrow")
                  .text(data-aos="fade-left" data-aos-delay="1000") الدعم القانوني المهني في الحصول على تصريح الإقامة في مختلف الولايات القضائية. المساعدة في الحصول على قروض الرهن العقاري في البنوك الأجنبية. استشارات حول الاستثمار في العقارات.
                a.video-link(href="index.html")
                  .text مشاهدة المقدمة الخاصة بنا
                  .link-img
                    img(src="img/play_button.png", alt="play")
              .col-lg-6
                //- a.cube-link.real.cube-link-1(href="#real-1") Obtaining a Residence 
                //-   br.d-block.d-sm-none
                //-   | Permit
                //- a.cube-link.real.cube-link-2(href="#real-4") Jurisdictions
                //- a.cube-link.real.cube-link-3(href="#real-7") Fiduciary management
                //- a.button.red.cube-button(href="#form" data-toggle="modal" data-target="#form") START TODAY
                #cube(data-lang="ar")
        section#real-1.section.real-1.lazy(data-src="../img/rtl/real-1.png")
          .container
            .row
              .col-xl-6
                h2
                  span الحصول على تصريح الإقامة
                  br.d-none.d-lg-block
                  | في أوروبا
                p الجواب على السؤال "أين يمكنني الحصول على تصريح إقامة بسهولة؟" يعتمد على عوامل متعددة: النفقات، والوقت الذي تقضيه، وثقة السلطات، والشروط للحصول على الدخل، والدخل من الاستثمارات، واحتمالات الحصول على جنسية ثانية. مستوى المعيشة في البلد أمر مهم أيضا وكذلك ما إذا كان من السهل التكيف في هذا البلد.
                p هناك طرق قانونية للغاية وبأسعار معقولة وفي بعض البلدان رخيصة للحصول على تصريح إقامة في أوروبا. الأمر متروك لكل فرد يقرر المكان الذي يجعل الإجراء أسهل وأرخص، اعتمادا على الأهداف والموارد الفردية. البلدان التي تقدم الحصول على تصريح إقامة للاستثمارات العقارية هي خيار مربح للجانبين.
                p الأمر يستحق أيضا أن نتذكر ذلك، بسبب الحركة السهلة داخل أوروبا، فان الحصول على تصريح إقامة في منطقة شنغن هو الخيار الأفضل.
        section.section.real-2
          .container
            .row
              .col-xl-6
                img.lazy.left-img(data-src="img/real-2.png")
                p كثير من الناس يرغبون في معرفة كيفية الحصول على تصريح إقامة في أوروبا. هنالك أسباب كثيرة لهذا:
                ul.left
                  li نقل الأعمال إلى منطقة اقتصادية مستقرة؛
                  li الحصول على قروض عند انخفاض أسعار الفائدة؛
                  li فتح حسابات مع البنوك الموثوقة؛
                  li الأمن مضمون للأصول الشخصية؛
                  li القدرة على التحرك في جميع أنحاء أوروبا دون تأشيرات؛
                  li توافر الخدمات الطبية عالية الجودة؛
                  li فرصة لتزويد الأطفال بالتعليم في أفضل الجامعات.
              .col-xl-6
                h2
                  span فوائد الإقامة
                    br.d-none.d-lg-block
                    | تصريح في أوروبا
                p.left بالنسبة للبعض، الأمر أكثر من ذلك: إدراك الحصول على تصريح إقامة في الاتحاد الأوروبي كخطوة أولى للحصول على إقامة دائمة والجنسية الأوروبية.
                p.left.list-title بعض الولايات القضائية المحتملة:
                .list-wrapper
                  ul.nav.right
                    li.nav-item
                      a(href="#map1" data-toggle="tab").active بلغاريا
                    li.nav-item
                      a(href="#map2" data-toggle="tab") هنغاريا
                    li.nav-item
                      a(href="#map3" data-toggle="tab") إسبانيا
                    li.nav-item
                      a(href="#map4" data-toggle="tab") قبرص
                    li.nav-item
                      a(href="#map5" data-toggle="tab") لاتفيا
                    li.nav-item
                      a(href="#map6" data-toggle="tab") البرتغال
                  .images
                    img(src="img/map-bulgaria.png").fade.tab-pane.show.active#map1
                    img(src="img/map-hungary.png").fade.tab-pane#map2
                    img(src="img/map-spain.png").fade.tab-pane#map3
                    img(src="img/map-cyprus.png").fade.tab-pane#map4
                    img(src="img/map-latvia.png").fade.tab-pane#map5
                    img(src="img/map-portugal.png").fade.tab-pane#map6
        section.section.real-3.lazy(data-src="../img/rtl/real-3.png")
          .container
            h2.text-center
              span لماذا الاستثمار في العقارات؟
            .row
              .col-lg-5
                .nav
                  a(href="#modcontent1" data-toggle="tab").nav-item.active ربحية عالية
                  a(href="#modcontent2" data-toggle="tab").nav-item الحفاظ على القيمة
                  a(href="#modcontent3" data-toggle="tab").nav-item تقلب منخفض
                  a(href="#modcontent4" data-toggle="tab").nav-item تحسين ضريبة الدخل
                  a(href="#modcontent5" data-toggle="tab").nav-item الحماية ضد التضخم
                  a(href="#modcontent6" data-toggle="tab").nav-item إمكانية زيادة الأسعار
                  a(href="#modcontent7" data-toggle="tab").nav-item تدفقات نقدية
                  a(href="#modcontent8" data-toggle="tab").nav-item استخدام الرافعة المالية
              .col-lg-7
                .tab-pane.fade.show.active#modcontent1
                  p العائد العقاري أعلى من الأدوات المالية الأخرى (الحكومات والسندات والودائع المؤسسية). بالإضافة إلى ذلك، قد تكون عائدات العقارات قابلة للمقارنة أو حتى أعلى من الأسهم
                .tab-pane.fade#modcontent2
                  p قد تفقد الأسهم والسندات قيمتها تماما. مع العقارات، يمكن أن يحدث هذا فقط إذا تم تدمير المبنى بالكامل أو أن الموقع يصبح غير صالح للسكن.
                .tab-pane.fade#modcontent3
                  p التقلب هو مؤشر يميز تغيير السعر. تقلب التقلبات العقارية أقل من الأصول المالية الأخرى لأن المعاملات العقارية تتم في السوق الخاصة وهي أقل سيولة.
                .tab-pane.fade#modcontent4
                  p الدخل من السندات والأسهم يخضع تماما لضريبة الدخل. العقارات تجعل من الممكن خصم الاستهلاك من القاعدة الضريبية، في حين أن القيمة السوقية للأصل العقاري لا تتغير.
                .tab-pane.fade#modcontent5
                  p عادة، العقارات تتبع التضخم. توفر اتفاقيات الإيجار القياسية فهرسة سنوية، قد يتم التعبير عنها كنسبة مئوية ثابتة أو تساوي مؤشر أسعار المستهلك. في حالة بيع الشقق، السعر، مع الطلب المستقر، ينمو مع التضخم.
                .tab-pane.fade#modcontent6
                  p الاستثمار في العقارات لديه إمكانية لنمو القيمة من خلال التحسينات المحتملة (على سبيل المثال، التجديد، البناء الجديد، أو تحسين الإدارة). قيمة التغييرات العقارية خلال دورات السوق. وبالتالي، فإن وقت البيع هو جانب رئيسي من تعظيم القيمة للمستثمر.
                .tab-pane.fade#modcontent7
                  p عادة ما تنطوي الاستثمارات في العقارات التجارية عادة على تدفقات نقدية مستقرة في شكل عقود إيجار، يتم توزيعها من خلال الأرباح على أساس شهري أو ربع سنوي أو سنوي.
                .tab-pane.fade#modcontent8
                  p إذا تم استخدام القروض المصرفية لشراء العقارات، فسيتم استخدام دخل الإيجار كمدفوعات الديون. وسيقلل من عبء الديون، وبالتالي زيادة رأس المال الأسهم، أن المستثمر يعلن في ذلك الوقت الذي تباع فيه العقارات. إذا كان مبلغ القرض أقل من رأس المال الأسهم، فسيتمكن المستثمر من كسب بعض الأموال بسبب الفرق بين تكلفة راس مال الأسهم والديون.
        section#real-4.section.real-4
          div(data-src="../img/real-map.png").tab-content.lazy
            .container
              h2.text-center بعض الولايات القضائية المحتملة:
              .country.britain
                .wrapper
                  .dot
                  .text بريطانيا العظمى
                  .image
                    img(src="../img/map-uk.png", alt="Great Britain")
                  .line
                  .description نحن متخصصون في بيع العقارات التجارية والاستثمار والسكنية في جميع أنحاء المملكة المتحدة، وكذلك في صيانتها الإضافية.
                    br
                    | نساعد في زيادة أرباحك من خلال الحصول على قروض الرهن العقاري من البنوك البريطانية ومحافظ الاستثمار المتنوعة وتحديد العقارات الأكثر سيولة.
              .country.usa
                .wrapper
                  .dot
                  .text الولايات المتحدة الأمريكية
                  .image
                    img(src="../img/map-usa.png", alt="USA")
                  .line
                  .description حتى الآن، زودنا عملائنا بمئات المنازل.نحن نوفر لعملائنا قروض الرهن العقاري في البنوك الأمريكية. في الولايات المتحدة، يوجد منتج مصرفي خاص - قرض عقاري للأجانب، مع ظروف متفاوتة من منظمة إلى أخرى. عادة ما يكون الحد الأدنى لمبلغ القرض هو 100000 دولار، ويبدأ مبلغ الدفع في الحد الأدنى من 30٪ (اعتمادا على نوع العقارات)، ويبدأ سعر الفائدة من 5٪ سنويا (اعتمادا على فترة القرض والدفع المقدم). فترة القرض تصل إلى 30 عاما.
              .country.canada
                .wrapper
                  .dot
                  .text كندا
                  .image
                    img(src="../img/map-canada.png", alt="Canada")
              .country.portugal
                .wrapper
                  .dot
                  .text البرتغال
                  .image
                    img(src="../img/map-portugal-small.png", alt="Portugal")
                  .line
                  .description قد يكون الاستحواذ على العقارات في البرتغال خيارا ممتازا للأسباب التالية:
                    br
                    | أسعار منخفضة. الملكية المحلية أكثر ربحية من العديد من الدول الأوروبية.
                    br
                    | جودة الحياة. لشبونة في قوائم أفضل العواصم الأوروبية من حيث الإقامة والهجرة.
                    br
                    | الثقة تجاه الأجانب. الموقف البرتغالي تجاه الأجانب ودية للغاية، مع قانون ليبرالي بشأن الهجرة في القوة.
                    br
                    | القدرة على الحصول على قرض. توفر السلطات البرتغالية الأجانب مع قروض العقارية ذات حزمة ضئيلة من الوثائق المطلوبة.
              .country.spain
                .wrapper
                  .dot
                  .text إسبانيا
                  .image
                    img(src="../img/map-spain-small.png", alt="Spain")
              .country.germany
                .wrapper
                  .dot
                  .text ألمانيا
                  .image
                    img(src="../img/map-germany.png", alt="Germany")
                  .line
                  .description شراء العقارات في ألمانيا يقدم عددا من المزايا:
                    br
                    | دخل مستقر وعملة موثوقة - يورو. هذا استثمار مهم للغاية، ومناسب لأولئك الذين يقيمون في روسيا ويرغبون في إنشاء "وسادة هوائية" مستقرة باليورو.
                    br
                    | تمنح مالكي العقارات الأجنبية في تأشيرة شنغن مع الحق في البقاء في الاتحاد الأوروبي. خلال هذه الفترة، يمكنك السفر في جميع أنحاء أوروبا أو تعيش في منطقتك، دون أي قيود في حالة الهجرة.
                    br
                    | إمكانية الحصول على تمويل من البنوك الألمانية لشراء المزيد من العقارات بأسعار فائدة منخفضة.
                    br
                    | يعتمد احتمال الحصول على تصريح إقامة على مبلغ الاستثمار وتطبق أكثر على العقارات التجارية في ألمانيا، والهجرة التجارية هي خيار شعبي في البلاد.
              .country.israel
                .wrapper
                  .dot
                  .text إسرائيل
                  .image
                    img(src="../img/map-israel.png", alt="Israel")
                  .line
                  .description تفضل الأجانب الأثرياء الاستثمار في العقارات في الأماكن الشهيرة والرمزية، على سبيل المثال، بالقرب من جدران مدينة القدس القديمة أو على طول ساحل تل أبيب. بالإضافة إلى ذلك، هناك اهتمام كبير كبير في السكن الموجود على مشارف المدن.
                    br
                    | على وجه الخصوص، غالبا ما يختار المستثمرون الذين يرغبون في شراء المنازل من قبل البحر مدينة تل أبيب باهظة الثمن، بل مدن أخرى على ساحل البحر المتوسط، مثل نتانيا أو أشدود، حيث تكون الأسعار أقل نسبيا.
              .country.cyprus
                .wrapper
                  .dot
                  .text قبرص
                  .image
                    img(src="../img/map-cyprus-small.png", alt="Cyprus")
                  .line
                  .description من بين المستثمرين المحتملين الذين يرغبون في الحصول على جنسية ثانية أو تصريح إقامة عن طريق شراء عقار ، أصبحت قبرص الآن في القمة. لماذا؟ لأن قبرص جزء من الاتحاد الأوروبي. على سبيل المثال ، إذا قمت بشراء عقار في تركيا أو الجبل الأسود ، فستحصل على تصريح إقامة لمدة عام لجميع أفراد الأسرة على الفور تقريبًا. تطبق نفس الشروط في قبرص في حالة شراء أي عقار بتكلفة 300 ألف يورو أو أكثر. لكن هذا تصريح إقامة في إحدى دول الاتحاد الأوروبي ، وبه يمكنك السفر في جميع أنحاء أوروبا بدون تأشيرة. هناك فرص عظيمة. وإذا حصلت على إقامة دائمة في قبرص ، فهناك المزيد من الفرص في انتظارك. وإذا كان لديك إقامة دائمة مدى الحياة ، فستحتاج فقط إلى زيارة قبرص مرة واحدة في غضون عامين. وهذا يعني أن الجزيرة لا تنشئ أي شروط لك.
              .country.thailand
                .wrapper
                  .dot
                  .text تايلاند
                  .image
                    img(src="../img/map-thailand.png", alt="Thailand")
                  .line
                  .description يعد سوق العقارات في تايلاند واحدًا من أكثر الأسواق ازدحامًا في جنوب شرق آسيا بأكملها ، حيث يتوقع الخبراء أعلى نمو في قطاع الرفاهية. هذا هو المكان الأكثر حرية والأكثر طلبًا ، لذلك من المتوقع أن تظهر مصالح عقارية غريبة جديدة وزيادة الربحية.
              .country.montenegro
                .wrapper
                  .dot
                  .text الجبل الأسود
                  .image
                    img(src="../img/map-montenegro.png", alt="Montenegro")
                  .line
                  .description مونتينجيرو بلد "صغير" للغاية به مدن جميلة مثل بودفا وبار وكوتور. من الملائم العيش هناك حيث تقع في وسط أوروبا. تبدأ أسعار العقارات في مونتينجيرو من 1600 يورو للمتر المربع. يمكن أن تكلف الشقة التي تبلغ مساحتها حوالي 50-60 مترًا مربعًا 75 ألف يورو. بطبيعة الحال ، نحن لا نتحدث عن المجمعات الفاخرة كما هو الحال في تايلاند أو تركيا ، ولكن هذه الشقة ستكون على بعد 800 متر من الساحل ، وستكون جميع أنشطة بودفا هناك من أجلك ، على مسافة قريبة!
              .country.czech
                .wrapper
                  .dot
                  .text الجمهورية التشيكية
                  .image
                    img(src="../img/map-czech.png", alt="Czech Republic")
                  .line
                  .description جمهورية التشيك هي مكان مريح بشكل استثنائي لأي شكل من أشكال إقامة طويلة الأجل، سواء كان السبب الإقامة الدائمة أو الترفيه أو الأعمال التجارية أو الدراسة. جمهورية التشيك هي دولة أوروبية نموذجية ذات طبيعة خفيفة ومتنوعة، وهي نظام سياسي، اقتصادي وقانوني ثابت، منتجعات مشهورة عالميا، فرص وفيرة للعطلات الصيفية والشتوية، وأفضل بيرة في العالم، وتاريخ غني وبعد جمهورية التشيك بلد متقدم من الناحية التكنولوجية ولديها واحدة من أعلى معدلات النمو الاقتصادي في أوروبا. تقع جمهورية التشيك مفيدة في وسط أوروبا، على بعد 2-4 ساعات بالسيارة بعيدا عن رأس مالها، براغ، إلى فيينا، برلين، أو ميونيخ.
              .country.hungary
                .wrapper
                  .dot
                  .text هنغاريا
                  .image
                    img(src="../img/map-hungary-small.png", alt="Hungary")
              .country.greece
                .wrapper
                  .dot
                  .text اليونان
                  .image
                    img(src="../img/map-greece.png", alt="Greece")
              .country.italy
                .wrapper
                  .dot
                  .text إيطاليا
                  .image
                    img(src="../img/map-italy.png", alt="Italy")
              .country.latvia
                .wrapper
                  .dot
                  .text لاتفيا
                  .image
                    img(src="../img/map-latvia-small.png", alt="Latvia")
              .country.uae
                .wrapper
                  .dot
                  .text الإمارات العربية المتحدة
                  .image
                    img(src="../img/map-uae.png", alt="UAE")
              .country.turkey
                .wrapper
                  .dot
                  .text تركيا
                  .image
                    img(src="../img/map-Turkey.png", alt="turkey")
              .d-block.d-xl-none
                .grid-wrap
                  .grid-item
                    .country-wrapper
                      .title
                        .dot
                        | بريطانيا العظمى
                      .text
                        p نحن متخصصون في بيع العقارات التجارية والاستثمار والسكنية في جميع أنحاء المملكة المتحدة، وكذلك في صيانتها الإضافية.
                        p نساعد في زيادة أرباحك من خلال الحصول على قروض الرهن العقاري من البنوك البريطانية ومحافظ الاستثمار المتنوعة وتحديد العقارات الأكثر سيولة.
                  .grid-item
                    .country-wrapper
                      .title
                        .dot
                        | تايلاند
                      .text
                        p يعد سوق العقارات في تايلاند واحدًا من أكثر الأسواق ازدحامًا في جنوب شرق آسيا بأكملها ، حيث يتوقع الخبراء أعلى نمو في قطاع الرفاهية. هذا هو المكان الأكثر حرية والأكثر طلبًا ، لذلك من المتوقع أن تظهر مصالح عقارية غريبة جديدة وزيادة الربحية.
                  .grid-item
                    .country-wrapper
                      .title
                        .dot
                        | الجبل الأسود
                      .text
                        p مونتينجيرو بلد "صغير" للغاية به مدن جميلة مثل بودفا وبار وكوتور. من الملائم العيش هناك حيث تقع في وسط أوروبا. تبدأ أسعار العقارات في مونتينجيرو من 1600 يورو للمتر المربع. يمكن أن تكلف الشقة التي تبلغ مساحتها حوالي 50-60 مترًا مربعًا 75 ألف يورو. بطبيعة الحال ، نحن لا نتحدث عن المجمعات الفاخرة كما هو الحال في تايلاند أو تركيا ، ولكن هذه الشقة ستكون على بعد 800 متر من الساحل ، وستكون جميع أنشطة بودفا هناك من أجلك ، على مسافة قريبة!
                  .grid-item
                    .country-wrapper
                      .title
                        .dot
                        | ألمانيا
                      .text
                        p شراء العقارات في ألمانيا يقدم عددا من المزايا:
                        p دخل مستقر وعملة موثوقة - يورو. هذا استثمار مهم للغاية، ومناسب لأولئك الذين يقيمون في روسيا ويرغبون في إنشاء "وسادة هوائية" مستقرة باليورو.
                        p تمنح مالكي العقارات الأجنبية في تأشيرة شنغن مع الحق في البقاء في الاتحاد الأوروبي. خلال هذه الفترة، يمكنك السفر في جميع أنحاء أوروبا أو تعيش في منطقتك، دون أي قيود في حالة الهجرة.
                        p إمكانية الحصول على تمويل من البنوك الألمانية لشراء المزيد من العقارات بأسعار فائدة منخفضة.
                        p يعتمد احتمال الحصول على تصريح إقامة على مبلغ الاستثمار وتطبق أكثر على العقارات التجارية في ألمانيا، والهجرة التجارية هي خيار شعبي في البلاد.
                  .grid-item
                    .country-wrapper
                      .title
                        .dot
                        | إسرائيل
                      .text
                        p تفضل الأجانب الأثرياء الاستثمار في العقارات في الأماكن الشهيرة والرمزية، على سبيل المثال، بالقرب من جدران مدينة القدس القديمة أو على طول ساحل تل أبيب. بالإضافة إلى ذلك، هناك اهتمام كبير كبير في السكن الموجود على مشارف المدن.
                        p على وجه الخصوص، غالبا ما يختار المستثمرون الذين يرغبون في شراء المنازل من قبل البحر مدينة تل أبيب باهظة الثمن، بل مدن أخرى على ساحل البحر المتوسط، مثل نتانيا أو أشدود، حيث تكون الأسعار أقل نسبيا.
                  .grid-item
                    .country-wrapper
                      .title
                        .dot
                        | قبرص
                      .text
                        p من بين المستثمرين المحتملين الذين يرغبون في الحصول على جنسية ثانية أو تصريح إقامة عن طريق شراء عقار ، أصبحت قبرص الآن في القمة. لماذا؟ لأن قبرص جزء من الاتحاد الأوروبي. على سبيل المثال ، إذا قمت بشراء عقار في تركيا أو الجبل الأسود ، فستحصل على تصريح إقامة لمدة عام لجميع أفراد الأسرة على الفور تقريبًا. تطبق نفس الشروط في قبرص في حالة شراء أي عقار بتكلفة 300 ألف يورو أو أكثر. لكن هذا تصريح إقامة في إحدى دول الاتحاد الأوروبي ، وبه يمكنك السفر في جميع أنحاء أوروبا بدون تأشيرة. هناك فرص عظيمة. وإذا حصلت على إقامة دائمة في قبرص ، فهناك المزيد من الفرص في انتظارك. وإذا كان لديك إقامة دائمة مدى الحياة ، فستحتاج فقط إلى زيارة قبرص مرة واحدة في غضون عامين. وهذا يعني أن الجزيرة لا تنشئ أي شروط لك.
                  .grid-item
                    .country-wrapper
                      .title
                        .dot
                        | البرتغال
                      .text
                        p قد يكون الاستحواذ على العقارات في البرتغال خيارا ممتازا للأسباب التالية:
                        p أسعار منخفضة. الملكية المحلية أكثر ربحية من العديد من الدول الأوروبية.
                        p جودة الحياة. لشبونة في قوائم أفضل العواصم الأوروبية من حيث الإقامة والهجرة.
                        p الثقة تجاه الأجانب. الموقف البرتغالي تجاه الأجانب ودية للغاية، مع قانون ليبرالي بشأن الهجرة في القوة.
                        p القدرة على الحصول على قرض. توفر السلطات البرتغالية الأجانب مع قروض العقارية ذات حزمة ضئيلة من الوثائق المطلوبة.
                  .grid-item
                    .country-wrapper
                      .title
                        .dot
                        | الولايات المتحدة الأمريكية
                      .text
                        p حتى الآن، زودنا عملائنا بمئات المنازل.نحن نوفر لعملائنا قروض الرهن العقاري في البنوك الأمريكية. في الولايات المتحدة، يوجد منتج مصرفي خاص - قرض عقاري للأجانب، مع ظروف متفاوتة من منظمة إلى أخرى. عادة ما يكون الحد الأدنى لمبلغ القرض هو 100000 دولار، ويبدأ مبلغ الدفع في الحد الأدنى من 30٪ (اعتمادا على نوع العقارات)، ويبدأ سعر الفائدة من 5٪ سنويا (اعتمادا على فترة القرض والدفع المقدم). فترة القرض تصل إلى 30 عاما.
                  .grid-item
                    .country-wrapper
                      .title
                        .dot
                        | الجمهورية التشيكية
                      .text
                        p جمهورية التشيك هي مكان مريح بشكل استثنائي لأي شكل من أشكال إقامة طويلة الأجل، سواء كان السبب الإقامة الدائمة أو الترفيه أو الأعمال التجارية أو الدراسة. جمهورية التشيك هي دولة أوروبية نموذجية ذات طبيعة خفيفة ومتنوعة، وهي نظام سياسي، اقتصادي وقانوني ثابت، منتجعات مشهورة عالميا، فرص وفيرة للعطلات الصيفية والشتوية، وأفضل بيرة في العالم، وتاريخ غني وبعد جمهورية التشيك بلد متقدم من الناحية التكنولوجية ولديها واحدة من أعلى معدلات النمو الاقتصادي في أوروبا. تقع جمهورية التشيك مفيدة في وسط أوروبا، على بعد 2-4 ساعات بالسيارة بعيدا عن رأس مالها، براغ، إلى فيينا، برلين، أو ميونيخ.
        section.section.real-5.lazy(data-src="../img/rtl/real-5.png")
          .container
            .row
              .col-xl-5.offset-xl-7
                h2
                  span تجاري
                  br
                  | العقارات
                p.sub-title
                  strong العقارات التجارية هي المباني والهياكل والمواقع التي تهدف إلى تحقيق ربح من خلال تأجير أو القيام بأنشطة تجارية مباشرة من قبل المالك. يمكن لأي كيان قانوني أو فرد أن يمتلك كائنًا عقاريًا تجاريًا. تعتبر ربحية العقارات التجارية المعيار الأساسي لتقييمها.
                ul
                  li
                    p 
                      strong العقارات التجارية لتجارة التجزئة. 
                    p مراكز التسوق والترفيه والمتاجر والصيدليات وتجار السيارات. أي كل ما يرتبط ببيع التجزئة.
                  li
                    p 
                      strong العقارات التجارية الصناعية.
                    p تنتمي مناطق إنتاج المصانع والمؤسسات وكذلك المستودعات إلى هذه المجموعة.
                  li
                    p 
                      strong عقارات المكاتب التجارية.
                    p عقارات المكاتب التجارية. النوع الأكثر طلبًا من العقارات في الوقت الحالي: السوق يتطور وتظهر شركات جديدة ، وهو مكتب شخصي ضروري ، أصبح استئجار مساحات مكتبية شكل شائع من العلاقات. يؤثر الطلب الكبير على هذا النوع من العقارات على سعره.
        section.section.real-6
          .container
            h2.text-center
              span كيف يمكن للمرء استخدام العقارات التجارية؟
            p.sub-title.text-center العقارات التجارية تستخدم لتحقيق الربح. تحقيقا لهذه الغاية ، يمكن أن تكون العقارات:
            .row
              .col-lg-4
                .item
                  .icon
                    img(src="../img/real-5-1.png")
                  .title.text-center.left منظمة لمؤسستك الخاصة
                  .text من خلال المؤسسة ، ليس المقصود فقط إنتاج السلع ولكن أيضًا أي نوع آخر من الأعمال. هذا الخيار مناسب للمالكين الذين لديهم خطة عمل مدروسة جيدًا ورغبة في إجراء أنشطة تجارية واسعة النطاق. تساعد المباني الخاصة بك على توفير الأموال وتوجيهها لتطوير الأعمال.
              .col-lg-4
                .item
                  .icon
                    img(src="../img/real-5-2.png")
                  .title.text-center التأجير
                  .text إذا كنت تمتلك مساحة تجارية ، فيمكنك تأجيرها إلى رواد أعمال آخرين والحصول على دخل سلبي. بعد دفع الضرائب على تأجير العقارات الخاصة بك ، ستحصل على صافي ربح بدون أي رأس مال إضافي أو استثمارات عمالية. يمكنك التعويض عن اهتراء المبنى على حساب المستأجر من خلال تحديد هذا الشرط في الاتفاقية.
              .col-lg-4
                .item
                  .icon
                    img(src="../img/real-5-3.png")
                  .title.text-center إعادة البيع
                  .text إذا اشتريت عقارًا في حالة سيئة ، على سبيل المثال ، بدون إصلاح ، فيمكنك تحسينه وإعادة بيعه بسعر أكثر ملاءمة.
            p.bottom في بعض الحالات ، من غير المستحسن إدارة عقارات من النوع التجاري بنفسك ، على سبيل المثال ، إذا لم يكن لدى المالك المهارات أو المعلومات أو الوقت اللازم. من أجل زيادة ربحية استثمارك ، يمكنك توقيع عقد مع شركة تقدم خدمات الوساطة العقارية التجارية. في سياق المعاملة ، ينقل المالك العقار إلى أطراف ثالثة ستبذل قصارى جهدها لزيادة ربحية العقار.
        section#real-7.section.real-7.lazy(data-src="../img/rtl/real-7.png")
          .container
            .col-lg-7
              h2
                span الإدارة الائتمانية
              p إذا قمت بشراء عقار في بلد آخر ، فستواجه عددًا من المهام الجديدة المتعلقة بصيانة أو خدمة الشقة أو المنزل الذي تم شراؤه بعد الشراء.
                br.d-none.d-lg-block
                strong تقدم شركة أكاليستا لعملائها خدمات الإدارة الائتمانية للعقارات المشتراة.
              ul
                li لن نكون مجرد وسيط في البحث عن المستأجرين - سنقوم بتمثيل اهتماماتك في جميع الأمور القانونية والمالية والاقتصادية لضمان أن الممتلكات الخاصة بك في حالة تقنية مثالية وتجلب الربح.
                li سوف نقوم بإبرام عقود نيابة عنك مع شركات المرافق (الكهرباء والغاز والمياه والصرف الصحي والتدفئة).
                li يجب أن يتم اختيار المستأجرين بعناية لأنه من الضروري ألا يدفع المستأجر جميع الفواتير والإيجارات في الوقت المحدد فحسب ، بل لا يفسد أو يتلف الممتلكات.
                li نساعد مالك الشقة في اختيار الطريقة الأنسب والأمثل لدفع الإيجار. نحن نراقب المستأجر باستمرار على أساس طويل الأجل.
                li إذا كان هناك أي عيوب أو أعطال فنية ، فسنحل هذه المشكلات.
                li إذا لزم الأمر ، سنقوم بتسجيلك كدافع ضرائب لاستئجار العقار ، وإعداد إقرار ضريبي ، ومساعدتك على دفع هذه الضريبة بشكل صحيح.
                li سنحل أي مشاكل أو نزاعات قانونية ، إن وجدت.
                li سوف نقوم بتأمين الممتلكات الخاصة بك في حالة حدوث ضرر غير متوقع أو ناتج عن قوة قاهرة.
        .modal.form.real.fade(id="form" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                .container
                  h5.modal-title اتصل بنا
                  button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span.close-icon(aria-hidden="true")
                      img.lazy(data-src="img/close-form.png" alt="close")
              .modal-body
                .main-info
                  .container
                    form(action="form.php")
                      .form-group
                        input#name.form-control(name='name' type='text' required placeholder='اسم الشخص *')
                      .form-group
                        input#email.form-control(name='email' type='email' required placeholder='البريد الالكتروني *')
                      .form-group
                        input#phone.form-control(name="phone" type='tel' required placeholder='الهاتف *')
                      .form-group
                        textarea#msg.form-control(name="msg" type='text' cols="30", rows="5" placeholder='الرسالة')
                      .response-message
                      button(type="submit" id="contactSubmit") ارسال الطلب



      footer.footer
        .container
          .footer-nav
            .row
              .col-md-6
                ul.tel-ul
                  li
                    img.lazy(data-src="img/israel-flag.png")
                    a(href="tel:+972 3375 11 34") +972 3375 11 34
                  li
                    img.lazy(data-src="img/usa-flag.png")
                    a(href="tel:+1 929 322 8811") +1 929 322 8811
                  li
                    img.lazy(data-src="img/uk-flag.png")
                    a(href="tel:+44 20 4577 1146") +44 20 4577 1146
                  li
                    img.lazy(data-src="img/ukraine-flag.png")
                    a(href="tel:+380 95 687 29 07") +380 95 687 29 07
              .col-md-6
                ul.payment-ul
                  li.flexed
                    a(href="https://google.com" target="_blank")
                      img.lazy.pay-sys(data-src="img/swift.png")
                    a(href="https://google.com" target="_blank")
                      img.lazy.pay-sys(data-src="img/sepa.jpg")
                  li.flexed
                    a(href="https://google.com" target="_blank")
                      img.lazy.pay-sys(data-src="img/masterCard.jpg")
                    a(href="https://google.com" target="_blank")
                      img.lazy.pay-sys(data-src="img/visa.jpg")
                  li.flexed.btc-flexed
                    a(href="https://google.com" target="_blank")
                      img.lazy.pay-sys(data-src="img/btc.png")

          .footer-wrap
            .copy جميع الحقوق محفوظة من قبل أكاليستا.
            .social
              a(href="https://www.facebook.com/acalistagroup" target="blank")
                .icon
                  img(src="img/facebook_logo.png", alt="facebook")
              a(href="https://www.instagram.com/acalistagroup/" target="blank")
                .icon
                  img(src="img/instagram-brands.png", alt="instagram")
              a(href="https://www.linkedin.com/company/acalista-group/" target="blank")
                .icon
                  img(src="img/linkedin_logo.png", alt="linkedIn")
              a(href="https://twitter.com/AcalistaGroup" target="blank")
                .icon
                  img(src="img/twitter-brands.png", alt="linkedIn")
            .mail
              a(href="mailto:info@acalista.com") info@acalista.com
      script(src="js/jquery.min.js")
      script(src="js/bootstrap.min.js")
      script(src="js/lazy-load.js")
      script(src="js/aos.js")
      script(src="js/three.min.js")
      script(src="js/OrbitControls.js")
      script(src="js/Tween.js")
      script(src="//unpkg.com/three-spritetext")
      script(src="js/cube2.js")
      script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
      script(src="js/script.js")
      script(type='text/javascript').
        _linkedin_partner_id = "3747153";
        window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
        window._linkedin_data_partner_ids.push(_linkedin_partner_id);
      script(type='text/javascript').
        (function(l) {
        if (!l){window.lintrk = function(a,b){window.lintrk.q.push([a,b])};
        window.lintrk.q=[]}
        var s = document.getElementsByTagName("script")[0];
        var b = document.createElement("script");
        b.type = "text/javascript";b.async = true;
        b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
        s.parentNode.insertBefore(b, s);})(window.lintrk);
      noscript
        img(height='1' width='1' style='display:none;' alt='' src='https://px.ads.linkedin.com/collect/?pid=3747153&fmt=gif')